Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Fixing parameter attachment undo steps
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachmentHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
Labels: plugin-utils

Trying to fix GCC compilation issues
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
Labels: none

Fix typo
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui

Fixing more warnings and such
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachmentHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StatePluginInterfaceTest.cpp
Labels: plugin-utils, tests

Working on fixing CI failures
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
Labels: gui, plugin-utils

Simplify non-parameter state methods
  examples/StatefulPlugin/StatefulPlugin.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParameterStateSerialization.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: gui, plugin-utils, tests, examples

Simplify parameter listeners
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
Labels: plugin-utils

Trying to fix Linux builds
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
Labels: none

A few final fixes
  examples/ModalSpringReverb/ModalReverbPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
Labels: plugin-utils, examples

ForwardingParametersManager: Add object type for deferring host parameter info changed notifications
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

Add methods to convert buffer types into JCUE buffers or blocks
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferConversionTest.cpp
Labels: dsp, tests

Add BufferMath::sumToMono
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferConversionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

Suppress some SONAR warnings
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
Labels: dsp

Add BufferMath::sumToMono and functions for getting from chowdsp buffers to JUCE buffers (#360)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferConversionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

BufferMath: assert that pointers are aligned when applying SIMD functions
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Update ForwardingTestPlugin example to use new plugin state
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils, examples

Fix no XSIMD compilation
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Refactor SIMD alignemtn helpers
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDAlignmentHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDAlignmentHelpersTest.cpp
Labels: dsp, tests

Fixing SIMD alignment stuff
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
Labels: dsp

Fix another missing function
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

Update ForwardingTestPlugin example to use new plugin state (#362)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDAlignmentHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDAlignmentHelpersTest.cpp
Labels: dsp, plugin-utils, tests, examples

Update docs and bump version
  CHANGELOG.md
  doxygen/Doxyfile
  modules/common/chowdsp_core/DataStructures/chowdsp_Iterators.h
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/common/chowdsp_units/chowdsp_units.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/Math/chowdsp_JacobiElliptic.h
  modules/dsp/chowdsp_math/Math/chowdsp_Ratio.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroTankNetwork.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplexMathOps.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
Labels: dsp, gui, plugin-utils, documentation

Setting up EQ filter plotting code
  cmake/AddJUCEModules.cmake
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/FilterPlots.cpp
  examples/SimpleEQ/FilterPlots.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_QValCalcs.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EQFilterPlots.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
Labels: dsp, gui, examples

Add tests for filter plotting module
  CHANGELOG.md
  README.md
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EQFilterPlots.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
  tests/test_utils/CodeQuality.cpp
Labels: dsp, gui, tests, documentation

Update EQ plots to handle EQ bands that might be turned off
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
Labels: gui, tests

Working on CI failures
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
Labels: gui

Initial work for chowdsp_visualizers module (#363)
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/FilterPlots.cpp
  examples/SimpleEQ/FilterPlots.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_QValCalcs.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EQFilterPlots.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
  tests/test_utils/CodeQuality.cpp
Labels: dsp, gui, tests, examples, documentation

Improve tests and such for time units
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
Labels: tests

Improve tests and such for time units (#364)
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
Labels: tests

ParameterAttachments: make ParameterChangeAction more flexible
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachmentHelpers.h
Labels: plugin-utils

EqualizerPlot: don't update plot paths if the component has 0 size
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
Labels: gui

Fix version number in CMake config [ci skip]
  CMakeLists.txt
Labels: none

Fix version number in sonar properties [ci skip]
  sonar-project.properties
Labels: none

Migrate JSON and Serializer tests to use Catch
  cmake/test/SetupCatchTest.cmake
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/JSONTest.cpp
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Migrate plugin state test to use Catch
  cmake/test/SetupCatchTest.cmake
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StatePluginInterfaceTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
  tests/test_utils/CatchTestRunner.cpp
Labels: tests

Fixing dsp_juce_test compilation
  tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
Labels: tests

Fixing waveshapers test on Windows
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: tests

Use types_list as third-party lib
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/macos.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/ubuntu.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/windows.yml
  modules/common/chowdsp_core/third_party/types_list/.gitignore
  modules/common/chowdsp_core/third_party/types_list/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/LICENSE
  modules/common/chowdsp_core/third_party/types_list/README.md
  modules/common/chowdsp_core/third_party/types_list/example/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/example/example.cpp
  modules/common/chowdsp_core/third_party/types_list/include/types_list/types_list.hpp
  modules/common/chowdsp_core/third_party/types_list/test/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
  modules/common/chowdsp_core/third_party/types_list/test/third_party/Catch2/LICENSE
  modules/common/chowdsp_core/third_party/types_list/test/third_party/Catch2/catch.hpp
Labels: none

Fix compiler error
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
Labels: dsp

Use types_list as third-party lib (#366)
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/macos.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/ubuntu.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/windows.yml
  modules/common/chowdsp_core/third_party/types_list/.gitignore
  modules/common/chowdsp_core/third_party/types_list/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/LICENSE
  modules/common/chowdsp_core/third_party/types_list/README.md
  modules/common/chowdsp_core/third_party/types_list/example/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/example/example.cpp
  modules/common/chowdsp_core/third_party/types_list/include/types_list/types_list.hpp
  modules/common/chowdsp_core/third_party/types_list/test/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
  modules/common/chowdsp_core/third_party/types_list/test/third_party/Catch2/LICENSE
  modules/common/chowdsp_core/third_party/types_list/test/third_party/Catch2/catch.hpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
Labels: dsp
