Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Add TupleHelpers::visit_at
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
  tests/common_tests/chowdsp_core_test/TupleHelpersTest.cpp
Labels: tests

Add HasStaticMember checker
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/static_tests/CMakeLists.txt
  tests/static_tests/HasStaticMemberTest_pass.cpp
Labels: plugin-utils, tests, examples

Fixing MSVC issues
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
Labels: plugin-utils, tests

Some cleaning up messes
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils, examples

Add comments
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

Small bits of cleanup
  modules/common/chowdsp_core/DataStructures/chowdsp_SmartPointer.h
  modules/common/chowdsp_core/JUCEHelpers/juce_FixedSizeFunction.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

Start setting up ParameterAttachment
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
Labels: plugin-utils

Better stuff worked out for non-parameter state
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests, examples

Add tests for SmartPointer
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_SmartPointer.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/SmartPointerTest.cpp
Labels: plugin-utils, tests, examples

Testing with non-parameter state
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBaseWithState.h
Labels: plugin-utils, examples

Finish adding new module to tests
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/StatefulPlugin/StatefulPlugin.cpp
  tests/test_utils/CodeQuality.cpp
Labels: tests, examples, ci-pipeline

Working slider attachments
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
Labels: plugin-utils, examples

Update comments and README
  README.md
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils, documentation

Implement some basic UndoManager stuff
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
Labels: plugin-utils, examples

Start working on CI failures
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  tests/static_tests/CMakeLists.txt
  tests/static_tests/PluginBaseAddParams_pass.cpp
  tests/static_tests/PluginBaseNoAddParams_fail.cpp
Labels: plugin-utils, tests

Finish implementing parameter attachments
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
Labels: plugin-utils, examples

More work on CI failures
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
Labels: plugin-utils

Nested parameter objects are working
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_SmartPointer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils, examples

Initial work in setting up new state module
  cmake/AddJUCEModules.cmake
  examples/CMakeLists.txt
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterConversions.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterConversions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBaseWithState.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils, examples

More constructors for a bunch of things
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  tests/static_tests/CMakeLists.txt
Labels: plugin-utils, tests

MemoryBlock serialization tests
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

A bit more work on parameter attachments
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
Labels: plugin-utils

ParametePath, plus clean up and more tests
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachmentHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
Labels: plugin-utils, tests, examples

Add todo list comment
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils

Implement parameter state listeners
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/common/chowdsp_core/JUCEHelpers/juce_FixedSizeFunction.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: plugin-utils, tests

Have PluginBase use PluginState if available
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBaseWithState.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
Labels: plugin-utils, examples

Rename SmartPointer to OptionalPointer and use convenient aliases for parameter pointer
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_core/DataStructures/chowdsp_SmartPointer.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests, examples

Parameter attachment tests
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachments.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
Labels: plugin-utils, tests

Add unit test for plugin state serialization
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

Making things messier with the hopes that they will be cleaner one day soon
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils, examples

Testing parameters and state save/load for non-float parameter types
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils, examples

Use nameof instead of forcing custom names for state types, also better UI bounds state handling
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_reflection/third_party/nameof/.github/FUNDING.yml
  modules/common/chowdsp_reflection/third_party/nameof/.github/workflows/macos.yml
  modules/common/chowdsp_reflection/third_party/nameof/.github/workflows/ubuntu.yml
  modules/common/chowdsp_reflection/third_party/nameof/.github/workflows/windows.yml
  modules/common/chowdsp_reflection/third_party/nameof/.gitignore
  modules/common/chowdsp_reflection/third_party/nameof/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/nameof/LICENSE
  modules/common/chowdsp_reflection/third_party/nameof/README.md
  modules/common/chowdsp_reflection/third_party/nameof/doc/limitations.md
  modules/common/chowdsp_reflection/third_party/nameof/doc/reference.md
  modules/common/chowdsp_reflection/third_party/nameof/example/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/nameof/example/example.cpp
  modules/common/chowdsp_reflection/third_party/nameof/example/example_custom_name.cpp
  modules/common/chowdsp_reflection/third_party/nameof/include/nameof.hpp
  modules/common/chowdsp_reflection/third_party/nameof/test/3rdparty/Catch2/LICENSE
  modules/common/chowdsp_reflection/third_party/nameof/test/3rdparty/Catch2/catch.hpp
  modules/common/chowdsp_reflection/third_party/nameof/test/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/nameof/test/test.cpp
  modules/common/chowdsp_reflection/third_party/nameof/test/test_aliases.cpp
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
Labels: plugin-utils, examples

Update README
  README.md
Labels: documentation

Try to fix missing include
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
Labels: none

Add magic_enum
  README.md
  modules/common/chowdsp_reflection/ReflectionHelpers/chowdsp_EnumHelpers.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_reflection/third_party/magic_enum/.github/FUNDING.yml
  modules/common/chowdsp_reflection/third_party/magic_enum/.github/workflows/macos.yml
  modules/common/chowdsp_reflection/third_party/magic_enum/.github/workflows/ubuntu.yml
  modules/common/chowdsp_reflection/third_party/magic_enum/.github/workflows/windows.yml
  modules/common/chowdsp_reflection/third_party/magic_enum/.gitignore
  modules/common/chowdsp_reflection/third_party/magic_enum/BUILD.bazel
  modules/common/chowdsp_reflection/third_party/magic_enum/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/magic_enum/LICENSE
  modules/common/chowdsp_reflection/third_party/magic_enum/README.md
  modules/common/chowdsp_reflection/third_party/magic_enum/WORKSPACE
  modules/common/chowdsp_reflection/third_party/magic_enum/doc/limitations.md
  modules/common/chowdsp_reflection/third_party/magic_enum/doc/reference.md
  modules/common/chowdsp_reflection/third_party/magic_enum/example/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/magic_enum/example/enum_flag_example.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/example/example.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/example/example_custom_name.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/example/example_nonascii_name.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/example/example_switch.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/include/magic_enum.hpp
  modules/common/chowdsp_reflection/third_party/magic_enum/include/magic_enum_format.hpp
  modules/common/chowdsp_reflection/third_party/magic_enum/include/magic_enum_fuse.hpp
  modules/common/chowdsp_reflection/third_party/magic_enum/include/magic_enum_switch.hpp
  modules/common/chowdsp_reflection/third_party/magic_enum/meson.build
  modules/common/chowdsp_reflection/third_party/magic_enum/package.xml
  modules/common/chowdsp_reflection/third_party/magic_enum/test/3rdparty/Catch2/LICENSE
  modules/common/chowdsp_reflection/third_party/magic_enum/test/3rdparty/Catch2/include/catch2/catch.hpp
  modules/common/chowdsp_reflection/third_party/magic_enum/test/CMakeLists.txt
  modules/common/chowdsp_reflection/third_party/magic_enum/test/test.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/test/test_aliases.cpp
  modules/common/chowdsp_reflection/third_party/magic_enum/test/test_flags.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests, documentation

Fixing parameter paths
  modules/common/chowdsp_reflection/ReflectionHelpers/chowdsp_NameOfHelpers.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
Labels: plugin-utils, tests

Add FreqHzParameter type
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

Fix Sonar issue
  modules/common/chowdsp_reflection/ReflectionHelpers/chowdsp_EnumHelpers.h
Labels: none

Small fixes from code review
  modules/common/chowdsp_reflection/ReflectionHelpers/chowdsp_NameOfHelpers.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils

Add optional way to tag parameter structs with names
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests
