Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

Preset: add function to get file that created the preset
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
Labels: plugin-utils, presets

Small unit test tweaks
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetTest.cpp
Labels: tests

Minor improvements to preset management system (#84)
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetTest.cpp
Labels: gui, plugin-utils, presets, tests

Fix issue where running presets test would delete local settings
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: tests

Fix issue where running presets test would delete local settings (#85)
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: tests

Move LNFAllocator to chowdsp_plugin_utils
  modules/chowdsp_gui/chowdsp_gui.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/LNFAllocatorTest.cpp
Labels: gui, plugin-utils, tests

Move LNFAllocator to chowdsp_plugin_utils (#86)
  modules/chowdsp_gui/chowdsp_gui.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/LNFAllocatorTest.cpp
Labels: gui, plugin-utils, tests

WDFs: Re-add dummy DiodeQuality parameter for DiodeT
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Update documentation for FirstOrderFilters
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
Labels: dsp

Add second-order peaking filter
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Updates to filter unit tests
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_IIRFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/SecondOrderFiltersTest.cpp
Labels: dsp, tests

Finish implementing canonical filter forms
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.cpp
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  tests/chowdsp_utils_test/dsp_tests/filter_tests/SecondOrderFiltersTest.cpp
Labels: dsp, tests

Implement canonical second-order filter forms (#87)
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_IIRFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.cpp
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/SecondOrderFiltersTest.cpp
Labels: dsp, tests

Add methods for evaluating polynomials
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PolynomialsTest.cpp
Labels: dsp, tests

Add methods for evaluating polynomials (#88)
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PolynomialsTest.cpp
Labels: dsp, tests

Start setting up FileListener class
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: plugin-utils

Add test for FileListener
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/FileListenerTest.cpp
Labels: plugin-utils, tests

Add GlobalPluginSettings class
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

Fix compilation on MSVC
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: tests

Add classes for GlobalPluginSettings and FileListener (#89)
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/FileListenerTest.cpp
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

Add class for upsampling
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_IIRFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PitchShiftTest.cpp
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/ResamplerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Implement downsampler
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Add documentation
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
Labels: dsp

Add utility classes for upsampling/downsampling (#90)
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_IIRFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PitchShiftTest.cpp
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/ResamplerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Minor tweaks to plugin settings and presets backends
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
Labels: plugin-utils, presets

Update tests for preset manager and plugin settings
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: plugin-utils, tests

Minor tweaks to plugin settings and presets backends (#91)
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

Minor tweaks to data types in delay interpolation and up/down-samples
  modules/chowdsp_dsp/Delay/chowdsp_DelayInterpolation.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
Labels: dsp

Fix small bugs with Downsampler
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
Labels: dsp

Minor tweaks to data types in delay interpolation and up/down-samples (#92)
  modules/chowdsp_dsp/Delay/chowdsp_DelayInterpolation.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
Labels: dsp

ParamUtils: add emplace_param utility method
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  tests/chowdsp_utils_test/DummyPlugin.h
Labels: plugin-utils, tests

ParamUtils: add emplace_param utility method (#93)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  tests/chowdsp_utils_test/DummyPlugin.h
Labels: plugin-utils, tests

ForwardingParameter: add function to access internal param
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
Labels: plugin-utils

Update parameter forwarding tests
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: tests

ForwardingParameter: add function to access internal param (#94)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

WDF: Improvements to RootRtypeAdaptor, add RtypeAdaptor
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Fix typo in comment
  modules/chowdsp_dsp/WDF/r_type.h
Labels: dsp, wdf

Move SampleTypeHelpers to its own file
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
Labels: dsp, wdf, tests

RTypes: use better approach for computing calcImpedance of R-Types
  modules/chowdsp_dsp/WDF/r_type.h
Labels: dsp, wdf

Update tests for R-Type adaptors
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/BassmanToneStack.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/BaxandallEQ.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
Labels: tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
