Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Add tests for Full Wave Rectifier
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAFullWaveRectifierTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: tests

Add wave multiplier tests
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/WaveMultiplierTest.cpp
Labels: dsp, tests

Fixing CI failures
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_LanczosResampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.h
  tests/test_utils/CatchUtils.h
Labels: dsp, plugin-utils, tests

Fix error in chowdsp::Noise
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.h
Labels: dsp

Add ARP filter emulation
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Add ARP filter emulation (#274)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Add test for loading lookup tables asynchronously
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableTransform.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/LookupTableLoadingTest.cpp
Labels: dsp, tests

Add test for loading lookup tables asynchronously (#275)
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableTransform.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/LookupTableLoadingTest.cpp
Labels: dsp, tests

Excude more things from sonar checks
  sonar-project.properties
Labels: none

Fix sonar issues in DSP code
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
Labels: dsp

TupleHelpers: add test and fix forwarding reference
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TupleHelpersTest.cpp
Labels: tests

Clean up Sonar issues in UI code
  modules/gui/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/gui/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
Labels: gui

Fixing issues caught by linter (#276)
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/gui/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/gui/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  sonar-project.properties
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TupleHelpersTest.cpp
Labels: dsp, gui, tests

Update README and CHANGELOG [ci skip]
  CHANGELOG.md
  README.md
Labels: documentation

Re-organize data structures and add MoodyCamel's lock-free queue
  README.md
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/LICENSE.md
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/atomicops.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/readerwriterqueue.h
Labels: dsp, documentation

ForwardingParametersManager: don't initialise forwardings parameters with APVTS to avoid double undo/redo
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

Re-delete double-added file
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

Update changelog
  CHANGELOG.md
Labels: none

Move FIR filter stuff to a cpp file
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.cpp
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp

Move include
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/chowdsp_filters.cpp
Labels: dsp

Fix typo
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fix FIRFilter build failures
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fix missing functions if FIR filter
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fix FIR filter double-precision vDSP usage
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
Labels: dsp

Fix missing include in upsample/downsample test
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: tests

Add wrapper for `moodycamel::ReaderWriterQueue` (#277)
  CHANGELOG.md
  README.md
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/LICENSE.md
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/atomicops.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/readerwriterqueue.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.cpp
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests, documentation

Add "DeferredAction" utility class
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: dsp, plugin-utils

Add test for deferred action
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

Fixing CI failures
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: plugin-utils, tests

Fix queue linting
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: dsp, plugin-utils

Trying again to fix linting
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: dsp, plugin-utils

Debugging clang-tidy checks
  .github/workflows/code-quality.yml
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: plugin-utils, ci-pipeline

Upgrade to clang-tidy 14
  .clang-tidy
  .github/workflows/code-quality.yml
  cmake/test/SetupCodeQuality.cmake
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: dsp, plugin-utils, ci-pipeline

Remvoe CI debugging
  .github/workflows/code-quality.yml
Labels: ci-pipeline

Fix clang-tidy version again
  .github/workflows/code-quality.yml
Labels: ci-pipeline

Add "DeferredAction" utility class (#278)
  .clang-tidy
  .github/workflows/code-quality.yml
  cmake/test/SetupCodeQuality.cmake
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: dsp, plugin-utils, tests, ci-pipeline

StateVariableFilter: fix vector initialization bug
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
Labels: dsp

Separate module for sound sources
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.h
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.h
  modules/dsp/chowdsp_sources/Other/chowdsp_RepitchedSource.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_RepitchedSource.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/RepitchedSourceTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SineTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SquareTest.cpp
  tests/dsp_tests/chowdsp_sources_test/TriangleTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, ci-pipeline

Basic working polygonal oscillator
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
Labels: dsp, examples

Small fixes and tests for Polygonal oscillator
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.h
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
Labels: dsp, tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
