Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Make chowdsp::Version more constexpr compatible and move to chowdsp namespace
  CHANGELOG.md
  modules/plugin/chowdsp_version/chowdsp_version.cpp
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/VersionUtilsTest.cpp
Labels: plugin-utils, tests

Fixing presets test
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.h
Labels: plugin-utils

Make chowdsp::Version more constexpr compatible and move to chowdsp namespace (#367)
  CHANGELOG.md
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_version/chowdsp_version.cpp
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/VersionUtilsTest.cpp
Labels: plugin-utils, tests

Add version string literal and version hint helper
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/plugin_tests/chowdsp_version_test/VersionUtilsTest.cpp
Labels: plugin-utils, tests

Refactor version module and add version streaming for PluginState
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_version/Version/chowdsp_Version.cpp
  modules/plugin/chowdsp_version/Version/chowdsp_Version.h
  modules/plugin/chowdsp_version/Version/chowdsp_VersionComparisons.h
  modules/plugin/chowdsp_version/Version/chowdsp_VersionDetail.h
  modules/plugin/chowdsp_version/chowdsp_version.cpp
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/VersionStreamingTest.cpp
  tests/plugin_tests/chowdsp_version_test/VersionUtilsTest.cpp
Labels: plugin-utils, tests

Working to fix CI failures
  modules/plugin/chowdsp_version/Version/chowdsp_Version.h
Labels: plugin-utils

More chowdsp_version refactoring and add version streamin to chowdsp_plugin_state (#368)
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_version/Version/chowdsp_Version.cpp
  modules/plugin/chowdsp_version/Version/chowdsp_Version.h
  modules/plugin/chowdsp_version/Version/chowdsp_VersionComparisons.h
  modules/plugin/chowdsp_version/Version/chowdsp_VersionDetail.h
  modules/plugin/chowdsp_version/chowdsp_version.cpp
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/VersionStreamingTest.cpp
  tests/plugin_tests/chowdsp_version_test/VersionUtilsTest.cpp
Labels: plugin-utils, tests

See if OpenGLHelper works better on Linux with JUCE 7.0.4
  .github/workflows/run-tests.yml
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
Labels: tests, ci-pipeline

Trying to fix tests
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
Labels: tests

Fix MSVC issues
  modules/plugin/chowdsp_version/Version/chowdsp_Version.h
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
Labels: plugin-utils, tests

Have message manager wait a bit longer
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: tests

Have state listeners test wait even longer
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: tests

Even more waiting...
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: tests

See if OpenGLHelper works better on Linux with JUCE 7.0.4 (#369)
  .github/workflows/run-tests.yml
  modules/plugin/chowdsp_version/Version/chowdsp_Version.h
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
Labels: plugin-utils, tests, ci-pipeline

ParamHolder: add interface for adding a container of parameters
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: plugin-utils

Add ParamHolder test
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParamHolderTest.cpp
Labels: plugin-utils, tests

ParamHolder: interface for adding a container of parameters (#370)
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParamHolderTest.cpp
Labels: plugin-utils, tests

OversamplingMenu: allow template argument for ComboBox type
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

Fixing templated constructor
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

OversamplingMenu: allow template argument for ComboBox type (#371)
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

SquareWave: add interface to effect the oscillator's duty cycle
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.h
Labels: dsp, examples

BypassProcessor: add template specialization with no latency compensation
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
Labels: dsp

Remove dead comment
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
Labels: dsp

BypassProcessor: add template specialization with no latency compensation (#372)
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
Labels: dsp

A couple more tests
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
Labels: tests

More WIP
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/test_utils/test_utils.h
Labels: plugin-utils, tests

Start setting up presetsV2 module
  cmake/AddJUCEModules.cmake
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
  tests/test_utils/test_utils.h
Labels: plugin-utils, tests

Remove TODO
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
Labels: plugin-utils

More preset tests
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
Labels: plugin-utils, tests

Even more presets interfaces
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
Labels: plugin-utils

PresetManager with working tests
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
Labels: plugin-utils, tests

Start setting up preset manager interfaces
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
Labels: plugin-utils, tests

Make sure presets and state always load on the message thread
  modules/common/chowdsp_core/JUCEHelpers/juce_FixedSizeFunction.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: plugin-utils, tests

Add more presets tests
  modules/common/chowdsp_core/DataStructures/chowdsp_VectorHelpers.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  tests/common_tests/chowdsp_core_test/VectorHelpersTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TestPresetBinaryData.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TestPresetBinaryData.h
Labels: plugin-utils, tests

Set up presets tree for organizing and storing presets
  modules/common/chowdsp_core/DataStructures/chowdsp_VectorHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/VectorHelpersTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/test_utils/test_utils.h
Labels: plugin-utils, tests

Presets component is mostly working
  examples/StatefulPlugin/StatefulPlugin.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.h
Labels: gui, plugin-utils, examples

Start setting up presets component
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.h
Labels: gui, plugin-utils, examples

More refactoring and tests
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
Labels: plugin-utils, tests

More work on preset interfaces
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: plugin-utils, tests

Interface for setting user presets path via chowdsp::PluginSettings
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
Labels: plugin-utils, tests, examples
