Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Group test dependencies for faster builds
  cmake/test/SetupCatchTest.cmake
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/CMakeLists.txt
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: tests

EQ: fix wrong units for gain parameter
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp

BufferMath add multiplyBufferData() function
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

BufferMath add multiplyBufferData() function (#382)
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

BufferView: add constructor for 1d-array
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
Labels: dsp, tests

Fix CI fails
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: dsp, tests

Fixing one more test
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: dsp, tests

BufferView: add constructor for 1d-array (#383)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: dsp, tests

Use more contiguous underlying data for chowdsp::Buffer and add macro for max number of buffer channels
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
Labels: dsp, tests

Update a bunch of code to use buffer iterators
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Making chowdsp::Buffer data more contiguous, and adding chowdsp::buffer_iters (#384)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Add basic implementation of GenericFilterPlotter
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
Labels: gui

Update unit tests
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
Labels: gui, tests

SpectrumPlotBase: Template parameters for drawing frequency and magnitude lines
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
Labels: gui

Add documentation
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.h
Labels: gui

Fixing CI failures
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.cpp
Labels: gui

Using Catch generators for random numbers in unit tests
  tests/common_tests/chowdsp_core_test/DoubleBufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/LookupTableTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CatchUtils.h
Labels: tests

Add a visualizer helper for plotting the response of a generic filter (#385)
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
Labels: gui, tests

Finixing compiler error
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
Labels: tests

Using Catch generators for random numbers in unit tests (#386)
  tests/common_tests/chowdsp_core_test/DoubleBufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/LookupTableTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CatchUtils.h
Labels: tests

Convert chowdsp_parameters_test & chowdsp_plugin_utils_test to Catch; group dependencies
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/RhythmParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioFileSaveLoadHelperTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/FileListenerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/PluginLoggerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
Labels: tests

LNFAllocator: more optimized usage of unordered_map
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
Labels: plugin-utils

ADAAWaveshaper: refactor to use OptionalPointer
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

LNFAllocator: more optimized usage of unordered_map (#387)
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
Labels: plugin-utils

Fix null LUTs
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: dsp, tests

ADAAWaveshaper: refactor to use OptionalPointer (#388)
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: dsp, tests

Fix chowdsp_reflection compiling without JUCE
  modules/common/chowdsp_reflection/ReflectionHelpers/chowdsp_EnumHelpers.h
Labels: none

LInearPhaseEQ: allow double-precision prototype EQ
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
Labels: dsp, examples

Update SimpleEQ example
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
Labels: examples

Fixing CI failures
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
Labels: dsp, tests

LinearPhaseEQ: allow double-precision prototype EQ (#389)
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
Labels: dsp, tests, examples

Update CHANGELOG [ci skip]
  CHANGELOG.md
Labels: none

Update README [ci skip]
  README.md
Labels: documentation

Use Catch::Generator instead of juce::Random in tests
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: tests

ModalFilterBank: small cleanup
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.h
Labels: dsp

Use Catch-based makeNoise function for all tests
  tests/dsp_tests/chowdsp_dsp_juce_test/FIRFilterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioFileSaveLoadHelperTest.cpp
  tests/test_utils/test_utils.h
Labels: tests

auto-format: show the names of changed files
  .github/workflows/auto-format.yml
Labels: ci-pipeline

Fixing thread-unsafe REQUIRE's in GlobalSettingsTest
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: tests

Run clang-format
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/RhythmParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioFileSaveLoadHelperTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/FileListenerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/PluginLoggerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
Labels: tests

Apply suggestions from code review
  cmake/test/SetupCatchTest.cmake
Labels: none
