Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Update chowdsp::EQ code to use new state where applicable
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
Labels: dsp, plugin-utils, examples

Get working const BufferView
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.cpp
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResampledProcess.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResamplingProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
Labels: dsp, plugin-utils, examples

Working on fixing CI failures
  .github/workflows/auto-format.yml
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
Labels: dsp, ci-pipeline

Working on fixing BufferView constructors
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResamplingProcessor.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
Labels: dsp, tests

Fixing build failures
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResamplingProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Fix sources test
  tests/dsp_tests/chowdsp_sources_test/SineTest.cpp
Labels: tests

Set up chowdsp::EQ with new plugin state (#349)
  .github/workflows/auto-format.yml
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.cpp
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResampledProcess.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResamplingProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SineTest.cpp
Labels: dsp, plugin-utils, tests, examples, ci-pipeline

Trying to fix auto-format CI workflow
  .github/workflows/auto-format.yml
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
Labels: dsp, ci-pipeline

Refactor modal DSP classes into their own module
  .github/workflows/build-arm-mac.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ModalSpringReverb/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.cpp
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterBankTest.cpp
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, examples, documentation, ci-pipeline

Fix C++ version flags for string_view_concat
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
Labels: none

ARPFilter: fix argument that was [[maybe_unused]]
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
Labels: dsp

Fix C++ version flags for string_view_concat (#352)
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
Labels: none

Refactor modal DSP classes into their own module (#351)
  .github/workflows/build-arm-mac.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ModalSpringReverb/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.cpp
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterBankTest.cpp
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, examples, documentation, ci-pipeline

Add parameter types for time and ratio parameters
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

Add method for concatenating string_view's at run-time
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
Labels: none

Starting to improve BufferMath interface
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

Some cleanup and tests
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

Add parameter types for time and ratio parameters (#353)
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

BufferMath: implementing out-of-place functions
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

Remove un-needed forward declaration
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

Trying to fix tests for Windows and Linux
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

BufferMath: add implementations for out-of-place operations (#355)
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

StringHelpers: tool for concatenating string_view objects at run-time (#354)
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

Fixing string-related issues when saving/loading plugin state
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_json/JSONUtils/chowdsp_StringAdapter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
Labels: plugin-utils

Update tests
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/HasMemberTest_pass.cpp
  tests/static_tests/HasStaticMemberTest_pass.cpp
Labels: plugin-utils, tests

Fix check_has_member type trait
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
Labels: none

Tweaks to plugin state string types (#356)
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_json/JSONUtils/chowdsp_StringAdapter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/HasMemberTest_pass.cpp
  tests/static_tests/HasStaticMemberTest_pass.cpp
Labels: plugin-utils, tests

BufferView: add constructor for const juce::AudioBuffer
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
Labels: dsp

Add unit test
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
Labels: tests

BufferView: add constructor for const juce::AudioBuffer (#357)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
Labels: dsp, tests

Fix MSVC warning in chowdsp::Diffuser
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
Labels: dsp

LevelDetector: add interfaces for processing with BufferView, and use ScopedValue where appropriate
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/LevelDetectorTest.cpp
Labels: dsp, tests, examples

LevelDetector: add interfaces for processing with BufferView, and use ScopedValue where appropriate (#358)
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/LevelDetectorTest.cpp
Labels: dsp, tests, examples

Starting to work on using less compile-time reflection, hoping to avoid borking MSVC
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: gui, plugin-utils, examples

Refactor parameter listeners to their own class
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils, examples

Refactor ParamHolder
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
Labels: plugin-utils

Refactor parameter attachments
  examples/StatefulPlugin/PluginEditor.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.cpp
Labels: gui, plugin-utils, examples

Get non-parameter state workign again
  examples/StatefulPlugin/PluginEditor.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParameterStateSerialization.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils, examples

Update unit tests
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParameterStateSerialization.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StatePluginInterfaceTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

Update EQ parameters and other little fixes
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  examples/StatefulPlugin/StatefulPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: dsp, gui, plugin-utils, examples

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
