Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Fix CI failures
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_PitchShift.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
Labels: dsp, tests

Trying to fix Windows failures
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
Labels: tests

Implement static delay line and update Reverb utils (#327)
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_PitchShift.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayBuffer.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
Labels: dsp, tests, examples

Skip waveshapers test on Windows CI
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: tests

Improvements to TypesList
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
Labels: tests

Improvements to TypesList (#328)
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
Labels: tests

Fix struct instead of class
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
Labels: dsp

Try to avoid linker errors with ConvolutionEngine
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
Labels: dsp

ConvolutionEngine: Add optional template for FFT engine type
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_IRTransfer.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
Labels: dsp

Fix ConvolutionDiffuser
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
Labels: dsp

Make ConvolutionEngine a templated class so we can use it with other FFT engines (#329)
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_IRTransfer.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
Labels: dsp

Update docs
  CHANGELOG.md
  doxygen/Doxyfile
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
Labels: dsp, documentation

Only re-push docs when publishing a new release
  .github/workflows/docs.yml
Labels: ci-pipeline

Bump version to 1.3.0
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  sonar-project.properties
Labels: dsp, gui, plugin-utils, documentation

Add enumerate and zip iterator helpers
  modules/common/chowdsp_core/DataStructures/chowdsp_Iterators.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/IteratorsTest.cpp
Labels: tests

Add enumerate and zip iterator helpers (#330)
  modules/common/chowdsp_core/DataStructures/chowdsp_Iterators.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/IteratorsTest.cpp
Labels: plugin-utils, tests

Start implementing units system
  .github/workflows/run-tests.yml
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_core/DataStructures/chowdsp_StringViewHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  modules/common/chowdsp_units/Units/chowdsp_UnitsBase.h
  modules/common/chowdsp_units/chowdsp_units.h
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringViewHelpersTest.cpp
  tests/common_tests/chowdsp_units_test/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: tests, ci-pipeline

Try to fix string_view issues on MSVC
  modules/common/chowdsp_core/DataStructures/chowdsp_StringViewHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  modules/common/chowdsp_units/Units/chowdsp_UnitsBase.h
  modules/common/chowdsp_units/chowdsp_units.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringViewHelpersTest.cpp
Labels: tests

Start implementing units system (#331)
  .github/workflows/run-tests.yml
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  modules/common/chowdsp_units/Units/chowdsp_UnitsBase.h
  modules/common/chowdsp_units/chowdsp_units.h
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: tests, ci-pipeline

Start setting up Dattorro-style reverb
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayBuffer.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroReverb.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
Labels: dsp, examples

Make sure to update oversampling menu on message thread
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
Labels: gui

Fix compilation with MSVC
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
Labels: gui

Make sure to update oversampling menu on message thread (#332)
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
Labels: gui

Make CLAP extension sub-classes public where appropriate
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

Make CLAP extension sub-classes public where appropriate (#333)
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

WindowInPlugin: make sure that the top bar is on screen when setting position
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_WindowInPlugin.h
Labels: gui

Working but still a bit rough Dattorro style reverberator
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroInputNetwork.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroLattice.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroReverb.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroTankNetwork.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
Labels: dsp, examples

Add comments
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroInputNetwork.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroLattice.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroTankNetwork.h
Labels: dsp

Dump old file
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroReverb.h
Labels: dsp

Fix bad include
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
Labels: dsp

JSON: add options for writing to file with indents, and writing to/reading from juce::MemoryBlock objects
  modules/common/chowdsp_json/JSONUtils/chowdsp_JSONUtils.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.cpp
  tests/common_tests/chowdsp_json_test/JSONTest.cpp
Labels: plugin-utils, tests

Work-In-Progress Dattorro Reverb Implementation (#334)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayBuffer.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroInputNetwork.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroLattice.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroTankNetwork.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
Labels: dsp, examples

Fix writing to file that already existed
  modules/common/chowdsp_json/JSONUtils/chowdsp_JSONUtils.h
Labels: none

Update README [ci skip]
  README.md
Labels: documentation

JSON: add options for writing to file with indents, and writing to/reading from juce::MemoryBlock objects (#335)
  modules/common/chowdsp_json/JSONUtils/chowdsp_JSONUtils.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.cpp
  tests/common_tests/chowdsp_json_test/JSONTest.cpp
Labels: plugin-utils, tests

Implement CLAP note name methods in SynthBase
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

SynthBase: Implement CLAP note names
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

Revert "Implement CLAP note name methods in SynthBase"
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

Fix clang-tidy error
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

SynthBase: Implement CLAP note names (#336)
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
