Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Remove stack memory experiment for now
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
Labels: dsp

Set up benchmarks for chowdsp::Buffer (#304)
  bench/BufferBench.cpp
  bench/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
Labels: dsp, benchmarks

Tweaks to chowdsp::Gain, and JUCE7-style ParamUtils::loadParameterPointer
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
Labels: dsp, plugin-utils

Fix up tests and examples
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: plugin-utils, tests, examples

Tweaks to chowdsp::Gain, and JUCE7-style ParamUtils::loadParameterPointer (#305)
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: dsp, plugin-utils, tests, examples

Listeners: explicitly include <thread>
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Fix naming conflict with SIMDUtils::select
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.h
Labels: dsp

Fix naming conflict with SIMDUtils::select (#306)
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.h
Labels: dsp

Make it actually safe to use DeferredMainThreadAction from audio thread
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: plugin-utils, tests

Make it actually safe to use DeferredMainThreadAction from audio thread (#307)
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: plugin-utils, tests

Add Linkwitz-Riley crossover filter
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

First-order requires juce::dsp::ProcessContextNonReplacing
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
Labels: dsp

Fix GCC warning
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
Labels: dsp

Add Linkwitz-Riley crossover filter (#308)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Add TypesList
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Add test for types list
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
Labels: tests

Add TypesList (#309)
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
Labels: tests

CPU Meter: quantize proportion to integer percent values
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.cpp
Labels: gui

Update CHANGELOG [ci skip]
  CHANGELOG.md
Labels: none

PluginBase: add interface to check if parameter modulation is supported
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Math: added template Ratio type
  CHANGELOG.md
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Ratio.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_filters_test/EllipticFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/RatioTest.cpp
Labels: dsp, tests

Math: added template Ratio type (#310)
  CHANGELOG.md
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Ratio.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_filters_test/EllipticFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/RatioTest.cpp
Labels: dsp, tests

Initial implementation for FloatVectorOperation::containsNan and containsInf
  bench/FloatVectorOperationsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
Labels: dsp, benchmarks

ADAAWaveshaper: Add optional ill-condition tolerance
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Finish implementing countNaNs and countInfs
  bench/FloatVectorOperationsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: dsp, tests, benchmarks

BufferMath: add sanitize buffers method
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
Labels: dsp, tests

Update CHANGELOG
  CHANGELOG.md
Labels: none

BufferMath: add sanitizeBuffer method (#311)
  CHANGELOG.md
  bench/FloatVectorOperationsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: dsp, tests, benchmarks

Add implementation of DelayInterpolation::Sinc that works without XSIMD
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
Labels: dsp

Add option for specifying default alignment without XSIMD
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

Add implementation of DelayInterpolation::Sinc that works without XSIMD (#312)
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

Add a constexpr version of chowdsp::Math::log2
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Add a constexpr version of chowdsp::Math::log2 (#313)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Trying to determine chowdsp::BufferView template args with CTAD
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: tests, examples

More places
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: tests

Trying to determine chowdsp::BufferView template args with CTAD (#314)
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: tests, examples

ConvolutionEngine: Add optional template for FFT engine type
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_IRTransfer.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
Labels: dsp

Math: fix log2(2)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Re-write constexpr implementation
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
Labels: dsp

Math: fix log2(2) (#315)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests
