Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Initial square and saw implementations
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.h
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Implement tests for SawtoothWave
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.h
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.h
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/source_tests/SawtoothTest.cpp
Labels: dsp, tests

Add tests for SquareWave
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.h
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/source_tests/SquareTest.cpp
Labels: dsp, tests

Fix SquareWave::process on MSVC
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.cpp
Labels: dsp

Add SquareWave and SawtoothWave sources (#124)
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SawtoothWave.h
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.cpp
  modules/chowdsp_dsp/Sources/chowdsp_SquareWave.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/source_tests/SawtoothTest.cpp
  tests/chowdsp_utils_test/dsp_tests/source_tests/SquareTest.cpp
Labels: dsp, tests

PresetManager: small tweaks for derived classes
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
Labels: plugin-utils, presets

More small preset updates
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
Labels: plugin-utils, presets

Fix presets unit tests
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: tests

Small tweaks to preset manager (#125)
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

WindowInPlugin: fix crashing issue for VST on Windows
  modules/chowdsp_gui/PluginComponents/chowdsp_WindowInPlugin.h
Labels: gui

Add ScopedValue class
  modules/chowdsp_dsp/DataStructures/chowdsp_ScopedValue.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

ScopedValue: add unit test
  modules/chowdsp_dsp/DataStructures/chowdsp_ScopedValue.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/ScopedValueTest.cpp
Labels: dsp, tests

Add ScopedValue class (#126)
  modules/chowdsp_dsp/DataStructures/chowdsp_ScopedValue.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/ScopedValueTest.cpp
Labels: dsp, tests

Preset: add extraInfo field and improve test coverage
  modules/chowdsp_dsp/DataStructures/chowdsp_ScopedValue.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetTest.cpp
Labels: dsp, plugin-utils, presets, tests

Preset: add extraInfo field and improve test coverage (#127)
  modules/chowdsp_dsp/DataStructures/chowdsp_ScopedValue.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetTest.cpp
Labels: dsp, plugin-utils, presets, tests

PluginInWindow fox constructor for components with non-default constructors
  modules/chowdsp_gui/PluginComponents/chowdsp_WindowInPlugin.h
Labels: gui

PresetsComp: account for potentially invalid presets when updating preset box text
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

PresetManager: make loadUserPresetsFromFolder() virtual
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
Labels: plugin-utils, presets

Add modified LookupTableTransform for better performance
  bench/CMakeLists.txt
  bench/LookupTableBench.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/LookupTableTest.cpp
Labels: dsp, tests

Add LookupTableBench to CI workflow
  .github/workflows/bench.yml
Labels: ci-pipeline

Add modified LookupTableTransform for better performance (#128)
  .github/workflows/bench.yml
  bench/CMakeLists.txt
  bench/LookupTableBench.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/LookupTableTest.cpp
Labels: dsp, gui, tests, ci-pipeline

Implement optimized scalar power method
  modules/chowdsp_dsp/Math/chowdsp_Power.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/PowerTest.cpp
Labels: dsp, tests

Add vectorized exponent methods
  modules/chowdsp_dsp/Math/chowdsp_Power.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/PowerTest.cpp
Labels: dsp, tests

Implement vectorized exponent methods and benchmarks
  .github/workflows/bench.yml
  bench/CMakeLists.txt
  bench/PowerBench.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/Math/chowdsp_Power.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/PowerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests, ci-pipeline

Improve test coverage for FloatVectorOperations::integerPower
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: tests

Implement soft clipper processor with tests
  modules/chowdsp_dsp/Processors/chowdsp_SoftClipper.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/SoftClipperTest.cpp
Labels: dsp, tests

SIMDUtils: fix ARM flags again
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

Add SoftClipper processor (#129)
  .github/workflows/bench.yml
  bench/CMakeLists.txt
  bench/PowerBench.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/Math/chowdsp_Power.h
  modules/chowdsp_dsp/Processors/chowdsp_SoftClipper.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/SoftClipperTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/PowerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests, ci-pipeline

Update docs for SoftClipper
  modules/chowdsp_dsp/Processors/chowdsp_SoftClipper.h
Labels: dsp

Polynomials: implement antiderivative method
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
Labels: dsp

Implement tests for polynomial derivative/antiderivative
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/PolynomialsTest.cpp
Labels: dsp, tests

Polynomials: implement derivative/antiderivative methods (#130)
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/PolynomialsTest.cpp
Labels: dsp, tests

GlobalPluginSettings: create settings file if it doesn't exist yet
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

GlobalPluginSettings: create settings file if it doesn't exist yet (#131)
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

FloatVectorOperations: implement computeRMS method
  bench/FloatVectorOperationsBench.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Implement method for transforming IR into linear IR
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
Labels: dsp, tests

IRHelpers: add method to transform IR into linear phase IR (#132)
  bench/FloatVectorOperationsBench.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Add AudioTimer class
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.cpp
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/AudioTimerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
Labels: dsp, tests

Add AudioTimer class (#133)
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.cpp
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/AudioTimerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
Labels: dsp, tests

Attempt to run tests in parallel
  .github/workflows/cmake_ctest.yml
Labels: ci-pipeline
