Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Clean up API documentation
  doxygen/Doxyfile
  doxygen/logo.png
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SIMDAudioBlock.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_LanczosResampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSmoothedValue.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
Labels: dsp, plugin-utils, documentation

Fix namespace comments
  doxygen/Doxyfile
  doxygen/logo.png
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_json/JSONUtils/chowdsp_JSONUtils.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_IRHelpers.h
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_BaseResampler.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_juce_IIRCoefs.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_juce_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_juce_IIRFilter_Impl.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_BilinearUtils.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_QValCalcs.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  modules/dsp/chowdsp_math/Math/chowdsp_Power.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_version/chowdsp_version.h
Labels: dsp, gui, plugin-utils, documentation

More docs updates
  doxygen/Doxyfile
  modules/common/chowdsp_json/chowdsp_json.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SIMDAudioBlock.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_IRTransfer.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Combinatorics.h
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.cpp
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/modal_tests/ModalFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FractionalOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/SecondOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ShelfFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
  tests/test_utils/test_utils.h
Labels: dsp, gui, plugin-utils, tests, documentation

Try to fix some CI failures
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.h
Labels: dsp, plugin-utils

Replace BilinearTransforms with more general ConformalMaps
  CHANGELOG.md
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_BilinearUtils.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/BilinearUtilsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: dsp, tests

Replace BilinearTransforms with more general ConformalMaps (#211)
  CHANGELOG.md
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_BilinearUtils.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/BilinearUtilsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: dsp, tests

SimpleEQ Example: remove redundant `updateHostDisplay()` call
  examples/SimpleEQ/SimpleEQPlugin.cpp
Labels: examples

LNFAllocator: don't delete and replace the same look and feel
  CHANGELOG.md
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
Labels: plugin-utils

Add unit test
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
Labels: tests

LNFAllocator: don't delete and replace the same look and feel (#212)
  CHANGELOG.md
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
Labels: plugin-utils, tests

Set up examples to build out-of-the-box
  .github/workflows/examples.yml
  README.md
  examples/CMakeLists.txt
Labels: examples, documentation, ci-pipeline

Only add foleys_gui_magic for tests
  .github/workflows/bench.yml
  cmake/AddJUCEModules.cmake
  tests/CMakeLists.txt
Labels: tests, ci-pipeline

Set up examples to build out-of-the-box (#213)
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  README.md
  cmake/AddJUCEModules.cmake
  examples/CMakeLists.txt
  tests/CMakeLists.txt
Labels: tests, examples, documentation, ci-pipeline

Super rudimentary static tests
  tests/CMakeLists.txt
  tests/static_tests/LanczosKernel4_pass.cpp
  tests/static_tests/LanczosKernel5_fail.cpp
Labels: tests

Get static tests hopefully sort of working
  .github/workflows/run-tests.yml
  cmake/SetupCodeQuality.cmake
  cmake/SetupStaticTests.cmake
  tests/CMakeLists.txt
  tests/static_tests/CMakeLists.txt
Labels: tests, ci-pipeline

Fix CI typo
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Add more static tests
  .github/workflows/run-tests.yml
  cmake/SetupStaticTests.cmake
  tests/static_tests/BypassMismatchedLatencyTypes_fail.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/ModFilterHighOrder_fail.cpp
  tests/static_tests/ModFilterLowOrder_pass.cpp
  tests/static_tests/PluginBaseAddParams_pass.cpp
  tests/static_tests/PluginBaseNoAddParams_fail.cpp
  tests/static_tests/SOSFilterEven_pass.cpp
  tests/static_tests/SOSFilterOdd_fail.cpp
  tests/static_tests/SoftClipperBadOrder_fail.cpp
Labels: tests, ci-pipeline

Set up static tests that can run compile-time checks (#214)
  .github/workflows/run-tests.yml
  cmake/SetupCodeQuality.cmake
  cmake/SetupStaticTests.cmake
  tests/CMakeLists.txt
  tests/static_tests/BypassMismatchedLatencyTypes_fail.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/LanczosKernel4_pass.cpp
  tests/static_tests/LanczosKernel5_fail.cpp
  tests/static_tests/ModFilterHighOrder_fail.cpp
  tests/static_tests/ModFilterLowOrder_pass.cpp
  tests/static_tests/PluginBaseAddParams_pass.cpp
  tests/static_tests/PluginBaseNoAddParams_fail.cpp
  tests/static_tests/SOSFilterEven_pass.cpp
  tests/static_tests/SOSFilterOdd_fail.cpp
  tests/static_tests/SoftClipperBadOrder_fail.cpp
Labels: tests, ci-pipeline

Update README [ci skip]
  README.md
Labels: documentation

Add method for getting plugin diagnostic information
  CHANGELOG.md
  CMakeLists.txt
  cmake/AddDiagnosticInfo.cmake
  cmake/AddJUCEModules.cmake
  cmake/test/EnableCoverageFlags.cmake
  cmake/test/SetupBenchmark.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupExamplePlugin.cmake
  cmake/test/SetupJuceTest.cmake
  cmake/test/SetupStaticTests.cmake
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginDiagnosticInfo.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
  tests/test_utils/DummyPlugin.h
Labels: plugin-utils, tests

Tweaks to diag info
  CMakeLists.txt
  cmake/AddDiagnosticInfo.cmake
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginDiagnosticInfo.h
Labels: plugin-utils

Add method for getting plugin diagnostic information (#215)
  CHANGELOG.md
  CMakeLists.txt
  cmake/AddDiagnosticInfo.cmake
  cmake/AddJUCEModules.cmake
  cmake/test/EnableCoverageFlags.cmake
  cmake/test/SetupBenchmark.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupExamplePlugin.cmake
  cmake/test/SetupJuceTest.cmake
  cmake/test/SetupStaticTests.cmake
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginDiagnosticInfo.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
  tests/test_utils/DummyPlugin.h
Labels: plugin-utils, tests

Ignore warnings in CLAP header
  examples/CMakeLists.txt
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils, examples

Start setting up JSON serialization
  cmake/AddJUCEModules.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/JSONSerializationTest.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/CorrectContainers_pass.cpp
Labels: tests, examples

More work on serialization
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/JSONSerializationTest.cpp
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/static_tests/CorrectContainers_pass.cpp
Labels: tests

Implement custom serialization
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Add utils for serializing to/from file
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Add serialization to example EQ
  .github/workflows/run-tests.yml
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
Labels: dsp, examples, ci-pipeline

Update docs
  CHANGELOG.md
  README.md
Labels: documentation

Fix custom serialization template stuff
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Added utilities for serializing/deserializing data (#216)
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/CorrectContainers_pass.cpp
Labels: dsp, tests, examples, documentation, ci-pipeline

Serialization: improve test coverage
  cmake/test/SetupCodeQuality.cmake
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/common_tests/chowdsp_serialization_test/TestSerialBinaryData.cpp
  tests/common_tests/chowdsp_serialization_test/TestSerialBinaryData.h
  tests/test_utils/CodeQuality.cpp
Labels: tests

Serialization: improve test coverage (#218)
  cmake/test/SetupCodeQuality.cmake
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/common_tests/chowdsp_serialization_test/TestSerialBinaryData.cpp
  tests/common_tests/chowdsp_serialization_test/TestSerialBinaryData.h
  tests/test_utils/CodeQuality.cpp
Labels: tests

Add benchmarks for polynomials
  bench/CMakeLists.txt
  bench/IIRFilterBench.cpp
  bench/PolynomialBench.cpp
Labels: benchmarks

Add benchmarks for polynomials (#219)
  bench/CMakeLists.txt
  bench/IIRFilterBench.cpp
  bench/PolynomialBench.cpp
Labels: benchmarks

Implement HasStaticMethod
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/static_tests/CMakeLists.txt
  tests/static_tests/HasStaticMethodTest_pass.cpp
Labels: tests

Add macros to check if classes have a given method
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/static_tests/CMakeLists.txt
  tests/static_tests/CorrectContainers_pass.cpp
  tests/static_tests/HasMemberMethodTest_pass.cpp
  tests/static_tests/HasStaticMethodTest_pass.cpp
Labels: plugin-utils, tests

Fix warnings and Serialization
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Fix clang-tidy error
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
Labels: none

Fix error
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
Labels: none

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
