Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Fix typo in CLAPProcessorExtensions
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
Labels: plugin-utils

FIRFilter improvements and fixes
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Add tests for FIR filter
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests

FIRFilter: improvements and fixes (#230)
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests

Finish setting up parameter modulation for example plugins
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
Labels: examples

Set up example plugin for forwarding parameters
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/README.md
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
Labels: examples

Implement parameter forwarding with modulation
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
Labels: plugin-utils, examples

Update CLAP modules
  examples/CMakeLists.txt
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
Labels: plugin-utils, examples

ForwardingParameter: Add tests for parameter modulation
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Add parameter modulation to examples, and add example plugin for ForwardingParameter (#232)
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  examples/README.md
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests, examples

Fix typo
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: tests

Fix sneaky crash in parameter forwarding test
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Fix sneaky crash in parameter forwarding test (#233)
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Remove optional dependency on custom fork of juce_dsp
  cmake/test/SetupBenchmark.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/AutoWah/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ModalSpringReverb/CMakeLists.txt
  examples/SignalGenerator/CMakeLists.txt
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleReverb/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/gui_tests/chowdsp_foleys_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/live_gui_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: dsp, gui, tests, examples

Remove optional dependency on custom fork of juce_dsp (#234)
  cmake/test/SetupBenchmark.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/AutoWah/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ModalSpringReverb/CMakeLists.txt
  examples/SignalGenerator/CMakeLists.txt
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleReverb/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/gui_tests/chowdsp_foleys_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/live_gui_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: dsp, gui, tests, examples

Set up manager class for forwarding parameters
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

Fixing using manager as CRTP base class
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

Fix forwarding example
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
Labels: examples

Set up manager class for forwarding parameters (#235)
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

PresetsComp: fix missing return on iOS
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

Implementing most filter types (missing bell, low-shelf, high-shelf)
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter2.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter2.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Finish migrating from old SVF to new one
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter2.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter2.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Add tests for SVF
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/StateVariableFilterTest.cpp
Labels: tests

Attempt to appease MSVC
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
Labels: dsp

Update State Variable Filter with different filter shapes (#236)
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/StateVariableFilterTest.cpp
Labels: dsp, tests, examples

Add more options to preset menu
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.h
Labels: gui, plugin-utils

Update preset tests
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  tests/gui_tests/chowdsp_gui_test/PresetsCompTest.cpp
Labels: gui, plugin-utils, tests

Add more options to preset menu (#237)
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.h
  tests/gui_tests/chowdsp_gui_test/PresetsCompTest.cpp
Labels: gui, plugin-utils, tests

Start implementing ADAA waveshapers
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_dsp_utils/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_dsp_utils/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_dsp_utils/Waveshapers/chowdsp_SoftClipper.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/waveshaper_tests/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/waveshaper_tests/SoftClipperTest.cpp
Labels: dsp, tests, examples

Move waveshapers to their own module
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, examples, ci-pipeline

Add polylogarithm function
  CHANGELOG.md
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
Labels: dsp, tests

Implement ADAA tanh clipper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAATanhClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: dsp, tests, examples

Add documentation
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp

UPdate changelog
  CHANGELOG.md
Labels: none

Add soft-clipping waveshaper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: dsp, tests, examples

Added nonlinearities with integrated waveshaping (ADAA) (#238)
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAATanhClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, examples, ci-pipeline

Update README [ci skip]
  README.md
Labels: documentation

CI: upgrade CodeQL actions
  .github/workflows/run-tests.yml
Labels: ci-pipeline

CI: upgrade CodeQL actions (#239)
  .github/workflows/run-tests.yml
Labels: ci-pipeline

DataStructures: add a lookup table cache
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
Labels: dsp, plugin-utils, tests, examples

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
