Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Compressor: Add makeup gain target parameter (#451)
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
Labels: dsp

Non-param state updates
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
Labels: plugin-utils

Make CMake config a little more flexible
  tests/CMakeLists.txt
Labels: tests

Adding tests and littls bits of cleanup
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

Trying different GCC versions
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Trying to fix run-tests CI yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Trying to fix Ubuntu CI
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Fix benchmarks CI
  .github/workflows/bench.yml
Labels: ci-pipeline

Updates for non-parameter state (#452)
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  tests/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests, ci-pipeline

Add atomic_bool fetch_* methods
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
Labels: tests

Add atomic_bool fetch_* methods (#453)
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
Labels: tests

BucketArray: add emplace method with no args
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
Labels: none

Adding iterators::zip_multi
  modules/common/chowdsp_data_structures/Helpers/chowdsp_Iterators.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
Labels: tests

Add docs
  modules/common/chowdsp_data_structures/Helpers/chowdsp_Iterators.h
Labels: none

Adding iterators::zip_multi (#454)
  modules/common/chowdsp_data_structures/Helpers/chowdsp_Iterators.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
Labels: tests

Tweaks for LocalPointer
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
Labels: none

A few more tweaks for LocalPointer
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
Labels: none

LocalPointer: fix warning in release mode
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
Labels: none

StackAllocator: allocate bytes with well-defined alignment
  modules/common/chowdsp_data_structures/Structures/chowdsp_StackAllocator.h
  tests/common_tests/chowdsp_data_structures_test/StackAllocatorTest.cpp
Labels: tests

Trying to fix CI failures
  modules/common/chowdsp_core/JUCEHelpers/juce_MathsFunctions.h
Labels: none

More CI fixes
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StackAllocator.h
Labels: none

StackAllocator: allocate bytes with well-defined alignment (#455)
  modules/common/chowdsp_core/JUCEHelpers/juce_MathsFunctions.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StackAllocator.h
  tests/common_tests/chowdsp_data_structures_test/StackAllocatorTest.cpp
Labels: tests

Clarify chowdsp_buffers license
  README.md
  modules/dsp/chowdsp_buffers/chowdsp_buffers.h
Labels: dsp, documentation

BufferView adding template deduction guides
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
Labels: dsp, tests

Checking for no SIMD
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
Labels: dsp

BufferView adding template deduction guides (#456)
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
Labels: dsp, tests

Vicanek EQ coefficients: tweaking calculators for shelving and peaking filters
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
Labels: dsp

Remove dead code
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
Labels: dsp

Fixing boost/cut symmetry for Vcanek peaking filter
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
Labels: dsp

Vicanek EQ coefficients: tweaking calculators for shelving and peaking filters (#457)
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
Labels: dsp

Refactor VectorHelpers and TulpeHelpers and add ArrayHelpers
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_ArrayHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_TupleHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypeTraitsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/ArrayHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/TupleHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/VectorHelpersTest.cpp
Labels: tests

Refactor VectorHelpers and TulpeHelpers and add ArrayHelpers (#458)
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_ArrayHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_TupleHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypeTraitsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/ArrayHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/TupleHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/VectorHelpersTest.cpp
Labels: tests

Set up benchmarks
  bench/CMakeLists.txt
  bench/TrigBench.cpp
Labels: benchmarks

Starting my own sine approx implementations
  bench/TrigBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
  modules/dsp/chowdsp_math/chowdsp_math.h
Labels: dsp, benchmarks

Working sine approximations
  bench/TrigBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/TrigApproxTest.cpp
Labels: dsp, tests, benchmarks

Cleaning up comments
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
Labels: dsp

Add cosine approximations
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
  tests/dsp_tests/chowdsp_math_test/TrigApproxTest.cpp
Labels: dsp, tests

Add sine/cosine combination methods
  bench/TrigBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
  tests/dsp_tests/chowdsp_math_test/TrigApproxTest.cpp
Labels: dsp, tests, benchmarks

Clean up comments
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
Labels: dsp

More cleanup
  bench/TrigBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
Labels: dsp, benchmarks
