Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Set up clang-tidy CI workflow (#143)
  .clang-tidy
  .github/workflows/clang-tidy.yml
  modules/chowdsp_dsp/DataStructures/chowdsp_DoubleBuffer.h
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.h
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDDelayWrapper.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayLine.h
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_juce_IIRCoefs.h
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.h
  modules/chowdsp_dsp/Processors/chowdsp_GainProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResamplingProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/Sources/chowdsp_Noise.cpp
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_SynthBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.h
  tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: dsp, gui, wdf, plugin-utils, presets, tests, ci-pipeline

Add COLA processor class
  modules/chowdsp_dsp/DataStructures/chowdsp_COLAProcessor.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_COLAProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/COLAProcessorTest.cpp
Labels: dsp, tests

Add COLA processor class (#144)
  modules/chowdsp_dsp/DataStructures/chowdsp_COLAProcessor.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_COLAProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/COLAProcessorTest.cpp
Labels: dsp, tests

Implement mixing matrix operations
  modules/chowdsp_dsp/Math/chowdsp_MatrixOps.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/MatrixOpsTest.cpp
Labels: dsp, tests

Implement mixing matrix operations (#145)
  modules/chowdsp_dsp/Math/chowdsp_MatrixOps.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/MatrixOpsTest.cpp
Labels: dsp, tests

Rough diffuser implementation
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Get diffusers working
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
Labels: dsp

Add unit tests for Diffusers
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/reverb_tests/DiffuserTest.cpp
Labels: dsp, tests

Revert PluginLogger change that was crashing CI tests
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: plugin-utils, tests

Add diffuser processor (#146)
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/reverb_tests/DiffuserTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: dsp, plugin-utils, tests

Start working on OpenGL test
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: gui, tests

Fix implementation for checking if OpenGL is available
  modules/chowdsp_dsp/Math/chowdsp_MatrixOps.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: dsp, gui, tests

Repair Mac compilation
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
Labels: gui

Fix clang-tidys
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
Labels: gui

Don't run tests that require OpenGL attaching on Linux CI
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: tests

Try to set up Windows coverage CI
  .github/workflows/cov_windows.yml
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: tests, ci-pipeline

Windows coverage: run tests individually without ctest
  .github/workflows/cov_windows.yml
Labels: ci-pipeline

Windows coverage: fix test paths
  .github/workflows/cov_windows.yml
Labels: ci-pipeline

Skip some logger tests on windows coverage CI
  .github/workflows/cov_windows.yml
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: tests, ci-pipeline

Windows coverage flag
  cmake/EnableCoverageFlags.cmake
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: tests

Add config flag
  .github/workflows/cov_windows.yml
Labels: ci-pipeline

Remove Windows CI for now
  .github/workflows/cov_windows.yml
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: tests, ci-pipeline

Skip OpenGL available test
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: tests

OpenGLHelper: check if the host system supports OpenGL (#147)
  cmake/EnableCoverageFlags.cmake
  modules/chowdsp_dsp/Math/chowdsp_MatrixOps.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: dsp, gui, tests

OpenGLHelper: hide member variables that are not used on Mac
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
Labels: gui

OpenGLHelper: hide member variables that are not used on Mac (#148)
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
Labels: gui

PresetManager: don't load preset from index if the current preset is the index that's being loaded
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
Labels: plugin-utils, presets

Fix preset manager unit tests
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

PresetManager: don't load preset from index if the current preset is the index that's being loaded (#149)
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

PluginLogger: on iOS, copy log file instead of trying to open it
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
Labels: plugin-utils

PluginLogger: on iOS, copy failed log file instead of trying to open it (#150)
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
Labels: plugin-utils

SmoothedBufferValue: add optional custom mapping function
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
Labels: dsp

SmoothedBufferValue: update unit tests
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/SmoothedBufferValueTest.cpp
Labels: tests

Fix clang-tidy failure
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
Labels: dsp

SmoothedBufferValue: add optional custom mapping function (#151)
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/SmoothedBufferValueTest.cpp
Labels: dsp, tests

OversamplingMenu: make sure combobox always has the same name as the parent component
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

Update OSMenu tests
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: gui, tests

Fix clang-tidy failure
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

OversamplingMenu: make sure combobox always has the same name as the parent component (#152)
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: gui, tests

Refactor OVersamplingMenu to be much simpler
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: gui, tests
