Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

CPUMeter: use const reference for load measurer
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.h
Labels: gui

CPUMeter: use const reference for load measurer (#201)
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.h
Labels: gui

Add some helpers for working with atomics
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Add tests for atomic helpers
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
Labels: tests

Add some helpers for working with atomics (#202)
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
Labels: tests

Start getting rid of SIMDComplex
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDDelayLine.h
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplex.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplexMathOps.h
Labels: dsp

Fix modal filter tests
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/modal_tests/ModalFilterTest.cpp
Labels: dsp, tests

Fix BBD unit tests
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDFilterBank.h
Labels: dsp

Clean up some unused code
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplex.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplexMathOps.h
  tests/dsp_tests/chowdsp_simd_test/SIMDComplexTest.cpp
Labels: dsp, tests

Final little cleanup
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDComplexTest.cpp
Labels: dsp, tests

Fix compiler errors on Windows
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDDelayLine.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
Labels: dsp

Re-write SIMDSmoothedValue with xsimd
  .github/workflows/build-arm-mac.yml
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSmoothedValue.h
  tests/dsp_tests/chowdsp_simd_test/SIMDSmoothedValueTest.cpp
Labels: dsp, tests, ci-pipeline

Remove juce::SIMDRegister from FloatVectorOperations
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSpecialMath.h
Labels: dsp

Deprecate some custom SIMD ops
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDComplexMathOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSpecialMath.h
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
Labels: dsp, tests

No SIMDRegister in Polynomial
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  tests/dsp_tests/chowdsp_math_test/PolynomialsTest.cpp
Labels: dsp, tests

Remove default SIMD alignment helper
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModeParams.h
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_LanczosResampler.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSpecialMath.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  tests/dsp_tests/chowdsp_math_test/PolynomialsTest.cpp
Labels: dsp, tests, examples

Fix a couple CI errors
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

Fix a few more CI failures
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp, examples

Fix Windows compilation error
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SIMDAudioBlock.h
Labels: dsp

Fix silly recursion thingy
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SIMDAudioBlock.h
Labels: dsp

Set up base code for accessible example plugin
  examples/AccessiblePlugin/AccessiblePlugin.cpp
  examples/AccessiblePlugin/AccessiblePlugin.h
  examples/AccessiblePlugin/AccessiblePluginEditor.cpp
  examples/AccessiblePlugin/AccessiblePluginEditor.h
  examples/AccessiblePlugin/CMakeLists.txt
  examples/CMakeLists.txt
  examples/README.md
Labels: examples

Basic working accessibility example
  examples/AccessiblePlugin/AccessiblePluginEditor.cpp
  examples/AccessiblePlugin/AccessiblePluginEditor.h
  examples/AccessiblePlugin/TabbedComponent.h
Labels: examples

Accessibility example (#204)
  examples/AccessiblePlugin/AccessiblePlugin.cpp
  examples/AccessiblePlugin/AccessiblePlugin.h
  examples/AccessiblePlugin/AccessiblePluginEditor.cpp
  examples/AccessiblePlugin/AccessiblePluginEditor.h
  examples/AccessiblePlugin/CMakeLists.txt
  examples/AccessiblePlugin/TabbedComponent.h
  examples/CMakeLists.txt
  examples/README.md
Labels: examples

Add FIRFilter clas
  bench/CMakeLists.txt
  bench/FIRFilterBench.cpp
  cmake/SetupBenchmark.cmake
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests, benchmarks

Fix failing test
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: tests

Fixes and improvements to documentation and benchmarks
  bench/CMakeLists.txt
  bench/FIRFilterBench.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests, benchmarks

Add FIRFilter class (#205)
  bench/CMakeLists.txt
  bench/FIRFilterBench.cpp
  cmake/SetupBenchmark.cmake
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests, benchmarks

PresetsComp: add some descriptions and names for accessibility
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

PresetsComp: add some descriptions and names for accessibility (#206)
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

Add sign function back to OtherMathOps
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Add sign function back to OtherMathOps (#207)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Fix decibel functions
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDDecibels.h
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
Labels: dsp, tests

Fix missing Foley's components
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_OversamplingMenuItem.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
Labels: gui

Adjust warnings around XSIMD
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp

IIRFilter: use ScopedValue to improve cache locality for inner loops
  bench/CMakeLists.txt
  bench/IIRFilterBench.cpp
  cmake/SetupBenchmark.cmake
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
Labels: dsp, benchmarks

Update README
  README.md
Labels: documentation

IIRFilter: use ScopedValue to improve cache locality for inner loops (#208)
  bench/CMakeLists.txt
  bench/IIRFilterBench.cpp
  cmake/SetupBenchmark.cmake
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
Labels: dsp, benchmarks

Small improvements to Chebyshev and Elliptic filters
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
Labels: dsp, examples

Fix Chebyshev unit test
  tests/dsp_tests/chowdsp_filters_test/ChebyshevIIFilterTest.cpp
Labels: tests

Small improvements to Chebyshev and Elliptic filters (#209)
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  tests/dsp_tests/chowdsp_filters_test/ChebyshevIIFilterTest.cpp
Labels: dsp, tests, examples
