Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

LookAndFeel: add popup menu override for iOS
  modules/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
  modules/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.h
Labels: gui

Improvements to GUI test
  tests/dsp_tests/source_tests/NoiseTest.cpp
  tests/gui_tests/GUITest.cpp
Labels: tests

Create alias for SharedResourcePointer<LNFAllocator>
  modules/chowdsp_gui/LookAndFeel/chowdsp_LNFAllocator.h
  tests/gui_tests/GUITest.cpp
Labels: gui, tests

LookAndFeel: add popup menu override for iOS (#68)
  modules/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
  modules/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.h
  modules/chowdsp_gui/LookAndFeel/chowdsp_LNFAllocator.h
  tests/dsp_tests/source_tests/NoiseTest.cpp
  tests/gui_tests/GUITest.cpp
Labels: gui, tests

Adjust presets system for improved flexibility and thread-safety
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  tests/utils_tests/PluginBaseTest.cpp
Labels: gui, plugin-utils, tests

Adjust presets system for improved flexibility and thread-safety (#69)
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  tests/utils_tests/PluginBaseTest.cpp
Labels: gui, plugin-utils, tests

Add plugin logger class
  .gitignore
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/CMakeLists.txt
  tests/utils_tests/PluginLoggerTest.cpp
Labels: plugin-utils, tests

Update CI pipelines to use newer JUCE and show JUCE version in CMake config output
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
  CMakeLists.txt
  cmake/SubprojectVersion.cmake
Labels: ci-pipeline

Minor tweaks to warning flags and tests on Linux
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  tests/utils_tests/PluginLoggerTest.cpp
Labels: plugin-utils, tests

Don't run crash log test on Linux
  tests/utils_tests/PluginLoggerTest.cpp
Labels: tests

Add plugin logger class (#70)
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
  .gitignore
  CMakeLists.txt
  cmake/SubprojectVersion.cmake
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/CMakeLists.txt
  tests/utils_tests/PluginLoggerTest.cpp
Labels: plugin-utils, tests, ci-pipeline

Fix includes and other paths
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/BBDTest.cpp
  tests/chowdsp_utils_test/dsp_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/GainTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PannerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PitchShiftTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginBaseTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: tests

Fix CTest not finding unit tests
  CMakeLists.txt
  cmake/SetupJuceTest.cmake
  tests/CMakeLists.txt
  tests/chowdsp_gui_test/GUITest.cpp
Labels: tests

Start setting up resampled process
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResamplingProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
Labels: dsp

Start setting up tests for resampled process
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: dsp, tests

ResampledProcess: use 1-sample leftover buffer to manage asychronous block sizes
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
Labels: dsp

Fixed tests for resampling processors
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResamplingProcessor.h
  tests/TestGUI.xml
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: dsp, tests

Resamplers: add resampler reset test
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: tests

Resamplers: add ResampledProcess class (#72)
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResamplingProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/TestGUI.xml
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: dsp, tests

SmoothedBufferValue: basic implementation
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

SmoothedBufferValue: add documentation
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

SmoothedBufferValue: add tests
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
Labels: dsp, tests

Add SmoothedBufferValue class (#73)
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/Other/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
Labels: dsp, tests

Parameters: Add ForwardingParameter
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Parameters: Add ForwardingParameter (#74)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Test ARM Mac CI pipeline
  .github/workflows/arm_mac_test.yml
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp, ci-pipeline

Fix false failure
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

CI-ARM: re-enable release build
  .github/workflows/arm_mac_test.yml
Labels: ci-pipeline

Test ARM Mac CI pipeline (#75)
  .github/workflows/arm_mac_test.yml
Labels: ci-pipeline

Playing around with more parameter forwarding
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
Labels: plugin-utils

ForwardingParameter: use parameter attachment for bi-directional data flow
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
Labels: plugin-utils

ResampledProcess: add option to prepareWithTargetSampleRate()
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: dsp, tests

Fix silly error in resampler tests
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: tests

Try running code coverage pipeline on Mac
  .github/workflows/cov.yml
Labels: ci-pipeline

Set pipelines to run on ci branches
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Try to run CI tests in parallel
  .github/workflows/cmake_ctest.yml
Labels: ci-pipeline

Don't run pipelines on CI branches
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Fix Linux warnings in NoiseTest
  tests/chowdsp_utils_test/dsp_tests/source_tests/NoiseTest.cpp
Labels: tests

ResampledProcess: add option to prepareWithTargetSampleRate() (#76)
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
Labels: dsp, tests

Tweaks to coverage and ctest pipelines
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline
