Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

Re-organizing unit tests
  .github/workflows/arm_mac_test.yml
  .github/workflows/bench.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/codeql.yml
  .github/workflows/cov.yml
  cmake/SetupBenchmark.cmake
  cmake/SetupJuceTest.cmake
  test.sh
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
Labels: tests, ci-pipeline

Fix benchmarks compilation
  .github/workflows/bench.yml
  cmake/SetupBenchmark.cmake
Labels: ci-pipeline

InfoComp: use provider/client pattern for retrieving information
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/chowdsp_gui/MagicGUI/chowdsp_MagicGUI.h
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
Labels: gui

Fix compilation errors
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
Labels: gui

Fix GUI test compilation errors
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  tests/chowdsp_gui_test/GUITest.cpp
Labels: gui, tests

InfoComp: use provider/client pattern for retrieving information (#135)
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/chowdsp_gui/MagicGUI/chowdsp_MagicGUI.h
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_gui_test/GUITest.cpp
Labels: gui, tests

LanczosResampler: working implementation for case where the number of input samples is larger than the buffer size
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
Labels: dsp

Tweaks to LanczosResampler fix and unit tests
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/ResamplerTest.cpp
Labels: dsp, tests

Fix Windows CI
  .github/workflows/bench.yml
  .github/workflows/cmake_ctest.yml
Labels: ci-pipeline

LanczosResampler: working implementation for case where the number of input samples is larger than the buffer size (#136)
  .github/workflows/bench.yml
  .github/workflows/cmake_ctest.yml
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/ResamplerTest.cpp
Labels: dsp, tests, ci-pipeline

ConvolutionEngine: implement move constructor
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.h
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
Labels: dsp, tests

Add helper function to make IRs minimum phase
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
Labels: dsp, tests

Updates to ConvolutionEngine and IRHelpers (#137)
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.h
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
Labels: dsp, tests

Add combinatorics methods
  modules/chowdsp_dsp/Math/chowdsp_Combinatorics.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/CombinatoricsTest.cpp
Labels: dsp, tests

Implement generalized bilinear transform
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/BilinearUtilsTest.cpp
Labels: dsp, tests

Implement generalized bilinear transform (#138)
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Math/chowdsp_Combinatorics.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/BilinearUtilsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/CombinatoricsTest.cpp
Labels: dsp, tests

Fix compiler warnings on MSVC
  bench/WDFvsIIRBench.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
Labels: tests

Tweak long-press actions to use detected mouse source
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
  tests/chowdsp_utils_test/gui_tests/PopupMenuHelperTest.cpp
Labels: gui, tests

Fix IRHelpers compiling with MSVC C++20
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
Labels: dsp

Fix IRHelpers compiling with MSVC C++20 (#140)
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
Labels: dsp

Try to fix failing unit tests
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
Labels: tests

Tweak long-press actions to use detected mouse source (#139)
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
  tests/chowdsp_utils_test/gui_tests/PopupMenuHelperTest.cpp
Labels: gui, tests

RebufferedProcessor: handle input channels less than the number of channels prepared for
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
Labels: dsp

RebufferedProcessor: refactor into cpp file
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
Labels: dsp

RebufferedProcessor: update tests
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/RebufferProcessorTest.cpp
Labels: tests

Try to fix Windows unit tests
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
Labels: tests

RebufferedProcessor: handle input channels less than the number of channels prepared for (#141)
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/RebufferProcessorTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
Labels: dsp, tests

IIRFilter: fix Clang warning
  modules/chowdsp_dsp/Filters/chowdsp_IIRFilter.h
Labels: dsp

AudioUIBackgroundTask: add method to reset
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
Labels: plugin-utils

Update unit tests for AudioUIBackgroundTask
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
Labels: plugin-utils, tests

Fix unit tests
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
Labels: tests

AudioUIBackgroundTask: add method to reset state (#142)
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
Labels: plugin-utils, tests

Update README
  README.md
Labels: documentation

Start setting up clang-tidy CI workflow
  .clang-tidy
  .github/workflows/clang-tidy.yml
  tests/CMakeLists.txt
Labels: tests, ci-pipeline

Fix CI config
  .github/workflows/clang-tidy.yml
  tests/CMakeLists.txt
Labels: tests, ci-pipeline

Fix clang-tidy failures and add modernize-use-nodiscard
  .clang-tidy
  modules/chowdsp_dsp/Sources/chowdsp_Noise.cpp
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
Labels: dsp, wdf, plugin-utils

Fix nodiscard issues
  modules/chowdsp_dsp/DataStructures/chowdsp_DoubleBuffer.h
  modules/chowdsp_dsp/DataStructures/chowdsp_LookupTableTransform.h
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDDelayWrapper.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayLine.h
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_juce_IIRCoefs.h
  modules/chowdsp_dsp/Processors/chowdsp_AudioTimer.h
  modules/chowdsp_dsp/Processors/chowdsp_GainProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_LanczosResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResamplingProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_SynthBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.h
Labels: dsp, gui, wdf, plugin-utils, presets

Clean up a couple more nodiscard's
  .github/workflows/clang-tidy.yml
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_ResampledProcess.h
Labels: dsp, ci-pipeline

Update clang-tidy CI name
  .github/workflows/clang-tidy.yml
Labels: ci-pipeline

Sckip failing logger tests on Linux
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
Labels: tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
