Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Run unit tests with timer
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/TestRunner.cpp
  tests/chowdsp_utils_test/TimedUnitTest.h
  tests/chowdsp_utils_test/dsp_tests/BBDTest.cpp
  tests/chowdsp_utils_test/dsp_tests/BypassTest.cpp
  tests/chowdsp_utils_test/dsp_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/GainTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PannerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PitchShiftTest.cpp
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSmoothedValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/source_tests/NoiseTest.cpp
  tests/chowdsp_utils_test/dsp_tests/source_tests/SineTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/CommonWDFTests.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/OmegaTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
  tests/chowdsp_utils_test/gui_tests/FoleysTest.cpp
  tests/chowdsp_utils_test/gui_tests/LNFAllocatorTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
  tests/chowdsp_utils_test/utils_tests/ParamStringsTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginBaseTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetTest.cpp
  tests/chowdsp_utils_test/utils_tests/VersionUtilsTest.cpp
Labels: tests

Try to run builds with ccache
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Try to fix ccache on Windows CI
  .github/workflows/cmake_ctest.yml
Labels: ci-pipeline

Adjust caching behaviour for ctest pipeline
  .github/workflows/cmake_ctest.yml
Labels: ci-pipeline

Don't run tests in parallel
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Caching and unit tests cleanup
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
Labels: tests, ci-pipeline

Fix typo in coverage pipeline
  .github/workflows/cov.yml
Labels: ci-pipeline

Bring back caching juceaide
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Get rid of juceaide caching (again)
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
Labels: ci-pipeline

Improvements to CI pipelines (#77)
  .github/workflows/arm_mac_test.yml
  .github/workflows/cmake_ctest.yml
  .github/workflows/cov.yml
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/TestRunner.cpp
  tests/chowdsp_utils_test/TimedUnitTest.h
  tests/chowdsp_utils_test/dsp_tests/BBDTest.cpp
  tests/chowdsp_utils_test/dsp_tests/BypassTest.cpp
  tests/chowdsp_utils_test/dsp_tests/ConvolutionTest.cpp
  tests/chowdsp_utils_test/dsp_tests/GainTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PannerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/PitchShiftTest.cpp
  tests/chowdsp_utils_test/dsp_tests/ResamplerTest.cpp
  tests/chowdsp_utils_test/dsp_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSmoothedValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/source_tests/NoiseTest.cpp
  tests/chowdsp_utils_test/dsp_tests/source_tests/SineTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/CommonWDFTests.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/OmegaTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
  tests/chowdsp_utils_test/gui_tests/FoleysTest.cpp
  tests/chowdsp_utils_test/gui_tests/LNFAllocatorTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
  tests/chowdsp_utils_test/utils_tests/ParamStringsTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginBaseTest.cpp
  tests/chowdsp_utils_test/utils_tests/PluginLoggerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/PresetTest.cpp
  tests/chowdsp_utils_test/utils_tests/VersionUtilsTest.cpp
Labels: tests, ci-pipeline

More tests and small tweaks for ForwardingParameter
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  tests/chowdsp_utils_test/DummyPlugin.h
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Fix missing ignoreCallbacks in ForwardingAttachment
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
Labels: plugin-utils

Add test to cover forwarded parameter with custom name
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: tests

WDF: add options to reset sample rate and state to templated elements
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Add prepare and reset to non-templated circuit elements
  modules/chowdsp_dsp/WDF/wdf.h
Labels: dsp, wdf

WDFs add switch and fix a bunch of warnings
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Update README [ci skip]
  README.md
Labels: documentation

Fix a bunch of warnings and adjust interfaces for components with memory
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

WDF: add a templated Y-Parameter adapter
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Fix WDF library compilation on Windows
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Fix WDF library on Windows
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Add test for Y-Parameter junction
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: tests

WDF: update tests
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/OmegaTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: dsp, wdf, tests

Add tests for single diode vs. Shockley Diode Equation
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: tests

Update WDF section in README
  README.md
Labels: documentation

Update WDF directory README
  modules/chowdsp_dsp/WDF/README.md
Labels: dsp, wdf

Fix linking unit tests with juce libraries
  cmake/SetupJuceTest.cmake
Labels: none

WDF: better handling of stateful elements, and other improvements (#80)
  README.md
  cmake/SetupJuceTest.cmake
  modules/chowdsp_dsp/WDF/README.md
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/OmegaTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/SIMDWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: dsp, wdf, tests, documentation

Tweaks to preset management system
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
Labels: gui, plugin-utils, presets

SynthBase: add gaurds so that we can use this class without foleys_gui_magic
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

SynthBase: add gaurds so that we can use this class without foleys_gui_magic (#81)
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_SynthBase.h
Labels: plugin-utils

Expose PluginBase::Parameters type
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

PluginBase: fix namespacing typo
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Improve thread-safety
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
Labels: plugin-utils

More work on parameter forwarding (#78)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  tests/chowdsp_utils_test/DummyPlugin.h
  tests/chowdsp_utils_test/utils_tests/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

Add classes for first-order IIR filters
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_Shelf.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Add classes for first-order IIR filters (#82)
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_Shelf.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ModalFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Remove C++ files from coverage data on Mac
  .github/workflows/cov.yml
Labels: ci-pipeline

Coverage: make Xcode ignore path more general
  .github/workflows/cov.yml
Labels: ci-pipeline

Remove C++ files from coverage data on Mac (#83)
  .github/workflows/cov.yml
Labels: ci-pipeline
