Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

ThreeWayCrossover: fix pointer aliasing checks
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
Labels: dsp

UIToAudioPipeline: use a SPMC queue (instead of SPSC) for UI-To-Live queue
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
Labels: dsp

UIToAudioPipeline: use a SPMC queue (instead of SPSC) for UI-To-Live queue (#423)
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
Labels: dsp

Update types_list
  modules/common/chowdsp_core/third_party/types_list/include/types_list/types_list.hpp
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
Labels: none

Add MinusX option to ADAA waveshaper
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  tests/dsp_tests/chowdsp_waveshapers_test/WaveMultiplierTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
Labels: dsp, tests

Small tweaks and better tests
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
Labels: dsp, tests

Add MinusX option to ADAA waveshaper (#424)
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/WaveMultiplierTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
Labels: dsp, tests

Fix data race in SerializationTest
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

OpenGLHelper: use Thread::sleep() instead of MessageManager::runDispatchLoopUntil() when modal loops are not allowed
  modules/gui/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
Labels: gui

Implementing abstract tree
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  tests/common_tests/chowdsp_core_test/AbstractTreeTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: plugin-utils, tests

Trying to fix missing include
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.h
  tests/common_tests/chowdsp_core_test/AbstractTreeTest.cpp
Labels: tests

Fixes for clang-tidy and sonar
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
Labels: plugin-utils

Fixing bad_function_call
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.h
Labels: none

Add methods to do for all nodes
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.h
Labels: none

DataStructures: adding AbstractTree (#425)
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_core/DataStructures/chowdsp_AbstractTree.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  tests/common_tests/chowdsp_core_test/AbstractTreeTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: plugin-utils, tests

PresetsComponent: use component LookAndFeel for popup menu
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
Labels: gui

ParameterAttachments: Add getParameter() methods
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
Labels: plugin-utils

Fix extraneous semi-colons
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
Labels: plugin-utils

Playing around with a small vector implementation
  modules/common/chowdsp_core/DataStructures/chowdsp_SmallVector.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/SmallVectorTest.cpp
Labels: tests

Revert "Playing around with a small vector implementation"
  modules/common/chowdsp_core/DataStructures/chowdsp_SmallVector.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/SmallVectorTest.cpp
Labels: tests

More complete tests
  modules/common/chowdsp_core/DataStructures/chowdsp_Iterators.h
  modules/common/chowdsp_core/DataStructures/chowdsp_SmallVector.h
  tests/common_tests/chowdsp_core_test/SmallVectorTest.cpp
Labels: tests

More functionality and tests for SmallVector
  modules/common/chowdsp_core/DataStructures/chowdsp_SmallVector.h
  tests/common_tests/chowdsp_core_test/SmallVectorTest.cpp
Labels: tests

Adding chowdsp::SmallVector (#426)
  modules/common/chowdsp_core/DataStructures/chowdsp_Iterators.h
  modules/common/chowdsp_core/DataStructures/chowdsp_SmallVector.h
  tests/common_tests/chowdsp_core_test/SmallVectorTest.cpp
Labels: tests

Add chowdsp_data_structures module
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_Iterators.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_TupleHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_DoubleBuffer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/AbstractTreeTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/DoubleBufferTest.cpp
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/LocalPointerTest.cpp
  tests/common_tests/chowdsp_data_structures_test/OptionalPointerTest.cpp
  tests/common_tests/chowdsp_data_structures_test/SmallVectorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/common_tests/chowdsp_data_structures_test/TupleHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/VectorHelpersTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: tests, documentation, ci-pipeline

Fix module dependencies
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: dsp, plugin-utils

Fixing reverse SmallVector reverse iterators
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

Trying ot appease MSVC
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

More MSVC silliness
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

EVEN MORE MSVC silliness
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

One more MSVC fix
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

Hopefully the last MSVC fixes
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

Even more MSVC BS
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

Add chowdsp_data_structures module (#427)
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_Iterators.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_TupleHelpers.h
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_DoubleBuffer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_LocalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/AbstractTreeTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/DoubleBufferTest.cpp
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/LocalPointerTest.cpp
  tests/common_tests/chowdsp_data_structures_test/OptionalPointerTest.cpp
  tests/common_tests/chowdsp_data_structures_test/SmallVectorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/common_tests/chowdsp_data_structures_test/TupleHelpersTest.cpp
  tests/common_tests/chowdsp_data_structures_test/VectorHelpersTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, plugin-utils, tests, documentation, ci-pipeline

Experimenting with using arena allocator for AbstractTree
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  modules/common/chowdsp_data_structures/third_party/short_alloc.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  tests/common_tests/chowdsp_data_structures_test/AbstractTreeTest.cpp
Labels: plugin-utils, tests

Add namespace and update README
  README.md
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
  modules/common/chowdsp_data_structures/third_party/short_alloc.h
Labels: documentation

Using arena allocator for AbstractTree (#428)
  README.md
  modules/common/chowdsp_data_structures/Helpers/chowdsp_VectorHelpers.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.cpp
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  modules/common/chowdsp_data_structures/third_party/short_alloc.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  tests/common_tests/chowdsp_data_structures_test/AbstractTreeTest.cpp
Labels: plugin-utils, tests, documentation

Buffer: remove un-needed assertions
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.cpp
Labels: dsp

Fix handling of UTF-8 strings in string views and units
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_units/Units/chowdsp_UnitsBase.h
Labels: none

Fixing Units unit test
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
Labels: none

Clang-tidy fix
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
Labels: none

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
