Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

Refactor GlobalPluginSettings to use JSON (#115)
  .github/workflows/cov.yml
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/chowdsp_plugin_utils/third_party/nlohmann/json.hpp
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: plugin-utils, tests, ci-pipeline

WDF: make root nodes hold reference to next element as const
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

WDF: make root nodes hold reference to next element as const (#116)
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

JSON: unit testing, and new fromBinaryData method
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/JSONTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ForwardingParameterTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ParamHelpersTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ParamStringsTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/test_preset.preset
Labels: plugin-utils, tests

JSON: unit testing, and new fromBinaryData method (#117)
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/JSONTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ForwardingParameterTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ParamHelpersTest.cpp
  tests/chowdsp_utils_test/utils_tests/parameter_tests/ParamStringsTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetTest.cpp
  tests/chowdsp_utils_test/utils_tests/presets_tests/test_preset.preset
Labels: plugin-utils, tests

PresetsComp: Cancel preset save when name editor focus is lost
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

Presets: add API to change name for user presets
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
Labels: plugin-utils, presets

PresetsManager: add method for getting a vector of just the user's presets
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
Labels: plugin-utils, presets

Add unit tests for new preset manager functionality
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

PresetsManager: add methods to change name for user vendor presets, and access vector of user presets (#118)
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.h
  tests/chowdsp_utils_test/utils_tests/presets_tests/PresetManagerTest.cpp
Labels: plugin-utils, presets, tests

Add helper class for attaching OpenGL context's to components
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: gui, tests

Update documentation
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: gui, tests

Try to fix tests
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: tests

Refactor OpenGLHelper to be more useful for plugin usage
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
Labels: gui

Fix tests for updated OpenGLHelper
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: gui, tests

Fix OpenGL includes, and add shouldAttachToComponent flag
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/chowdsp_gui.h
Labels: gui

Fixes to attachToNullTest()
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: tests

Add helper class for attaching OpenGL contexts to components (#119)
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/OpenGLHelperTest.cpp
Labels: gui, tests

PresetsComponent: editor should grab keyboard focus when saving a preset
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

Start working on variable oversampling processor
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Unit tests and documentation for VariableOversampling
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/VariableOversamplingTest.cpp
Labels: dsp, tests

Re-uncomment other tests
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
Labels: tests

Add test to check milliseconds latency
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/VariableOversamplingTest.cpp
Labels: dsp, tests

Add DSP class for VariableOversampling processor (#120)
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/VariableOversamplingTest.cpp
Labels: dsp, gui, tests

Fix clang warnings
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
Labels: dsp, gui

Fix more clang warnings
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
Labels: dsp

Add UI class for WindowInPlugin
  modules/chowdsp_gui/PluginComponents/chowdsp_WindowInPlugin.h
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/WindowInPluginTest.cpp
Labels: gui, tests

Add UI class for WindowInPlugin (#121)
  modules/chowdsp_gui/PluginComponents/chowdsp_WindowInPlugin.h
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/WindowInPluginTest.cpp
Labels: gui, tests

Add UI component for oversamplign menu
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
Labels: dsp, gui

Implement tests for OversamplingMenu
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: gui, tests

Fix Oversampling Menu Test on MSVC
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: tests

Try to fix failure in Presets Component Test
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
Labels: tests

Add UI component for oversampling menu (#122)
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.cpp
  modules/chowdsp_dsp/Resampling/chowdsp_VariableOversampling.h
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
  tests/chowdsp_utils_test/gui_tests/PresetsCompTest.cpp
Labels: dsp, gui, tests

Remove dependency between chowdsp_dsp and chowdsp_plugin_utils
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: plugin-utils

Start setting up real benchmarks with google/benchmark
  CMakeLists.txt
  bench/CMakeLists.txt
  bench/FloatVectorOperationsBench.cpp
  cmake/CPM.cmake
  cmake/SetupBenchmark.cmake
  cmake/SetupJuceTest.cmake
  tests/CMakeLists.txt
Labels: tests

Working benchmarks for FloatVectorOperations
  .github/workflows/bench.yml
  bench/FloatVectorOperationsBench.cpp
  bench/bench_utils.h
  cmake/SetupBenchmark.cmake
Labels: ci-pipeline

Set up benchmark for comparing performance between IIR and WDFs
  .github/workflows/bench.yml
  bench/CMakeLists.txt
  bench/WDFvsIIRBench.cpp
  cmake/SetupBenchmark.cmake
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
Labels: tests, ci-pipeline

Fix benchmark path
  .github/workflows/bench.yml
Labels: ci-pipeline

Set up more reliable performance benchmarks (#123)
  .github/workflows/bench.yml
  CMakeLists.txt
  bench/CMakeLists.txt
  bench/FloatVectorOperationsBench.cpp
  bench/WDFvsIIRBench.cpp
  bench/bench_utils.h
  cmake/CPM.cmake
  cmake/SetupBenchmark.cmake
  cmake/SetupJuceTest.cmake
  tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFPerf.cpp
Labels: tests, ci-pipeline

Preset: fix move constructors (noexcept and rule of five)
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
Labels: plugin-utils, presets

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
