Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Don't run coverage on Mac CI
  .github/workflows/run-tests.yml
Labels: ci-pipeline

BufferView: fix copy constructor (#439)
  .github/workflows/run-tests.yml
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
Labels: dsp, tests, ci-pipeline

Allow chowdsp::Buffer to work with almost any type
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.h
  tests/dsp_tests/chowdsp_buffers_test/BufferTest.cpp
Labels: dsp, tests

Trying to appease MSVC
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.cpp
Labels: dsp

Allow chowdsp::Buffer to work with (almost) any type (#440)
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.h
  tests/dsp_tests/chowdsp_buffers_test/BufferTest.cpp
Labels: dsp, tests

Add helpers for running arbitrary code at end-of-scope
  modules/common/chowdsp_core/Functional/chowdsp_EndOfScopeAction.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/EndOfScopeActionTest.cpp
Labels: tests

Fixing CI issues
  modules/common/chowdsp_core/Functional/chowdsp_EndOfScopeAction.h
Labels: none

Add helpers for running arbitrary code at end-of-scope (#441)
  modules/common/chowdsp_core/Functional/chowdsp_EndOfScopeAction.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/EndOfScopeActionTest.cpp
Labels: tests

LevelDetectorVisualizer: add parameters for y-range
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.h
Labels: gui

Tweaks to help with CLAP preset discovery and preset loading
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
Labels: plugin-utils

Add simila methods for Presets v1
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.h
Labels: plugin-utils

Tweaks to help implement CLAP presets features (#442)
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
Labels: plugin-utils

Optimizations for ratio == 1 and alloca for downsampling small blocks
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Remove unused struct
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
Labels: dsp

Fix Teensy CI
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
Labels: dsp

Optimizations for Upsampler/Downsampler (#443)
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Trying to fix SmallVector::end() iterator
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

Trying to fix SmallVector::end() iterator (#444)
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
Labels: none

chowdsp::Version: fix unused-variable warning
  modules/plugin/chowdsp_version/Version/chowdsp_Version.cpp
Labels: plugin-utils

Add LinearPhase3WayCrossover
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LinearPhase3WayCrossover.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
Labels: dsp

Fix filter prepare
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LinearPhase3WayCrossover.h
Labels: dsp

Linear Phase 3-way Crossover (#445)
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LinearPhase3WayCrossover.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
Labels: dsp

waveformView background colour made public
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
Labels: gui

waveformView background colour made public (#446)
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
Labels: gui

Update chowdsp_MonoCompressor.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
Labels: dsp

PopupMenuHelper: Pass mouse down position through to popup menu callback
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
Labels: gui

Fix test compilation error
  tests/gui_tests/chowdsp_gui_test/PopupMenuHelperTest.cpp
Labels: tests

PopupMenuHelper: Pass mouse down position through to popup menu callback (#447)
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  tests/gui_tests/chowdsp_gui_test/PopupMenuHelperTest.cpp
Labels: gui, tests

Add enum serialization specialization for JSON serializer
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
Labels: none

Add test and XML stuff
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Serialization: add specializations for serializing enums (#448)
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
Labels: tests

Acknowledging flaky test on Windows
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

Updating for JUCE 7.0.6
  .github/workflows/bench.yml
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  examples/CMakeLists.txt
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
Labels: dsp, plugin-utils, examples, ci-pipeline

More fixing
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  tests/common_tests/chowdsp_data_structures_test/BucketArrayTest.cpp
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
Labels: dsp, plugin-utils, tests

Trying to fix more failing tests
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_PresetsItem.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_TitleComp.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/RepitchedSourceTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SquareTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/waveshaper_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/PluginLoggerTest.cpp
Labels: dsp, gui, tests

Trying to fix failing tests
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
Labels: gui, tests

Fixing float-equal in GainReductionMeter
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
Labels: gui

Add StackAllocator
  modules/common/chowdsp_data_structures/Structures/chowdsp_StackAllocator.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/StackAllocatorTest.cpp
Labels: tests

Add StackAllocator (#450)
  modules/common/chowdsp_data_structures/Structures/chowdsp_StackAllocator.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
  tests/common_tests/chowdsp_data_structures_test/StackAllocatorTest.cpp
Labels: tests

Compressor: Add makeup gain target parameter
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
Labels: dsp

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
