Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Add undo/redo for preset loading and other cleanup
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
Labels: plugin-utils, tests

EQBand: reset parameter smoothers to parameter values, not zere
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
Labels: dsp

EQBand: reset parameter smoothers to parameter values, not zere (#373)
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
Labels: dsp

EQBand: resize fade buffer when fading between EQ bands
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
Labels: dsp, tests

EQBand: resize fade buffer when fading between EQ bands (#374)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
Labels: dsp, tests

Windows/Ableton testing and fixing
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.cpp
Labels: gui, plugin-utils, examples

More unit tests
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/SettingsInterfaceTest.cpp
Labels: plugin-utils, tests

Add MenuInterface test
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/MenuInterfaceTest.cpp
Labels: tests

Add file interface test
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/MenuInterfaceTest.cpp
Labels: tests

Fixing bugs
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
Labels: gui, plugin-utils, tests, examples

Update docs
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
Labels: plugin-utils

Add changes to CI tests
  .github/workflows/run-tests.yml
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  tests/test_utils/CodeQuality.cpp
Labels: tests, ci-pipeline

Fixing clang-tidy issues
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  tests/test_utils/CodeQuality.cpp
Labels: plugin-utils, tests

Trying to fix failing tests
  cmake/test/SetupCodeQuality.cmake
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/common_tests/chowdsp_core_test/VectorHelpersTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
Labels: plugin-utils, tests

Working on more CI failures
  cmake/test/SetupStaticTests.cmake
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
Labels: gui, plugin-utils, tests

More fixes
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: gui, tests

One more time with DeferredActionTest
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

Fix C++20 deprecation warnings
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
Labels: gui

Fixing warnings when compiling with clang-cl
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: dsp, gui, plugin-utils

Update rhythm test
  cmake/SetupChowdspLib.cmake
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  tests/music_tests/chowdsp_rhythm_test/CMakeLists.txt
  tests/music_tests/chowdsp_rhythm_test/RhythmUtilsTest.cpp
Labels: tests

Move the rest of the DSP tests to using Catch
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/FIRFilterTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/convolution_tests/ConvolutionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/convolution_tests/IRHelpersTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferConversionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/COLAProcessorTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/SmoothedBufferValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/VariableOversamplingTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/RepitchedSourceTest.cpp
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SineTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SquareTest.cpp
  tests/dsp_tests/chowdsp_sources_test/TriangleTest.cpp
  tests/test_utils/test_utils.h
Labels: tests

Fix typo
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
Labels: tests

Fixing bugs from Sonar
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
Labels: dsp, plugin-utils

Clean up SONAR code smells
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_GainProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResampledProcess.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
Labels: dsp, gui, plugin-utils

Fixing bugs and other issues caught by Sonar (#377)
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_JSONSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_XMLSerializer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_GainProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResampledProcess.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
Labels: dsp, gui, plugin-utils

Add StringLiteral type
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_StringLiteral.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/StringLiteralTest.cpp
Labels: tests, examples

Add operator overload for adding char array to StringLiteral
  modules/common/chowdsp_core/DataStructures/chowdsp_StringLiteral.h
Labels: none

Add one more unit test
  tests/common_tests/chowdsp_core_test/StringLiteralTest.cpp
Labels: tests

Explicitly define more comparison operators
  modules/common/chowdsp_core/DataStructures/chowdsp_StringLiteral.h
Labels: none

Add StringLiteral type (#378)
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_StringLiteral.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/StringLiteralTest.cpp
Labels: tests, examples

Rectangle: fix missing JUCE namespaces
  modules/common/chowdsp_core/DataStructures/chowdsp_GraphicsHelpers.h
Labels: none

SmoothedBufferValue: forward declare parameter handle instead of hiding it behind a #if
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

Fix namespacing mismatch
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

SmoothedBufferValue: forward declare parameter handle instead of hiding it behind a #if (#379)
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

NonParamState: remove initializer list constructor
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
Labels: plugin-utils

Update tests and examples
  examples/StatefulPlugin/StatefulPlugin.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/VersionStreamingTest.cpp
Labels: tests, examples

NonParamState: remove initializer list constructor (#380)
  examples/StatefulPlugin/StatefulPlugin.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/VersionStreamingTest.cpp
Labels: plugin-utils, tests, examples

Gain: fix reset() to reset the smoother to the target gain value
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
Labels: dsp

Improve gain tests
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: tests

Gain: fix reset() to reset the smoother to the target gain value (#381)
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: dsp, tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
