Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

ParamUtils: take const reference to APVTS in loadParameterPointer
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
Labels: plugin-utils

Exclude JUCEHelpers from code coverage analysis
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Try different approach for excluding coverage info
  .github/workflows/run-tests.yml
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
Labels: ci-pipeline

Fix typo
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Exclude JUCEHelpers from code coverage analysis (#246)
  .github/workflows/run-tests.yml
  modules/common/chowdsp_core/chowdsp_core.h
Labels: ci-pipeline

Try again to exclude JUCEHelpers from coverage
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Try again to exclude JUCEHelpers from coverage (#247)
  .github/workflows/run-tests.yml
Labels: ci-pipeline

ParamUtils: Improvements for stringToFreqval
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
Labels: plugin-utils

Fixing parameter modulation and ranges CMake args
  cmake/test/SetupExamplePlugin.cmake
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
Labels: plugin-utils

Check for host misbehaving in CLAP parameter modulation
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
Labels: plugin-utils

Update CLAP interface for modulating parameters
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

We no longer need CLAPProcessorExtensions (for now)
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.cpp
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Update CLAP repo for examples
  examples/CMakeLists.txt
Labels: examples

Fix clang-tidy issues
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

CLAP extension updates (#248)
  cmake/test/SetupExamplePlugin.cmake
  examples/CMakeLists.txt
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.cpp
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils, examples

Fix FIR filter when processing multiple channels
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fix FIR filter when processing multiple channels (#249)
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

CoefficientCalculators: add constexpr Butterworth Q
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
Labels: dsp

Polylogarithm: avoid definition conflict for PI
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
Labels: dsp

Add test for chowdsp::Buffer
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
Labels: dsp, tests

Start moving DSP data structures away from JUCE
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.cpp
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/ScopedValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTestJUCE.cpp
Labels: dsp, tests, ci-pipeline

Implement Buffer and BufferView with tests
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTestJUCE.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
Labels: dsp, tests

Start de-jucing filters lib
  cmake/SetupChowdspLib.cmake
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

Add tests for almost all filter types
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_ProcessSpec.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/ButterworthFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ChebyshevIIFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/EllipticFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FilterChainTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/SecondOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_filters_test/StateVariableFilterTest.cpp
Labels: dsp, tests

Add tests for more filters
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ShelfFilterTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

Finish de-jucing LookupTable and RebufferedProcessor, start extracting tests that need JUCE
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_LookupTable.cpp
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_LookupTable.h
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_RebufferedProcessor.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_RebufferedProcessor.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.cpp
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/LookupTableTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/RebufferProcessorTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/COLAProcessorTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/FIRFilterTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/SmoothedBufferValueTest.cpp
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
Labels: dsp, tests

Finish de-jucing filters and most filter tests
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FractionalOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/HilbertFilterTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

Smarter dependency handling for chowdsp static libs
  cmake/SetupChowdspLib.cmake
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
Labels: tests

De-JUCE a bunch of things from chowdsp_dsp_utils
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_PitchShift.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_PitchShift.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_GainProcessor.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Panner.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_TunerProcessor.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_utils_test/AudioTimerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BBDTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/PannerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/PitchShiftTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/TunerTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

De-JUCEing oscillators and modal filters
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SawtoothWave.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SineWave.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SquareWave.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/convolution_tests/ConvolutionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/convolution_tests/IRHelpersTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/COLAProcessorTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/SmoothedBufferValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/UpsampleDownsampleTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/VariableOversamplingTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/RepitchedSourceTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/modal_tests/ModalFilterBankTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/modal_tests/ModalFilterTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/source_tests/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/source_tests/SineTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/source_tests/SquareTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

De-JUCEing EQ module
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PrototypeEQ.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
Labels: dsp, examples

Tweaks to chowdsp_reverb
  examples/SimpleReverb/CMakeLists.txt
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
Labels: dsp, examples

Restucturing in case juce_dsp isn't available
  examples/SignalGenerator/CMakeLists.txt
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.cpp
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_SquareWave.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

De-JUCEing waveshapers
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAATanhClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
Labels: dsp, tests

Fix modal reverb example
  examples/AutoWah/CMakeLists.txt
  examples/ModalSpringReverb/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp, examples

Tweak CI for new testing structure
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Fix compilation on MSVC
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Fix setup process for compiling alongside a JUCE project
  CMakeLists.txt
  cmake/SetupChowdspLib.cmake
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_LookupTable.cpp
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_LookupTable.h
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.h
Labels: none

De-JUCE upsampler and downsampler
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

De-JUCE the rest of the resampling code
  CHANGELOG.md
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_BaseResampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResampledProcess.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_ResamplingProcessor.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_RepitchedSource.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/UpsampleDownsampleTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests
