Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Consolidate test dependencies and continue migrating tests to Catch (#391)
  .github/workflows/auto-format.yml
  cmake/test/SetupCatchTest.cmake
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/CMakeLists.txt
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/FIRFilterTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/RhythmParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioFileSaveLoadHelperTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/FileListenerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/PluginLoggerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
  tests/test_utils/test_utils.h
Labels: tests, ci-pipeline

Move presets_v2 code into a separate namespace
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/MenuInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/SettingsInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: gui, plugin-utils, tests, examples

Move presets_v2 code into a separate namespace (#392)
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/MenuInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/SettingsInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: gui, plugin-utils, tests, examples

Trying out new CI strategy
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  .gitignore
  CMakeLists.txt
  cmake/test/SetupCatchTest.cmake
Labels: ci-pipeline

yaml errors
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Better ctest configurations
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Re-enabling other CI pipelines
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Updating more tests to Catch
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  cmake/test/SetupCatchTest.cmake
  codecov.yml
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/gui_tests/chowdsp_gui_test/LongPressActionTest.cpp
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/PopupMenuHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/WindowInPluginTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/test_utils/test_utils.h
Labels: tests, ci-pipeline

Fixing compilation issues related to DummyPlugin
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
Labels: tests

Improving test parallelization strategy
  .github/workflows/run-tests.yml
  cmake/test/SetupCatchTest.cmake
  tests/CMakeLists.txt
Labels: tests, ci-pipeline

Trying to fix visualizers test
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
Labels: gui, tests

Increase tolerance for visualizers test image comparison
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
Labels: tests

const ref instead of r-value ref
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
Labels: gui

Updating CI pipelines (#393)
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  .gitignore
  CMakeLists.txt
  cmake/test/SetupCatchTest.cmake
  codecov.yml
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  tests/CMakeLists.txt
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/gui_tests/chowdsp_gui_test/LongPressActionTest.cpp
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/PopupMenuHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/WindowInPluginTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/test_utils/test_utils.h
Labels: gui, tests, ci-pipeline

Tests: don't run catch_discover_tests with Xcode generator
  cmake/test/SetupCatchTest.cmake
Labels: none

Make ParamHolder owning parameters optional, other OptionalPointer improvements
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: gui, plugin-utils, tests

Make ParamHolder owning parameters optional, other OptionalPointer improvements (#394)
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: gui, plugin-utils, tests

Bring back plugin base test
  .github/workflows/run-tests.yml
  codecov.yml
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginBaseTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
Labels: tests, ci-pipeline

Bring back plugin base test (#395)
  .github/workflows/run-tests.yml
  codecov.yml
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginBaseTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
Labels: tests, ci-pipeline

Ge ForwardingParameter working with new plugin state
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests, examples

Fix missing ifdef
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
Labels: plugin-utils

Get ForwardingParameter working with new plugin state (#396)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests, examples

Fix for non-owning ParamHolder
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
Labels: plugin-utils

Buffer: add assertion in setCurrentSize()
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
Labels: dsp

Add soft sine waveshaper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASineClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: dsp, tests, examples

Update reference link
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
Labels: dsp

Add soft sine waveshaper (#397)
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASineClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: dsp, tests, examples

Optimizations for chowdsp::SmoothedBufferValue::reset()
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
Labels: dsp

Fix failing tests
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTest.cpp
Labels: tests

Optimizations for chowdsp::SmoothedBufferValue::reset() (#398)
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTest.cpp
Labels: dsp, tests

buffer_iters: add iterator for buffer in sub-blocks
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
Labels: dsp

More buffer iter tests
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: tests

buffer_iters: add iterator for buffer in sub-blocks (#399)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Buffer iterator improvements and allow copying buffers across data types
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

Simplify copying buffer data
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Fixing MSVC issues
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

More MSVC fixing
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferHelpers.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

Buffer iterator improvements and allow copying buffers across data types (#400)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

Force EnumChoiceParameters to use flag-like enums
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

Make ARPFilter and WernerFilter enum types behave as flags
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp
