Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Fix unit tests
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: tests

OversamplingMenu: refactor, remove a layer of indirection (#153)
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  tests/chowdsp_utils_test/gui_tests/OversamplingMenuTest.cpp
Labels: gui, tests

BBDDelayLine: small math fix and some minor tweaks
  modules/chowdsp_dsp/Delay/chowdsp_BBDDelayLine.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDDelayWrapper.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
Labels: dsp

Re-organize some files and update tests
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDDelayLine.h
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDDelayWrapper.h
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/BBDTest.cpp
Labels: dsp, tests

BBDDelayLine: small math fix and some minor tweaks (#154)
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDDelayLine.h
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDDelayWrapper.h
  modules/chowdsp_dsp/Delay/BBD/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/BBDTest.cpp
Labels: dsp, tests

IRHelpers: implement halfMagnitudeIR
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
Labels: dsp, tests

Set up example plugin
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/LinearPhaseEQ/CMakeLists.txt
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
Labels: none

LinearPhaseEQ: set up prototype EQ
  examples/LinearPhaseEQ/CMakeLists.txt
  examples/LinearPhaseEQ/EQParams.h
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
  examples/LinearPhaseEQ/PrototypeEQ.cpp
  examples/LinearPhaseEQ/PrototypeEQ.h
Labels: none

Working LinearPhaseEQ example plugin
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
  examples/LinearPhaseEQ/chowdsp_LinearPhaseEQ.cpp
  examples/LinearPhaseEQ/chowdsp_LinearPhaseEQ.h
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRTransfer.h
  modules/chowdsp_dsp/Math/chowdsp_OtherMathOps.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Start preparing things for merging
  .github/workflows/examples.yml
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
  modules/chowdsp_dsp/Convolution/chowdsp_LinearPhaseEQ.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_LinearPhaseEQ.h
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp, ci-pipeline

More cleaning
  examples/LinearPhaseEQ/EQParams.h
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
  examples/LinearPhaseEQ/PrototypeEQ.h
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
Labels: dsp

Add test for log2
  modules/chowdsp_dsp/Math/chowdsp_OtherMathOps.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/OtherMathOpsTest.cpp
Labels: dsp, tests

Add LinearPhaseEQ test
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/LinearPhaseEQTest.cpp
Labels: tests

Update unit test
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/LinearPhaseEQTest.cpp
Labels: tests

Skip a couple tests on Linux (for now)
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/LinearPhaseEQTest.cpp
Labels: tests

Make sure buffers are properly cleared when they're created
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/LinearPhaseEQTest.cpp
Labels: tests

Add LinearPhaseEQ with an example plugin (#155)
  .github/workflows/examples.yml
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/LinearPhaseEQ/CMakeLists.txt
  examples/LinearPhaseEQ/EQParams.h
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.cpp
  examples/LinearPhaseEQ/LinearPhaseEQPlugin.h
  examples/LinearPhaseEQ/PrototypeEQ.cpp
  examples/LinearPhaseEQ/PrototypeEQ.h
  modules/chowdsp_dsp/Convolution/chowdsp_ConvolutionEngine.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_IRHelpers.h
  modules/chowdsp_dsp/Convolution/chowdsp_IRTransfer.h
  modules/chowdsp_dsp/Convolution/chowdsp_LinearPhaseEQ.cpp
  modules/chowdsp_dsp/Convolution/chowdsp_LinearPhaseEQ.h
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Math/chowdsp_OtherMathOps.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/IRHelpersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/convolution_tests/LinearPhaseEQTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/OtherMathOpsTest.cpp
Labels: dsp, tests, ci-pipeline

FlaotVectorOperations: add divide operation
  bench/FloatVectorOperationsBench.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Tweaks to diffuser and FDN
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Add FDN class
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Set up reverb example plugin
  examples/CMakeLists.txt
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
Labels: none

Fix issues compiling reverb on GCC
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.h
Labels: dsp

FloatVectorOperations: add divide operation (#156)
  bench/FloatVectorOperationsBench.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Set up FDN class with example reverb plugin (#157)
  examples/CMakeLists.txt
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_Diffuser.h
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.cpp
  modules/chowdsp_dsp/Reverb/chowdsp_FDN.h
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

FloatVectorOperations::divide: use vDSP if available
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

FloatVectorOperations::divide: use vDSP if available (#158)
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

BypassProcessor: update API for preparing and setting latency
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.cpp
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.h
Labels: dsp

Update unit tests
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.cpp
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.h
  tests/chowdsp_utils_test/dsp_tests/BypassTest.cpp
Labels: dsp, tests

BypassProcessor: update API for preparing and setting latency (#159)
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.cpp
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.h
  tests/chowdsp_utils_test/dsp_tests/BypassTest.cpp
Labels: dsp, tests

Add SimpleReverb example to CI
  .github/workflows/examples.yml
  examples/CMakeLists.txt
Labels: ci-pipeline
