Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Small fixes
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.h
Labels: dsp

DataStructures: add a lookup table cache (#240)
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
Labels: dsp, plugin-utils, tests, examples

unique named properties
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: tests

Thread safe GlobalPluginSettings
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

Removed getlock()
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
Labels: plugin-utils

non overlapping number range, more consistency
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: tests

Shared resource pointer to test multi instance
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

removed lock from file listener callback
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

CLAP: Start implementing custom event handling
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

CLAP updates and SmoothedBufferValue working with modulatable parameters
  cmake/test/SetupExamplePlugin.cmake
  examples/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.h
Labels: dsp, examples

Threads in global plugin settings (#231)
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

Update CLAP approach to use direct event handling for parameter modulation
  examples/CMakeLists.txt
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
Labels: plugin-utils, examples

Fix warning and add test for SmoothedBufferValue with parameter modulation
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
Labels: dsp, plugin-utils, tests

Fix a few more warnings
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
Labels: dsp

Fix one more compiler warning
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
Labels: dsp

CLAPProcessorExtensions: use direct event handling for parameter modulation (#241)
  cmake/test/SetupExamplePlugin.cmake
  examples/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
Labels: dsp, plugin-utils, tests, examples

Make BasicEQParams that don't depend on chowdsp_parameters
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp

More tweaks to EQ parameter methods
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
Labels: dsp

EQ: tweaks for parameter structs and default EQ bands (#242)
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp

Start updating parameter creators to use JUCE 7 paradigm
  examples/CMakeLists.txt
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: dsp, plugin-utils, examples

Finish updating example plugins to JUCE7
  .github/workflows/bench.yml
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  examples/AccessiblePlugin/AccessiblePlugin.cpp
  examples/AutoWah/AutoWahPlugin.cpp
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp, examples, ci-pipeline

Try to fix ParamUtils compatibility with JUCE6
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

Fix example plugins
  examples/AutoWah/AutoWahPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
Labels: dsp, examples

Update example plugins to JUCE 7 (#243)
  .github/workflows/bench.yml
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  examples/AccessiblePlugin/AccessiblePlugin.cpp
  examples/AutoWah/AutoWahPlugin.cpp
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: dsp, plugin-utils, examples, ci-pipeline

Update forwarding parameters to use version hints
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils, examples

Re-implement SIMD tests
  tests/dsp_tests/chowdsp_simd_test/SIMDSmoothedValueTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
Labels: tests

De-JUCE chowdsp_math
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CombinatoricsTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/JacobiEllipticTest.cpp
  tests/dsp_tests/chowdsp_math_test/MatrixOpsTest.cpp
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolynomialsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
Labels: dsp, tests

Move chowdsp_code tests to using Catch, with no JUCE
  cmake/test/SetupCatchTest.cmake
  tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/DoubleBufferTest.cpp
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_foleys_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/music_tests/chowdsp_rhythm_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/test_utils/CatchTestRunner.cpp
  tests/test_utils/CatchUtils.h
  tests/test_utils/JUCETestRunner.cpp
  tests/test_utils/catch2/catch2.hpp
Labels: tests

De-JUCE SIMD module
  cmake/test/SetupCatchTest.cmake
  modules/common/chowdsp_core/JUCEHelpers/juce_CompilerWarnings.h
  modules/common/chowdsp_core/JUCEHelpers/juce_Decibels.h
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.h
  modules/common/chowdsp_core/JUCEHelpers/juce_MathsFunctions.h
  modules/common/chowdsp_core/JUCEHelpers/juce_SmoothedValue.h
  modules/common/chowdsp_core/JUCEHelpers/juce_StandardHeader.h
  modules/common/chowdsp_core/JUCEHelpers/juce_TargetPlatform.h
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSmoothedValue.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDSmoothedValueTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
Labels: dsp, tests

Set up workflow for creating static lib outside of JUCE
  CMakeLists.txt
  cmake/SetupChowdspLib.cmake
  cmake/test/SetupCatchTest.cmake
  tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
Labels: tests

Update forwarding parameters to use version hints (#244)
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils, examples

No JUCE in chowdsp_reflection
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
Labels: none

Fix benchmarks compiling
  bench/CMakeLists.txt
  bench/FIRFilterBench.cpp
  bench/IIRFilterBench.cpp
Labels: benchmarks

Fix FloatVectorOperations ocmpiling on GCC
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_StandardHeader.h
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Fix LiveGUITest compiling
  cmake/test/SetupJuceTest.cmake
Labels: none

Fix silly CMake typo
  cmake/test/SetupJuceTest.cmake
Labels: none

Attempting to fix more unit test compilation failures
  cmake/SetupChowdspLib.cmake
  modules/common/chowdsp_core/Memory/chowdsp_MemoryAliasing.h
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: tests

Attempt to fix failing tests on Windows
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: tests

Fix missing code coverage data
  cmake/test/SetupCatchTest.cmake
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
Labels: tests

RhythmParameter: use JUCE7 ParameterID
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.h
Labels: plugin-utils
