Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Add function for transforming a filter with negative feedback
  modules/dsp/chowdsp_filters/Utils/chowdsp_LinearTransforms.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/LinearTransformsTest.cpp
Labels: dsp, tests

make ConvolutionEngine.cpp a .tpp for templating
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.h
  modules/dsp/chowdsp_dsp_utils/Convolution/chowdsp_ConvolutionEngine.tpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
Labels: dsp

Minor tweaks
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_LinearTransforms.h
Labels: dsp

Fix CI errors
  modules/dsp/chowdsp_filters/Utils/chowdsp_LinearTransforms.h
  tests/dsp_tests/chowdsp_filters_test/LinearTransformsTest.cpp
Labels: dsp, tests

Add function for transforming a filter with feedback (#317)
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_LinearTransforms.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/LinearTransformsTest.cpp
Labels: dsp, tests

Implement C++17-compatible bind_front and bind_back from std <functional>
  modules/common/chowdsp_core/Functional/chowdsp_Bindings.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/BindingsTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
Labels: tests

Use move instead of forward in a couple spots
  modules/common/chowdsp_core/Functional/chowdsp_Bindings.h
Labels: none

Implement C++17-compatible bind_front and bind_back from std <functional> (#318)
  modules/common/chowdsp_core/Functional/chowdsp_Bindings.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/BindingsTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
Labels: tests

Try to fix fallback to std::bind_front on Mac
  modules/common/chowdsp_core/Functional/chowdsp_Bindings.h
Labels: none

Try to fix fallback to std::bind_front on Mac (#319)
  modules/common/chowdsp_core/Functional/chowdsp_Bindings.h
Labels: none

CPUMeter: fix typo
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.cpp
Labels: gui

Set up static buffer
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
Labels: dsp, tests

Get BufferView and BufferMath working with more types of buffers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
Labels: dsp, tests

Clean up some details
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
Labels: dsp

Fixing Buffer Math Test on Windows
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: tests

Add chowdsp::StaticBuffer (#320)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferViewTest.cpp
Labels: dsp, tests

Android build fix
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_scalar.hpp
Labels: dsp

Set up config file class for prototyping configs
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/ConfigFileTest.cpp
Labels: plugin-utils, tests

Revert "Android build fix"
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_scalar.hpp
Labels: dsp

Add comments
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
Labels: plugin-utils

Add fast inverse square root
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Add algebraic sigmoid function
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Fix no XSIMD compilation
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
Labels: dsp

Add algebraic sigmoid function using fast inverse square-root (#324)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Update changelog
  CHANGELOG.md
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp

Implement static delay line and start using it in SimpleReverb
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayLine.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
Labels: dsp

Fixes and jasserts everywhere
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayLine.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
Labels: dsp

A bit more cleanup
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayBuffer.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayLine.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
Labels: dsp

Fix ambiguous symbol error in xsimd code
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_traits.hpp
Labels: dsp

Simplify rsqrt implementation
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
Labels: dsp

Simplify rsqrt implementation (#325)
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
Labels: dsp

Start working on ADAA frequency compensation
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Use a peaking filter to compensate hf loss in ADAA
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
Labels: dsp, plugin-utils

Small tweak
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Revert temp change in full wave recitifer
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
Labels: dsp

Fix waveshapers dependency
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp

Change default template parameter
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Experimenting with high-frequency compensation for ADAAWaveshaper (#326)
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
Labels: dsp, plugin-utils

Reverb improvements
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_StaticDelayBuffer.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.cpp
Labels: dsp, examples

Add convolution diffuser and other little fixes
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/common/chowdsp_core/Types/chowdsp_TypesList.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  tests/common_tests/chowdsp_core_test/TypesListTest.cpp
Labels: dsp, tests, examples

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
