Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Fixing no SIMD failure
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
Labels: dsp

Sine and Cosine approximations (#459)
  bench/CMakeLists.txt
  bench/TrigBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_TrigApprox.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/TrigApproxTest.cpp
Labels: dsp, tests, benchmarks

Add OvershootLimiter processor
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_OvershootLimiter.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/OvershootLimiterTest.cpp
Labels: dsp, tests, examples

Add OvershootLimiter processor (#460)
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_OvershootLimiter.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/OvershootLimiterTest.cpp
Labels: dsp, tests, examples

Using std::declval where appropriatel
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
Labels: none

Refactor and adding tests
  modules/common/chowdsp_core/Types/chowdsp_TypeHasCheckers.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypeCheckersTest.cpp
Labels: tests

Fix broken static method checker
  modules/common/chowdsp_core/Types/chowdsp_TypeHasCheckers.h
Labels: none

Fix core test
  tests/common_tests/chowdsp_core_test/TypeCheckersTest.cpp
Labels: tests

Improvements for type-checking macros (#461)
  modules/common/chowdsp_core/Types/chowdsp_TypeHasCheckers.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TypeCheckersTest.cpp
Labels: tests

Add missing margins for Gain Test
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: tests

Add missing margins for Gain Test (#462)
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: tests

Rename StackAllocator to ArenaAllocator
  modules/common/chowdsp_data_structures/Structures/chowdsp_ArenaAllocator.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
Labels: none

Update tests
  tests/common_tests/chowdsp_data_structures_test/ArenaAllocatorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
Labels: tests

Rename StackAllocator to ArenaAllocator (#463)
  modules/common/chowdsp_data_structures/Structures/chowdsp_ArenaAllocator.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/ArenaAllocatorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
Labels: tests

StandardEQParameter: add constructor argument for ParamHolder name
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp

LinearPhaseEQ: make sure stopTimer is called before destruction
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
Labels: dsp

StandardEQParameters: fix shadow warning
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
Labels: dsp

Add generic CrossoverFilter class
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_CrossoverFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Add tests
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CrossoverFilterTest.cpp
Labels: tests

Fixing size_t conversions for GCC
  modules/dsp/chowdsp_filters/Other/chowdsp_CrossoverFilter.h
Labels: dsp

More Add generic CrossoverFilter class (#464)
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_CrossoverFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CrossoverFilterTest.cpp
Labels: dsp, tests, examples

Add user-defined literals for chowdsp::StringLiteral
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  tests/common_tests/chowdsp_data_structures_test/ArenaAllocatorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
Labels: tests

Trying to make things work with VS2022
  .github/workflows/run-tests.yml
Labels: ci-pipeline

No more string literal operator template for now :(
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
Labels: tests

Diffuser test tweak
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
Labels: tests

Add user-defined literals for chowdsp::StringLiteral (#465)
  .github/workflows/run-tests.yml
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  tests/common_tests/chowdsp_data_structures_test/ArenaAllocatorTest.cpp
  tests/common_tests/chowdsp_data_structures_test/IteratorsTest.cpp
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/DiffuserTest.cpp
Labels: tests, ci-pipeline

Parameter tweaks and adding a component getter to parameters view
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: gui, plugin-utils

Parameter tweaks and adding a component getter to parameters view (#466)
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_RhythmParameter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: gui, plugin-utils

const-correctness fixes
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
Labels: dsp

Fixes for FIR filter and BypassProcessor
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fixes for FIR filter and BypassProcessor (#467)
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Updates for StringLiteral and StateValue
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

Updates for StringLiteral and StateValue (#468)
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_StringLiteral.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  tests/common_tests/chowdsp_data_structures_test/StringLiteralTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

Tweaks for Buffer helpers and SmoothedBufferValue
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

CI fixes
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

Tweaks for Buffer helpers and SmoothedBufferValue (#469)
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
Labels: dsp

Remove explicit dependency between chowdsp_gui and juce_dsp
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui

Only enable chowdsp::CPUMeter if juce_dsp is available
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui

CMake tweaks
  cmake/test/SetupCodeQuality.cmake
  tests/gui_tests/live_gui_test/CMakeLists.txt
Labels: tests

Only enable chowdsp::CPUMeter if juce_dsp is available (#470)
  cmake/test/SetupCodeQuality.cmake
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_CPUMeter.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/gui_tests/live_gui_test/CMakeLists.txt
Labels: gui, tests
