Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Remove clang-tidy check
  .clang-tidy
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
Labels: none

Add macros to check if classes have a given method (#220)
  .clang-tidy
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/static_tests/CMakeLists.txt
  tests/static_tests/CorrectContainers_pass.cpp
  tests/static_tests/HasMemberMethodTest_pass.cpp
  tests/static_tests/HasStaticMethodTest_pass.cpp
Labels: plugin-utils, tests

EQParams: remove deprecated constructors
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQParams.h
Labels: dsp

Minor accessibility improvements for UI components
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
Labels: gui

Fix CLAP capitalization
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Core: re-organize and add memory aliasing utilities
  modules/common/chowdsp_core/Memory/chowdsp_MemoryAliasing.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
Labels: tests

Core: re-organize and add memory aliasing utilities (#221)
  modules/common/chowdsp_core/Memory/chowdsp_MemoryAliasing.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
Labels: tests

Small optimizations for filter coefficient calculation functions
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
Labels: dsp

Fix unused variable warning
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
Labels: dsp

Small optimizations for filter coefficient calculation functions (#222)
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
Labels: dsp

ConformalMaps Transforms accepting filter order
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: dsp, tests

Update LICENSE
  LICENSE
Labels: none

Rename LICENSE to LICENSE.md
  LICENSE.md
Labels: none

Make IIRFilter compatible with juce::dsp::ProcessorBase
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
Labels: dsp, tests

Make IIRFilter compatible with juce::dsp::ProcessorBase (#224)
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
Labels: dsp, tests

InfoProvider: better flexibility for getWrapperTypeString()
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
Labels: gui

Reverse template parameters for InfoComp
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_InfoItem.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
Labels: gui

Fix InfoItem
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_InfoItem.h
Labels: gui

InfoProvider: better flexibility for getWrapperTypeString() (#225)
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_InfoItem.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
Labels: gui

Better documentation for AtomicHelpers::compareExchange
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
Labels: none

Update tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: tests

Add bipolar percent param creator
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
Labels: plugin-utils

Add more complete utils for creating parameters
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

ParamUtils: add more helper functions for creating parameters (#226)
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

Bilinear transform order fix (#223)
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: dsp, tests

EQ: set up StandardEQParameters class
  examples/SimpleEQ/EQParams.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
Labels: dsp, examples

Fix compilation errors
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
Labels: dsp, examples

Fix missing include
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
Labels: dsp

EQ: set up StandardEQParameters class (#227)
  examples/SimpleEQ/EQParams.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
Labels: dsp, examples

UIState: make a few things protected instead of private
  modules/plugin/chowdsp_plugin_utils/State/chowdsp_UIState.h
Labels: plugin-utils

UIState: make a few things protected instead of private (#228)
  modules/plugin/chowdsp_plugin_utils/State/chowdsp_UIState.h
Labels: plugin-utils

Add parameter wrappers to support parameter modulation
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Fixes for param utils and CLAP processing call
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: gui, plugin-utils

Clean-up for parameter modulation and such
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  cmake/test/SetupExamplePlugin.cmake
  examples/CMakeLists.txt
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
Labels: dsp, plugin-utils, tests, examples, ci-pipeline

Fix some warnings and errors in example plugins
  examples/AutoWah/AutoWahPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils, examples

Re-organize CLAP stuff into its own module and general fixes
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupExamplePlugin.cmake
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.cpp
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  tests/test_utils/CodeQuality.cpp
Labels: dsp, plugin-utils, tests, documentation

Get rid of dynamic_cast to find modulatable parameters
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: gui, plugin-utils

Update CLAP pointer
  examples/CMakeLists.txt
Labels: examples

Fix a few recent Xcode warnings
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
Labels: plugin-utils

Add support for parameter modulation in CLAP plugins (#229)
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupExamplePlugin.cmake
  examples/AutoWah/AutoWahPlugin.cpp
  examples/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.cpp
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, plugin-utils, tests, examples, documentation, ci-pipeline
