Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Add benchmark for AbstractTree
  bench/AbstractTreeBench.cpp
  bench/CMakeLists.txt
  cmake/test/SetupBenchmark.cmake
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
Labels: benchmarks

Add benchmark for AbstractTree (#429)
  bench/AbstractTreeBench.cpp
  bench/CMakeLists.txt
  cmake/test/SetupBenchmark.cmake
  modules/common/chowdsp_data_structures/Structures/chowdsp_AbstractTree.h
Labels: benchmarks

Added BucketArray container to chowdsp_data_structures
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/BucketArrayTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
Labels: tests

Using unique_ptr
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
Labels: none

Added BucketArray container to chowdsp_data_structures (#430)
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  tests/common_tests/chowdsp_data_structures_test/BucketArrayTest.cpp
  tests/common_tests/chowdsp_data_structures_test/CMakeLists.txt
Labels: tests

Fixing bugs with preset deletion and lifetime of copy/pasted preset
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
Labels: gui, plugin-utils

Fix preset ownership ambiguity when not using an UndoManager
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
Labels: plugin-utils

Fixing bugs with preset deletion and lifetime of copy/pasted preset (#431)
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
Labels: gui, plugin-utils

PresetsFileInterface: fixes for deleting and over-writing preset files asynchronously
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
Labels: gui, plugin-utils

Fix unit tests compiling
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
Labels: tests

PresetsFileInterface: fixes for deleting and over-writing preset files asynchronously (#432)
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
Labels: gui, plugin-utils, tests

WIP
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
Labels: plugin-utils

Rewriting presets program adapter to only account for factory presets
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
Labels: plugin-utils, tests

Rewriting presets program adapter to only account for factory presets (#433)
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
Labels: plugin-utils, tests

Minor fixes and improvements for Upsampler and Downsampler
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
Labels: dsp

Remove erroneous comment
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
Labels: dsp

Fix unit test
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: tests

Minor fixes and improvements for Upsampler and Downsampler (#434)
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Remove un-needed chowdsp::namespace specifiers
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
Labels: dsp

Upsampler/Downsampler: add tempalte option to avoid allocating an internal buffer
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Upsampler/Downsampler: add template option to avoid allocating an internal buffer (#435)
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
Labels: dsp

Start setting up chowdsp_compressor module
  cmake/AddJUCEModules.cmake
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
  modules/dsp/chowdsp_compressor/chowdsp_compressor.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.h
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
Labels: dsp, gui

Update comments
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
Labels: dsp

Moving mor code around
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainComputerPlot.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainComputerPlot.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
Labels: dsp, gui

Add example compressor plugin
  examples/CMakeLists.txt
  examples/ExampleCompressor/CMakeLists.txt
  examples/ExampleCompressor/ExampleCompressor.cpp
  examples/ExampleCompressor/ExampleCompressor.h
  examples/ExampleCompressor/Params.h
  examples/ExampleCompressor/PluginEditor.cpp
  examples/ExampleCompressor/PluginEditor.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
Labels: gui, examples

Add unit tests
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_compressor_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_compressor_test/GainComputerTest.cpp
  tests/dsp_tests/chowdsp_compressor_test/LevelDetectorTest.cpp
  tests/dsp_tests/chowdsp_compressor_test/MonoCompressorTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, documentation, ci-pipeline

Fixing CI failures
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainComputerPlot.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.h
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
Labels: gui

Adding `chowdsp_compressor` module (#436)
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/CMakeLists.txt
  examples/ExampleCompressor/CMakeLists.txt
  examples/ExampleCompressor/ExampleCompressor.cpp
  examples/ExampleCompressor/ExampleCompressor.h
  examples/ExampleCompressor/Params.h
  examples/ExampleCompressor/PluginEditor.cpp
  examples/ExampleCompressor/PluginEditor.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
  modules/dsp/chowdsp_compressor/chowdsp_compressor.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainComputerPlot.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainComputerPlot.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.cpp
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_LevelDetectorVisualizer.h
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.cpp
  modules/gui/chowdsp_visualizers/TimeDomain/chowdsp_WaveformView.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_compressor_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_compressor_test/GainComputerTest.cpp
  tests/dsp_tests/chowdsp_compressor_test/LevelDetectorTest.cpp
  tests/dsp_tests/chowdsp_compressor_test/MonoCompressorTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, gui, tests, examples, documentation, ci-pipeline

chowdsp::Gain: fix linear gain initialization
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
Labels: dsp

Making compressor helper methods optional and fixing issues with parameter attachments and data structures
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_RawObject.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
Labels: dsp, plugin-utils

Fixing ExampleCompressor
  .github/workflows/examples.yml
  examples/ExampleCompressor/ExampleCompressor.cpp
  examples/ExampleCompressor/ExampleCompressor.h
  examples/ExampleCompressor/Params.h
  examples/ExampleCompressor/PluginEditor.cpp
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
Labels: dsp, gui, examples, ci-pipeline

Fixing CI
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
Labels: gui

Making compressor helper methods optional and fixing issues with parameter attachments and data structures (#437)
  .github/workflows/examples.yml
  examples/ExampleCompressor/ExampleCompressor.cpp
  examples/ExampleCompressor/ExampleCompressor.h
  examples/ExampleCompressor/Params.h
  examples/ExampleCompressor/PluginEditor.cpp
  modules/common/chowdsp_data_structures/Structures/chowdsp_BucketArray.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_RawObject.h
  modules/common/chowdsp_data_structures/Structures/chowdsp_SmallVector.h
  modules/common/chowdsp_data_structures/chowdsp_data_structures.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_GainComputerImpls.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
  modules/gui/chowdsp_visualizers/CompressorPlots/chowdsp_GainReductionMeter.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
Labels: dsp, gui, plugin-utils, examples, ci-pipeline

Set up GainComputer and LevelDetector to no longer require a TypesList
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/third_party/types_list/.clang-format
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/macos.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/ubuntu.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/windows.yml
  modules/common/chowdsp_core/third_party/types_list/README.md
  modules/common/chowdsp_core/third_party/types_list/example/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/example/example_mp11.cpp
  modules/common/chowdsp_core/third_party/types_list/include/types_list/types_list.hpp
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
Labels: dsp

Set up GainComputer and LevelDetector to no longer require a TypesList (#438)
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/third_party/types_list/.clang-format
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/macos.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/ubuntu.yml
  modules/common/chowdsp_core/third_party/types_list/.github/workflows/windows.yml
  modules/common/chowdsp_core/third_party/types_list/README.md
  modules/common/chowdsp_core/third_party/types_list/example/CMakeLists.txt
  modules/common/chowdsp_core/third_party/types_list/example/example_mp11.cpp
  modules/common/chowdsp_core/third_party/types_list/include/types_list/types_list.hpp
  modules/common/chowdsp_core/third_party/types_list/test/test.cpp
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
Labels: dsp

Downsampler: fix heap-buffer-overflow issue
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
Labels: dsp

EllipticFilter: fixing complex<double> casts
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
Labels: dsp

Upsampler/Downsampler: more robust to different channel counts
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Upsampler.h
Labels: dsp

Downsampler: revert level normalization tweak
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_Downsampler.h
Labels: dsp

BufferView: fix copy constructor
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
Labels: dsp, tests
