Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Allow numeric types to be part of plugin state types
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: plugin-utils, tests

TupleHelpers: pass index argument as std::integral_constant
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
Labels: none

BufferMath: add applyFunction and applyFunctionSIMD methods
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

Fix #ifs and add comments
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

Actually forward those forwarding references
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

BufferMath: add applyFunction and applyFunctionSIMD methods (#338)
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

Make plugin state listeners [[nodiscard]]
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

Fix warnings in tests
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: tests

Make state listener add functions [[nodiscard]] (#339)
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: plugin-utils, tests

Add helper functiosn for copying data back and forth between SIMD and scalar audio buffers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
Labels: dsp, tests

Fix little CI things
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
Labels: dsp

Add helper functions for copying data back and forth between SIMD and scalar audio buffers (#340)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
Labels: dsp, tests

Add helper method for converting from std::string_view to juce::String
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
Labels: gui, plugin-utils

Fix rhythm dependency
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
Labels: none

Add helper method for converting from std::string_view to juce::String (#341)
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
Labels: gui, plugin-utils

BufferView: make clear method const
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
Labels: dsp

initial setup of HCP files
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
Labels: gui, tests

HCP comments and testing
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/test_utils/DummyPlugin.h
Labels: gui, tests

Make some functions virtual
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
Labels: gui

Fix typo in comment [ci skip]
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
Labels: gui

Host Context Provider addition (#342)
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/test_utils/DummyPlugin.h
Labels: gui, tests

Rename ConfigFile to TweaksFile
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: plugin-utils

Add option to bake your tweaks file with BinaryData
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: plugin-utils

Refactoring TweaksFile
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/ConfigFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: plugin-utils, tests

Mark function as const
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
Labels: plugin-utils

Move chowdsp::experimental::ConfigFile to chowdsp::TweaksFile with improvements (#343)
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/ConfigFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: plugin-utils, tests

Add helper for concatenating string_views
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

Make string_view_concat C++20 only
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: tests

Only run test in C++20 mode
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

Add helper for concatenating string_views (#344)
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: tests

PluginState: force listeners to be ScopedCallbacks
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

PluginState: force listeners to be ScopedCallbacks (#345)
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

TweaksFile: set up listener pattern
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
Labels: plugin-utils

Add test for TweaksFile listener
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: tests

TweaksFile: set up listener pattern (#346)
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: plugin-utils, tests

Fix Parameters alias
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
Labels: plugin-utils

Add constexpr version of juce::Rectangle
  modules/common/chowdsp_core/DataStructures/chowdsp_GraphicsHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Rectangle: add helpers for interfacing with juce::Rectangle
  modules/common/chowdsp_core/DataStructures/chowdsp_GraphicsHelpers.h
Labels: none

Set up parameters view UI helper
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui, examples

Set up parameters view UI helper (#348)
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui, examples

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
