Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Implement de-cramped biquad filters for LPF, HPF, and Peaking filter
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_SecondOrderFilters.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
Labels: dsp, examples

Implement the rest of the filter types with Vicanek's method
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_SecondOrderFilters.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
Labels: dsp, examples

Clean-up and tests for decramped filters
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/SecondOrderFiltersTest.cpp
Labels: dsp, tests

Add decramped 2nd-order biquad filters using Vicanek's method (#293)
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_SecondOrderFilters.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_VicanekHelpers.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_filters_test/SecondOrderFiltersTest.cpp
Labels: dsp, tests, examples

Remove gcem from tanh antiderivatives (too slow at runtime)
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
  tests/static_tests/ConstexprMath_pass.cpp
Labels: dsp, tests

Remove gcem from tanh antiderivatives (too slow at runtime) (#294)
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
  tests/static_tests/ConstexprMath_pass.cpp
Labels: dsp, tests

Add addition methods to BufferMath
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

Add tests for adding buffer functions
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
Labels: tests

Add addition methods to BufferMath (#295)
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
Labels: dsp, tests

def-ing out some code that requires XSIMD
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDDecibels.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDLogic.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp

Improving NO_XSIMD flag
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDDecibels.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDLogic.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp

Back to skipping lock-free queue on Teensy
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
Labels: dsp

Set up CI for Teensy toolchain
  .github/workflows/build-teensy.yml
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
Labels: dsp, ci-pipeline

Try to debug CI
  .github/workflows/build-teensy.yml
Labels: ci-pipeline

More CI debugging
  .github/workflows/build-teensy.yml
Labels: ci-pipeline

Fix cpp file paths
  .github/workflows/build-teensy.yml
Labels: ci-pipeline

Try to force failure
  .github/workflows/build-teensy.yml
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp, ci-pipeline

Revert forced failure
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp

Get DSP libraries building with Teensy toolchain (#296)
  .github/workflows/build-teensy.yml
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_TargetPlatform.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDDecibels.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDLogic.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp, ci-pipeline

Update CHANGELOG [ci skip]
  CHANGELOG.md
Labels: none

Trying to fix GCC warning in rocket header
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Move Polygonal Oscillator to experimental namespace
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.h
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
Labels: dsp, tests, examples

Trying to fix GCC warning in rocket header (#297)
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Fixing flaky waveshapers test on Windows
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
Labels: dsp

Move Polygonal Oscillator to experimental namespace (#298)
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.h
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
Labels: dsp, tests, examples

Fixing flaky waveshapers test on Windows (#299)
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
Labels: dsp

Update README [ci skip]
  README.md
Labels: documentation

Prepare for version 1.2.0
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  sonar-project.properties
Labels: dsp, gui, plugin-utils, documentation

Fix BufferMath functions
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Prepare for version 1.2.0 (#300)
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  sonar-project.properties
Labels: dsp, gui, plugin-utils, documentation

Some small fixes
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

fix the fix
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
Labels: dsp

tidy & add comment
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Some small fixes (#301)
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

Add missing files
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/clang-aarch64-linux-gnu.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/clang-arm-linux-gnueabihf.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/clang.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/gcc-aarch64-linux-gnu.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/gcc-arm-linux-gnueabihf.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/toolchains/gcc.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/benchmark.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/cross-sve.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/cross.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/cxx-versions.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/doxygen.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/macos.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/.github/workflows/windows.yml
  modules/dsp/chowdsp_simd/third_party/xsimd/cmake/JoinPaths.cmake
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_fma3_avx.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_fma3_avx2.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_fma3_sse.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/arch/xsimd_sve.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_fma3_avx2_register.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_fma3_avx_register.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_fma3_sse_register.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_fma4_register.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/include/xsimd/types/xsimd_sve_register.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/test/test_batch_manip.cpp
  modules/dsp/chowdsp_simd/third_party/xsimd/test/test_shuffle.cpp
  modules/dsp/chowdsp_simd/third_party/xsimd/test/test_sum.cpp
  modules/dsp/chowdsp_simd/third_party/xsimd/test/test_sum.hpp
  modules/dsp/chowdsp_simd/third_party/xsimd/test/test_xsimd_api.cpp
Labels: dsp

Trying to fix XSIMD overflow warning on GCC
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp

Fixes for ForwardingTestPlugin
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
Labels: dsp, examples

Fixes for ForwardingTestPlugin (#303)
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
Labels: dsp, examples

Set up benchmarks for chowdsp::Buffer
  bench/BufferBench.cpp
  bench/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
Labels: dsp, benchmarks

Try using stack memory for smaller buffers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
Labels: dsp

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
