Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Revery silly change
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

Fix failing example build
  examples/ModalSpringReverb/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.h
Labels: examples

Update nlohmann::json to version 3.11.1, and use std::string_view as a json key where appropriate
  modules/common/chowdsp_json/third_party/nlohmann/json.hpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

Fix attempt to std::move out of an initializer_list
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

Update nlohmann::json to version 3.11.1, and use std::string_view as a json key where appropriate (#283)
  modules/common/chowdsp_json/third_party/nlohmann/json.hpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

VariableOversampling: refactoring improvements
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  tests/gui_tests/chowdsp_gui_test/OversamplingMenuTest.cpp
Labels: dsp, tests

Add options to use version hint for Oversmpling parameters
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/VariableOversamplingTest.cpp
Labels: dsp, tests

Fix failing GUI test
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  tests/gui_tests/chowdsp_gui_test/OversamplingMenuTest.cpp
Labels: dsp, tests

VariableOversampling: refactoring and JUCE7 parameter IDs (#284)
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  tests/dsp_tests/chowdsp_dsp_juce_test/resampling_tests/VariableOversamplingTest.cpp
  tests/gui_tests/chowdsp_gui_test/OversamplingMenuTest.cpp
Labels: dsp, tests

Fixing linting issues in FloatVectorOperations
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

Label tests and benchmarks being run in CI
  .github/workflows/bench.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Label tests and benchmarks being run in CI (#287)
  .github/workflows/bench.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Fixing failing unit test
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

Fixing linting issues in FloatVectorOperations (#286)
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: dsp, tests

Better optimizations for matrix operations
  bench/CMakeLists.txt
  bench/MatrixOpsBench.cpp
  bench/bench_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
Labels: dsp, benchmarks

More robust interface and test coverage for Hadamard matrix
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  tests/dsp_tests/chowdsp_math_test/MatrixOpsTest.cpp
Labels: dsp, tests

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Better optimizations for Hadamard matrix
  bench/MatrixOpsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  tests/dsp_tests/chowdsp_math_test/MatrixOpsTest.cpp
Labels: dsp, tests, benchmarks

Fix Linux warning
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
Labels: dsp

Better optimizations for matrix operations (#289)
  bench/CMakeLists.txt
  bench/MatrixOpsBench.cpp
  bench/bench_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  tests/dsp_tests/chowdsp_math_test/MatrixOpsTest.cpp
Labels: dsp, tests, benchmarks

Appease C++17: no jassert in constexpr functions
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
Labels: dsp

Add odd-order Butterworth filters
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  tests/dsp_tests/chowdsp_filters_test/ButterQsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ButterworthFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
Labels: dsp, tests, examples

Remove some code duplication
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
Labels: dsp

Add odd-order Butterworth filters (#290)
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  tests/dsp_tests/chowdsp_filters_test/ButterQsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ButterworthFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
Labels: dsp, tests, examples

Towards a better approach for static tests that should fail
  cmake/test/SetupStaticTests.cmake
  cmake/test/StaticTest.cmake
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  tests/static_tests/SOSFilterOdd_fail.cpp
Labels: dsp, tests

Towards a better approach for static tests that should fail (#291)
  cmake/test/SetupStaticTests.cmake
  cmake/test/StaticTest.cmake
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  tests/static_tests/SOSFilterOdd_fail.cpp
Labels: dsp, tests

Get rid of unused method
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
Labels: gui

Fix a cople tiny things
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/test_utils/CodeQuality.cpp
Labels: plugin-utils, tests

Experimenting with using Rocket library in place of JUCE listeners
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_listeners/third_party/rocket.hpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, gui, plugin-utils, tests

Fix warnings on Clang
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Remove dead comments
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Update README
  CHANGELOG.md
  README.md
Labels: documentation

Fixing CI failures
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

More CI fixes
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: tests

Fix rocket warnings
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_listeners/third_party/rocket.hpp
Labels: none

Trying again to fix GCC warnings
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_listeners/third_party/rocket.hpp
Labels: none

Clean up a couple more warnings on GCC
  modules/common/chowdsp_listeners/chowdsp_listeners.h
Labels: none

Add chowdsp_listeners module (#292)
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_listeners/third_party/rocket.hpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.cpp
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_OversamplingMenu.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, gui, plugin-utils, tests, documentation

Fix version in top level CMake
  CMakeLists.txt
Labels: none

Tweaks for compiling on Teensy
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_TargetPlatform.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp
