Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Get rid of CREATE_WDFT_MEMBERS macro
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: dsp, wdf, tests

Fix MSVC warnings
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Fix warnings on GCC
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  modules/chowdsp_dsp/WDF/r_type.h
Labels: dsp, wdf

Fix more GCC warnings
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  modules/chowdsp_dsp/WDF/r_type.h
Labels: dsp, wdf

WDF: Add R-Type adaptors that can have an adapted port (#95)
  modules/chowdsp_dsp/Other/chowdsp_Polynomials.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/BassmanToneStack.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/BaxandallEQ.h
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/RTypeTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/StaticWDFTest.cpp
  tests/chowdsp_utils_test/dsp_tests/wdf_tests/WDFTest.cpp
Labels: dsp, wdf, tests

Fix gain factor for downsampling, and adjust USING_JUCE macro for WDFs
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/WDF/omega.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/signum.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Fix more macros
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Fix gain factor for downsampling, and adjust USING_JUCE macro for WDFs (#96)
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/WDF/omega.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/signum.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
Labels: dsp, wdf

Add UI helpers for popup menu's and long-press actions
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
Labels: gui

Re-add LongPressActionHelper file
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
Labels: gui

Set up unit tests for long-press action helper
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
Labels: gui, tests

Implement unit tests for PopupMenuHelper
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
  tests/chowdsp_utils_test/gui_tests/PopupMenuHelperTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: gui, tests

Fix tests crashing
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
Labels: tests

GUI: Implement helper classes for long-presses and popup-menus (#97)
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_LongPressActionHelper.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/chowdsp_gui/chowdsp_gui.cpp
  modules/chowdsp_gui/chowdsp_gui.h
  tests/chowdsp_utils_test/gui_tests/CMakeLists.txt
  tests/chowdsp_utils_test/gui_tests/LongPressActionTest.cpp
  tests/chowdsp_utils_test/gui_tests/PopupMenuHelperTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: gui, tests

Build on Linux aarch64
  DSP/SIMD/chowdsp_SIMDUtils.h
Labels: none

Try to fix weird isnan casting bug
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests

Try to fix SIMDUtils::isnan compatibility between SSE and ARM NEON
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

Presetmanager: Fix issue in VST3 when calling updateHostDisplay
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
Labels: plugin-utils, presets

Presetmanager: Fix issue in VST3 when calling updateHostDisplay (#100)
  modules/chowdsp_plugin_utils/Presets/chowdsp_PresetManager.cpp
Labels: plugin-utils, presets

Fix SIMDUtils::isnan compatibility between SSE and ARM NEON (#99)
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

Fix long-press popup menus on iOS
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
Labels: gui

Start working on double buffer
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/DataStructures/chowdsp_DoubleBuffer.h
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.cpp
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_GainProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.cpp
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.h
  modules/chowdsp_dsp/Processors/chowdsp_Panner.cpp
  modules/chowdsp_dsp/Processors/chowdsp_Panner.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
Labels: dsp

Make polynomials more agnostic to different data types
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PolynomialsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/PolynomialsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests

Implement chowdsp::FloatVectorOperations with tests
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Fix vDSP flags for FloatVectorOperations
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Finish implementing DoubleBuffer with tests
  modules/chowdsp_dsp/DataStructures/chowdsp_DoubleBuffer.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/DoubleBufferTest.cpp
Labels: dsp, tests

Attempt to fix FloatVectorOperations tests
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: tests

Fixes to tests for FloatVectorOperations
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Improvements to Polynomials, FloatVectorOperations, and DoubleBuffer (#101)
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/DataStructures/chowdsp_DoubleBuffer.h
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/chowdsp_dsp/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/Math/chowdsp_Polynomials.h
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.cpp
  modules/chowdsp_dsp/Processors/chowdsp_BypassProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_GainProcessor.h
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.cpp
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.h
  modules/chowdsp_dsp/Processors/chowdsp_Panner.cpp
  modules/chowdsp_dsp/Processors/chowdsp_Panner.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  modules/chowdsp_dsp/chowdsp_dsp.cpp
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.cpp
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/PolynomialsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/DoubleBufferTest.cpp
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/SmoothedBufferValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/math_tests/PolynomialsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, gui, tests

Set up TunerProcessor and AudioUIBackgroundTask
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
Labels: dsp, plugin-utils

Set up tests for TunerProcessor
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/TunerTest.cpp
Labels: dsp, tests

Tweaks and tests for AudioUIBackgroundTask
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
Labels: plugin-utils, tests

Add TunerProcessor and AudioUIBackgroundTask (#102)
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/TunerTest.cpp
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
Labels: dsp, plugin-utils, tests

AudioUIBackgroundTask: better encapsulation of virtual methods, option to set custom refresh time
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
Labels: plugin-utils

Fix unit test compilation error
  tests/chowdsp_utils_test/utils_tests/AudioUIBackgroundTaskTest.cpp
Labels: tests

LookAndFeel: fix disabled look for linear sliders
  modules/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
Labels: gui

Set up codeql workflow
  .github/workflows/codeql.yml
Labels: ci-pipeline

CodeQL Workflow: fix source root path
  .github/workflows/codeql.yml
Labels: ci-pipeline

Set up codeql workflow (#103)
  .github/workflows/codeql.yml
Labels: ci-pipeline

Re-organize SIMD code and tests
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDArithmetic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDDecibels.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDFastMath.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDArithmeticTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDFastMathTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSmoothedValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSpecialMathTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests
