Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

WaveshaperPlot: allow for empty buffers
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.cpp
Labels: gui

AdditiveOscillator: allow amplitude weights to be set with a span
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
Labels: dsp

Fix infinite recursion error
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
Labels: dsp

AdditiveOscillator: allow amplitude weights to be set with a span (#412)
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
Labels: dsp

buffer iterators extended with samples iter and samples iter test
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Presets: refactor save/load logic out of PresetManager
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
Labels: plugin-utils

Add comment
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.h
Labels: plugin-utils

Presets: refactor save/load logic out of PresetManager (#414)
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
Labels: plugin-utils

buffer iterator samples() updated to accept multiple sample types
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

buffer iterators extended with samples iter and samples iter test
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

buffer iterator samples() updated to accept multiple sample types
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Tweaks to help with CI and compiler warnings
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Extend Buffer Iterators With Sample First Iterator (#415)
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

Add object for UI to audio pipeline
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/UIToAudioPipelineTest.cpp
Labels: dsp, tests

Test tweaking
  tests/dsp_tests/chowdsp_dsp_data_structures_test/UIToAudioPipelineTest.cpp
Labels: tests

Add object for UI to audio pipeline (#416)
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/UIToAudioPipelineTest.cpp
Labels: dsp, tests

Fixing assertions in Buffer/BufferView
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
Labels: dsp

Add optional orders for math approximations
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests

Add optional orders for math approximations (#417)
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests

Fixed asan error in Estrin's scheme implementation
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
Labels: dsp

Fixed asan error in Estrin's scheme implementation (#418)
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
Labels: dsp

Delete test.sh
  test.sh
Labels: none

Add LocalPointer type
  modules/common/chowdsp_core/DataStructures/chowdsp_LocalPointer.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/LocalPointerTest.cpp
Labels: tests

Add LocalPointer type (#419)
  modules/common/chowdsp_core/DataStructures/chowdsp_LocalPointer.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/LocalPointerTest.cpp
Labels: tests

Move ScopedValue to chowdsp_core
  modules/common/chowdsp_core/DataStructures/chowdsp_ScopedValue.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/ScopedValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
Labels: dsp, tests

Create new module with tests
  cmake/AddJUCEModules.cmake
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferHelpers.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_SIMDAudioBlock.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_buffers/chowdsp_buffers.cpp
  modules/dsp/chowdsp_buffers/chowdsp_buffers.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.cpp
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_buffers_test/BufferConversionTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferSpanTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_buffers_test/JUCEBufferViewTest.cpp
  tests/dsp_tests/chowdsp_buffers_test/SIMDBufferCopyTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

Simplifying buffer template helpers
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferHelpers.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_buffers_test/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/test_utils/CatchUtils.h
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests

A bit of refactorign for the samples iterator
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_buffers_test/BufferIteratorsTest.cpp
Labels: dsp, tests

Adding to CI pipelines
  .github/workflows/build-arm-mac.yml
  .github/workflows/build-teensy.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Update README and CHANGELOG
  CHANGELOG.md
  README.md
Labels: documentation

Fixing CI failures
  .github/workflows/build-teensy.yml
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_StaticBuffer.h
Labels: dsp, ci-pipeline

More Teensy fixing
  .github/workflows/build-teensy.yml
Labels: ci-pipeline

Add chowdsp::FloatVectorOperations::rotate
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Trying to fix tests
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: tests

Skip weird test failures on Linux MSVC
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: tests

Add chowdsp::FloatVectorOperations::rotate (#421)
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.h
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
Labels: dsp, tests

Start implementing noise synth
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.h
  modules/dsp/chowdsp_sources/Other/chowdsp_NoiseSynth.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseSynthTest.cpp
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests

Test is working (but still a little bit janky)
  modules/dsp/chowdsp_sources/Other/chowdsp_NoiseSynth.h
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseSynthTest.cpp
Labels: dsp, tests

Fixing CI issues
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.h
  modules/dsp/chowdsp_sources/Other/chowdsp_NoiseSynth.h
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseSynthTest.cpp
Labels: dsp, tests

Add chowdsp::NoiseSynth (#422)
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.h
  modules/dsp/chowdsp_sources/Other/chowdsp_NoiseSynth.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/NoiseSynthTest.cpp
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
Labels: dsp, tests
