Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

CMake: move threads check to a later point
  cmake/SetupChowdspLib.cmake
Labels: none

CMake: move threads check to a later point (#259)
  cmake/SetupChowdspLib.cmake
Labels: none

Add west coast wavefolder implementation
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

Add unit test
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
Labels: tests

Fix CI failures
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
Labels: dsp

Waveshapers: Add west coast wavefolder implementation (#260)
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
Labels: dsp, tests, examples

Add sonar scan to code quality checks
  .github/workflows/code-quality.yml
Labels: ci-pipeline

Add sonar-project.properties
  sonar-project.properties
Labels: none

Fix path where we're running sonar-scanner
  .github/workflows/code-quality.yml
Labels: ci-pipeline

Try to fix properties
  .github/workflows/code-quality.yml
  sonar-project.properties
Labels: ci-pipeline

Sonar: try to fix organization name
  sonar-project.properties
Labels: none

Update sonar token variable
  .github/workflows/code-quality.yml
  sonar-project.properties
Labels: ci-pipeline

Don't use compile commands (for now)
  sonar-project.properties
Labels: none

Update README
  README.md
Labels: documentation

Add sonar scan to code quality checks (#261)
  .github/workflows/code-quality.yml
  README.md
  sonar-project.properties
Labels: documentation, ci-pipeline

Add multi-mode options for Werner filter
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
Labels: dsp, tests, examples

Fix failures
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_FastMathApproximations.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp

Mark function as const
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp

Fix typo
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp

Add multi-mode option for Werner filter (#262)
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_FastMathApproximations.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
Labels: dsp, tests, examples

Move CodeQL to it's own CI job
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
Labels: ci-pipeline

Work on improving code-quality checks
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  sonar-project.properties
Labels: ci-pipeline

Fix std::forward bug
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  sonar-project.properties
Labels: dsp

Try to update sonar properties
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  sonar-project.properties
Labels: dsp

Fix macro usage
  .github/workflows/code-quality.yml
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.cpp
Labels: dsp, ci-pipeline

Try to fix issue exclusions
  sonar-project.properties
Labels: none

Remvoe forced CI runs
  .github/workflows/code-quality.yml
Labels: ci-pipeline

CI pipeline updates and code-qual improvements (#263)
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  sonar-project.properties
Labels: dsp, ci-pipeline

Filters: make sure Accelerate is included before JUCE headers
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp

Filters: make sure Accelerate is included before JUCE headers (#264)
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp

Add wave mulitplier waveshaper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

Fix warning n GCC
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
Labels: dsp

Add wave mulitplier waveshaper (#265)
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

ForwardingParametersManager: add methods for setting/clearing groups of parameters
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

Update documentation and destructor
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

Minor tweaks
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils

ForwardingParametersManager: add methods for setting/clearing groups of parameters (#266)
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

Add triangle wave oscillator
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_TriangleWave.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
Labels: dsp, examples

Fix lookup table loading, restructure dsp_data_structures, add full-wave-rectifier
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDAudioBlock.h
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableTransform.cpp
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableTransform.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_ScopedValue.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_COLAProcessor.cpp
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_COLAProcessor.h
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.cpp
  modules/dsp/chowdsp_dsp_data_structures/Processors/chowdsp_RebufferedProcessor.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.cpp
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAFullWaveRectifier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

Add tests for triangle wave
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_TriangleWave.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/source_tests/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/source_tests/TriangleTest.cpp
Labels: dsp, tests
