Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Only send parameter gestures if a parameter is connected to a juce::AudioProcessor
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
Labels: plugin-utils

Add DummyPluginState
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

Fixing shadow warning
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
Labels: plugin-utils

Update JDK version for Sonar GitHub Action
  .github/workflows/code-quality.yml
Labels: ci-pipeline

More shadow fixes
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
Labels: plugin-utils

Only send parameter gestures if a parameter is connected to a juce::AudioProcessor (#471)
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
Labels: plugin-utils

Update JDK version for Sonar GitHub Action (#472)
  .github/workflows/code-quality.yml
Labels: ci-pipeline

Compressor: set up gain computer for use with the arena allocator
  modules/dsp/chowdsp_buffers/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorGainComputer.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_MonoCompressor.h
Labels: dsp

Compressor: Add helper function for computing ballistic filter coefficients
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_CompressorLevelDetector.h
  modules/dsp/chowdsp_compressor/Compressor/chowdsp_LevelDetectorImpls.h
Labels: dsp

DeferredMainThreadAction: add bool return value
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: plugin-utils

Setting up floating-point RNGs
  modules/dsp/chowdsp_math/Math/chowdsp_RandomFloat.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/RandomFloatTest.cpp
Labels: dsp, tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
