Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

Add SIMD logic methods
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDLogic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDLogicTest.cpp
Labels: dsp, tests

Fix isnanSIMD when not using xsimd
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
Labels: dsp

Fix compilation issues for ARM and GCC
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDLogic.h
Labels: dsp

Fix silly typo
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDLogic.h
Labels: dsp

Remove xsimd::select and use select for Decibels methods
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDDecibels.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDLogic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
Labels: dsp

SIMD: Implement logic methods (#105)
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDArithmetic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDDecibels.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDFastMath.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDLogic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDArithmeticTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDFastMathTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDLogicTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSmoothedValueTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSpecialMathTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDUtilsTest.cpp
Labels: dsp, tests

Move cutoff frequency for anti-aliasing filters
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
Labels: dsp

FloatVectorOperations: add findAbsoluteMaximum method
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSpecialMathTest.cpp
Labels: dsp, tests

Use FloatVectorOperations::findAbsoluteMaximum where appropriate
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
Labels: dsp

Re-ennable vDSP for findAbsoluteMaximum
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

FloatVectorOperations: add findAbsoluteMaximum method (#106)
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.h
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  tests/chowdsp_utils_test/dsp_tests/math_tests/FloatVectorOperationsTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSpecialMathTest.cpp
Labels: dsp, tests

Exclude Foley's classes from code coverage
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TooltipComp.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
Labels: gui

Exclude Foley's classes from code coverage (#107)
  modules/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.cpp
  modules/chowdsp_gui/PluginComponents/chowdsp_TitleComp.h
  modules/chowdsp_gui/PluginComponents/chowdsp_TooltipComp.h
  modules/chowdsp_gui/Presets/chowdsp_PresetsComp.h
Labels: gui

Don't use xsimd for Linux coverage workflow
  .github/workflows/cov.yml
Labels: ci-pipeline

Don't use xsimd for Linux coverage workflow (#108)
  .github/workflows/cov.yml
Labels: ci-pipeline

Upsampler/Downsampler: Fixes and improved tests
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Upsampler/Downsampler: Fixes and improved tests (#109)
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Upsampler.h
  tests/chowdsp_utils_test/dsp_tests/resampling_tests/UpsampleDownsampleTest.cpp
Labels: dsp, tests

Add RebufferedProcessor class
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/RebufferProcessorTest.cpp
Labels: dsp, tests

Add RebufferedProcessor class (#110)
  modules/chowdsp_dsp/DataStructures/chowdsp_RebufferedProcessor.h
  modules/chowdsp_dsp/chowdsp_dsp.h
  tests/chowdsp_utils_test/dsp_tests/CMakeLists.txt
  tests/chowdsp_utils_test/dsp_tests/data_structure_tests/RebufferProcessorTest.cpp
Labels: dsp, tests

Fix warnings on MSVC
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDLogicTest.cpp
Labels: dsp, tests

FloatVectorOperations: remove obsolete comment
  modules/chowdsp_dsp/Math/chowdsp_FloatVectorOperations.cpp
Labels: dsp

Update documentation
  doxygen/Doxyfile
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayInterpolation.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayLine.h
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Modal/chowdsp_ModalFilter.h
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.cpp
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/Sources/chowdsp_Noise.cpp
  modules/chowdsp_dsp/Sources/chowdsp_Noise.h
  modules/chowdsp_dsp/WDF/omega.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  modules/chowdsp_gui/PluginComponents/chowdsp_SystemInfo.h
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.cpp
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.h
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
Labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation

Update documentation (#111)
  doxygen/Doxyfile
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayInterpolation.h
  modules/chowdsp_dsp/Delay/chowdsp_DelayLine.h
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Modal/chowdsp_ModalFilter.h
  modules/chowdsp_dsp/Processors/chowdsp_LevelDetector.cpp
  modules/chowdsp_dsp/Processors/chowdsp_TunerProcessor.h
  modules/chowdsp_dsp/Resampling/chowdsp_BaseResampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_Downsampler.h
  modules/chowdsp_dsp/Resampling/chowdsp_SRCResampler.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDComplex.h
  modules/chowdsp_dsp/Sources/chowdsp_Noise.cpp
  modules/chowdsp_dsp/Sources/chowdsp_Noise.h
  modules/chowdsp_dsp/WDF/omega.h
  modules/chowdsp_dsp/WDF/r_type.h
  modules/chowdsp_dsp/WDF/wdf.h
  modules/chowdsp_dsp/WDF/wdf_t.h
  modules/chowdsp_gui/PluginComponents/chowdsp_SystemInfo.h
  modules/chowdsp_plugin_utils/Logging/chowdsp_PluginLogger.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.h
  modules/chowdsp_plugin_utils/PluginBase/chowdsp_PluginBase.h
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.cpp
  modules/chowdsp_plugin_utils/Presets/chowdsp_Preset.h
  modules/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.cpp
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.cpp
  modules/chowdsp_plugin_utils/Version/chowdsp_VersionUtils.h
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDComplexTest.cpp
Labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation

SIMD: add unary minus operator and get StateVariableFilter/NthOrderFilter working with SIMD types
  modules/chowdsp_dsp/Filters/chowdsp_NthOrderFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.cpp
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDArithmetic.h
Labels: dsp

Add tests for new SIMd stuff
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDArithmeticTest.cpp
Labels: tests

Get all IIR filters working with SIMD data types
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.cpp
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_Shelf.h
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.cpp
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/SecondOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDSpecialMathTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Getting filters working with SIMD data types (#112)
  modules/chowdsp_dsp/DataStructures/chowdsp_AudioBlockHelpers.h
  modules/chowdsp_dsp/Filters/chowdsp_BilinearUtils.h
  modules/chowdsp_dsp/Filters/chowdsp_FirstOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_NthOrderFilter.h
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.cpp
  modules/chowdsp_dsp/Filters/chowdsp_SecondOrderFilters.h
  modules/chowdsp_dsp/Filters/chowdsp_Shelf.h
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.cpp
  modules/chowdsp_dsp/Filters/chowdsp_StateVariableFilter.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDArithmetic.h
  modules/chowdsp_dsp/SIMD/chowdsp_SampleTypeHelpers.h
  tests/chowdsp_utils_test/dsp_tests/filter_tests/FirstOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/NthOrderFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/SecondOrderFiltersTest.cpp
  tests/chowdsp_utils_test/dsp_tests/filter_tests/ShelfFilterTest.cpp
  tests/chowdsp_utils_test/dsp_tests/simd_tests/SIMDArithmeticTest.cpp
  tests/chowdsp_utils_test/test_utils.h
Labels: dsp, tests

Fix BBD Filters compiling when AVX is turned on
  modules/chowdsp_dsp/Delay/chowdsp_BBDFilterBank.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDSpecialMath.h
  modules/chowdsp_dsp/SIMD/chowdsp_SIMDUtils.h
Labels: dsp

ForwardingParameter update value in host when a new parameter is set as the forwarding parameter
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
Labels: plugin-utils

ForwardingParameter update value in host when a new parameter is set as the forwarding parameter (#113)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ForwardingParameter.cpp
Labels: plugin-utils

Create helper methods for creating parameters
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.h
Labels: plugin-utils

Add tests for more ParamUtils
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/ParamHelpersTest.cpp
Labels: tests

More helper functions for creating parameters (#114)
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.cpp
  modules/chowdsp_plugin_utils/Parameters/chowdsp_ParamUtils.h
  tests/chowdsp_utils_test/utils_tests/CMakeLists.txt
  tests/chowdsp_utils_test/utils_tests/ParamHelpersTest.cpp
Labels: plugin-utils, tests

Set up nlohmann::json
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/chowdsp_plugin_utils/third_party/nlohmann/json.hpp
Labels: plugin-utils

Refactor GlobalPluginSettings to use JSON
  .github/workflows/cov.yml
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  modules/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: plugin-utils, tests, ci-pipeline

Add methods for bool settings
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
Labels: plugin-utils

Fix MSVC unit test compilation
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: tests

Update documentation
  modules/chowdsp_plugin_utils/Serialization/chowdsp_JSON.h
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
Labels: plugin-utils

Tweaks to GlobalPluginSettings
  modules/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
Labels: plugin-utils

Fix Unit Test compilation
  tests/chowdsp_utils_test/utils_tests/GlobalSettingsTest.cpp
Labels: tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/chowdsp_dsp/**/*

gui:
  - modules/chowdsp_gui/**/*

wdf:
  - modules/chowdsp_dsp/WDF/**/*

plugin-utils:
  - modules/chowdsp_plugin_utils/**/*

presets:
  - modules/chowdsp_plugin_utils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
