Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, wdf, plugin-utils, presets, tests, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - DSP/**/*

gui:
  - GUI/**/*

wdf:
  - DSP/WDF/**/*

plugin-utils:
  - PluginUtils/**/*

presets:
  - PluginUtils/Presets/**/*

tests:
  - tests/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

Implement Noise generator for SIMD types
  DSP/Sources/chowdsp_Noise.cpp
  DSP/Sources/chowdsp_Noise.h
  DSP/chowdsp_DSP.h
  tests/dsp_tests/source_tests/NoiseTest.cpp
Labels: dsp, tests

Improve NoiseTest
  tests/dsp_tests/source_tests/NoiseTest.cpp
Labels: tests

Add option to run a single unit test
  tests/test.cpp
Labels: tests

Fix issues for MSVC
  GUI/chowdsp_PresetsComp.h
  tests/dsp_tests/simd_tests/SIMDUtilsTest.cpp
  tests/dsp_tests/source_tests/NoiseTest.cpp
Labels: gui, tests

Fix license badge [ci skip]
  README.md
Labels: documentation

Implement Noise generator for SIMD types (#56)
  DSP/Sources/chowdsp_Noise.cpp
  DSP/Sources/chowdsp_Noise.h
  DSP/chowdsp_DSP.h
  GUI/chowdsp_PresetsComp.h
  tests/dsp_tests/simd_tests/SIMDUtilsTest.cpp
  tests/dsp_tests/source_tests/NoiseTest.cpp
  tests/test.cpp
Labels: dsp, gui, tests

FixSVF to work with SIMD types
  DSP/Filters/chowdsp_StateVariableFilter.cpp
  DSP/Filters/chowdsp_StateVariableFilter.h
  DSP/Sources/chowdsp_Noise.h
  DSP/chowdsp_DSP.h
Labels: dsp

Fix SVF to work with SIMD types (#57)
  DSP/Filters/chowdsp_StateVariableFilter.cpp
  DSP/Filters/chowdsp_StateVariableFilter.h
  DSP/Sources/chowdsp_Noise.h
  DSP/chowdsp_DSP.h
Labels: dsp

Delay: don't use divide when incrementing read/write pointers
  DSP/Delay/chowdsp_DelayLine.h
Labels: dsp

Mark most override methods as final
  DSP/Delay/chowdsp_BBDDelayWrapper.h
  DSP/Delay/chowdsp_DelayLine.h
Labels: dsp

Delay: minor performance improvements (#58)
  DSP/Delay/chowdsp_BBDDelayWrapper.h
  DSP/Delay/chowdsp_DelayLine.h
Labels: dsp

Add copy constructor for VersionUtils:Version
  PluginUtils/chowdsp_VersionUtils.h
Labels: plugin-utils

Add copy constructor for VersionUtils:Version (#59)
  PluginUtils/chowdsp_VersionUtils.h
Labels: plugin-utils

Fix hang on zero-delay BBD delay line
  DSP/Delay/chowdsp_BBDDelayLine.h
  tests/dsp_tests/BBDTest.cpp
Labels: dsp, tests

Fix missing juce::
  DSP/Delay/chowdsp_BBDDelayLine.h
Labels: dsp

Fix hang on zero-delay BBD delay line (#61)
  DSP/Delay/chowdsp_BBDDelayLine.h
  tests/dsp_tests/BBDTest.cpp
Labels: dsp, tests

Add LookAndFeel allocator
  GUI/LookAndFeel/chowdsp_ChowLNF.cpp
  GUI/LookAndFeel/chowdsp_ChowLNF.h
  GUI/LookAndFeel/chowdsp_LNFAllocator.h
  GUI/chowdsp_GUI.cpp
  GUI/chowdsp_GUI.h
  tests/CMakeLists.txt
  tests/gui_tests/GUITest.cpp
  tests/gui_tests/LNFAllocatorTest.cpp
Labels: gui, tests

Add LookAndFeel allocator (#62)
  GUI/LookAndFeel/chowdsp_ChowLNF.cpp
  GUI/LookAndFeel/chowdsp_ChowLNF.h
  GUI/LookAndFeel/chowdsp_LNFAllocator.h
  GUI/chowdsp_GUI.cpp
  GUI/chowdsp_GUI.h
  tests/CMakeLists.txt
  tests/gui_tests/GUITest.cpp
  tests/gui_tests/LNFAllocatorTest.cpp
Labels: gui, tests

Better strategy for small BBD delay times
  DSP/Delay/chowdsp_BBDDelayLine.h
  tests/dsp_tests/BBDTest.cpp
Labels: dsp, tests

Better strategy for small BBD delay times (#63)
  DSP/Delay/chowdsp_BBDDelayLine.h
  tests/dsp_tests/BBDTest.cpp
Labels: dsp, tests

Fix memory leak in LNFAllocator
  GUI/LookAndFeel/chowdsp_LNFAllocator.h
Labels: gui

Fix LNF unit test
  tests/gui_tests/LNFAllocatorTest.cpp
Labels: tests

Fix memory leak in LNFAllocator (#64)
  GUI/LookAndFeel/chowdsp_LNFAllocator.h
  tests/gui_tests/LNFAllocatorTest.cpp
Labels: gui, tests

Better padding for link button on InfoComp
  GUI/chowdsp_InfoComp.cpp
Labels: gui

PresetManager: make setIsDirty() public
  PluginUtils/Presets/chowdsp_PresetManger.h
Labels: plugin-utils, presets

PresetManager: make setIsDirty() public (#65)
  PluginUtils/Presets/chowdsp_PresetManger.h
Labels: plugin-utils, presets

Fix issues compiling with clang
  CMakeLists.txt
  tests/dsp_tests/source_tests/NoiseTest.cpp
Labels: tests

Fix thread-safety issue in PresetsComp
  GUI/chowdsp_PresetsComp.cpp
  GUI/chowdsp_PresetsComp.h
  tests/gui_tests/PresetsCompTest.cpp
Labels: gui, tests

Use timer approach for updating preset box text
  GUI/chowdsp_PresetsComp.cpp
  GUI/chowdsp_PresetsComp.h
  tests/gui_tests/PresetsCompTest.cpp
Labels: gui, tests

Fix thread-safety issue in PresetsComp (#66)
  CMakeLists.txt
  GUI/chowdsp_PresetsComp.cpp
  GUI/chowdsp_PresetsComp.h
  tests/dsp_tests/source_tests/NoiseTest.cpp
  tests/gui_tests/PresetsCompTest.cpp
Labels: gui, tests
