Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

Fix compiling chowdsp_gui
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui

Add chowdsp::Gain processor
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: dsp, tests

Better default constructor for DelayLine
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
Labels: dsp

Add tests for BufferMath
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferMathTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
Labels: dsp, tests

Use uint32_t for ProcessSpec
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_ProcessSpec.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: tests

Fix compilation errors in LookupTable
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_LookupTable.h
Labels: none

Easier to contruct a BufferView from a dsp::AudioBlock
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
Labels: dsp

Fix bad indexing bug in DelayLine
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
Labels: dsp

Fix bug in LevelDetector
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
Labels: dsp

Smarter strategy for buffer re-allocation
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.cpp
Labels: dsp

Trying to fix CI failures
  bench/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: dsp, tests, benchmarks

Fix linking in chowdsp_gui
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui

Fix compilation for presets test
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
  tests/plugin_tests/chowdsp_presets_test/PresetManagerTest.cpp
Labels: tests

Update README and more CI fixes
  CHANGELOG.md
  README.md
  bench/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
Labels: dsp, tests, benchmarks, examples, documentation

Fix CI failures
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/source_tests/RepitchedSourceTest.cpp
Labels: tests, examples

Implement multi-mode filter
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
Labels: dsp

Clean up multi-mode filter and add tests
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
Labels: dsp, tests

Add multi-mode type to SVF (#251)
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
Labels: dsp, tests

Prepare for version 1.1.0
  doxygen/Doxyfile
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
Labels: dsp, gui, plugin-utils, documentation

Update changelog
  CHANGELOG.md
Labels: none

Re-add code that I mistakenly removed
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
Labels: none

Fix typos
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
Labels: none

Prepare for version 1.1.0 (#252)
  CHANGELOG.md
  doxygen/Doxyfile
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
Labels: dsp, gui, plugin-utils, documentation

Add implementation of Kurt Werner's Generalized State Variable Filter
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Tweaks and documentation
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
Labels: dsp, examples

Add implementation of Kurt Werner's Generalized State Variable Filter (#253)
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Fix parameterization for Werner Filter example
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
Labels: examples

Update CHANGELOG
  CHANGELOG.md
Labels: none

Fix parameterization for Werner Filter example (#254)
  CHANGELOG.md
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
Labels: examples

EQProcessor: fix processBlock arguments
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
Labels: dsp

EQProcessor: fix processBlock arguments (#255)
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
Labels: dsp

Tweaks to make it possible to build for VCV Rack
  cmake/SetupChowdspLib.cmake
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

find_path doesn't have a NO_CACHE option in older CMake versions
  cmake/SetupChowdspLib.cmake
Labels: none

Tweaks to make it possible to build for VCV Rack (#256)
  cmake/SetupChowdspLib.cmake
  modules/common/chowdsp_core/chowdsp_core.h
Labels: none

Fix out-of-order preset swapping in preset manager
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
Labels: plugin-utils

Set up unit test so it will catch this issue in the future
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
Labels: plugin-utils

Fix typo
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
Labels: plugin-utils

Fix out-of-order preset swapping in preset manager (#257)
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
Labels: plugin-utils

Waveshapers: add interface for processing one sample at a time
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
Labels: dsp, tests

Waveshapers: add interface for processing one sample at a time (#258)
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
Labels: dsp, tests

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*
