Repository Chowdhury-DSP/chowdsp_utils, changes with the labels that .github/labeler.yml gives for each.
All labels: dsp, gui, plugin-utils, presets, tests, benchmarks, examples, documentation, ci-pipeline

.github/labeler.yml:

# labeler.yml:
# Assign labels to pull requests that change various files
# For more information, see https://github.com/actions/labeler

dsp:
  - modules/dsp/**/*

gui:
  - modules/gui/**/*

plugin-utils:
  - modules/plugin/**/*

presets:
  - modules/presets/chowdsp_presets/**/*

tests:
  - tests/**/*

benchmarks:
  - bench/**/*

examples:
  - examples/**/*

documentation:
  - doxygen/*
  - README.md

ci-pipeline:
  - .github/workflows/*

PresetManager: add function getUserPresetForState()
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
Labels: gui, plugin-utils

Improving a few more presets things
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
Labels: plugin-utils

Presets V2 improvements (#401)
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
Labels: gui, plugin-utils

Fix EnumChoiceParameter::get()
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

Fixing default value and adding tests
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

Fix EnumChoiceParameter::get() (#402)
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

Add install command for non-JUCE chowdsp lib
  cmake/SetupChowdspLib.cmake
Labels: none

Mark ParamHolder::isOwning as maybe_unused
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: plugin-utils

Appeasing GCC
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
Labels: plugin-utils

Start setting up additive oscillator
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
Labels: dsp, examples

Add sine approximations for additive oscillator
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
Labels: dsp, examples

Additive oscillator tests
  cmake/test/SetupCatchTest.cmake
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
Labels: dsp, tests

Little cleanup
  CHANGELOG.md
  cmake/test/SetupCatchTest.cmake
Labels: none

Adding additive oscillator (#404)
  CHANGELOG.md
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
Labels: dsp, tests, examples

Small improvements for AdditiveOscillator
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
Labels: dsp, tests, examples

Small improvements for AdditiveOscillator (#405)
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
Labels: dsp, tests, examples

Add 3-way crossover frequency
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp

First-order fixes and add to band split plugin
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
Labels: dsp, examples

Update changelog
  CHANGELOG.md
Labels: none

CI: build fewer example plugins
  .github/workflows/examples.yml
Labels: ci-pipeline

Added a 3-way crossover filter (#406)
  CHANGELOG.md
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

Bump version number
  CHANGELOG.md
  CMakeLists.txt
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/common/chowdsp_units/chowdsp_units.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  sonar-project.properties
Labels: dsp, gui, plugin-utils

README: add version badge
  README.md
Labels: documentation

Update docs for buffer_iters::sub_blocks
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
Labels: dsp

Add WaveshaperPlot path
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.cpp
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/Images/waveshaper_plot.png
  tests/gui_tests/chowdsp_visualizers_test/WaveshaperPlotTest.cpp
Labels: gui, tests

Regenerating image
  tests/gui_tests/chowdsp_visualizers_test/Images/waveshaper_plot.png
  tests/gui_tests/chowdsp_visualizers_test/WaveshaperPlotTest.cpp
Labels: tests

Fix sonar issue
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.cpp
Labels: gui

Add WaveshaperPlot path (#408)
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.cpp
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/Images/waveshaper_plot.png
  tests/gui_tests/chowdsp_visualizers_test/WaveshaperPlotTest.cpp
Labels: gui, tests

Add methods for freeing delay-line memory
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDDelayWrapper.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
Labels: dsp

Add tests
  tests/dsp_tests/chowdsp_dsp_utils_test/BBDTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
Labels: tests

Remove dead code
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
Labels: tests

DelayLine: add free() and processBlock() methods (#409)
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDDelayWrapper.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
  tests/dsp_tests/chowdsp_dsp_utils_test/BBDTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
Labels: dsp, tests

Add approximations for converting between gain and dB
  bench/CMakeLists.txt
  bench/DecibelsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/DecibelsApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests, benchmarks

Add comments
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
Labels: dsp

Fixing
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  tests/dsp_tests/chowdsp_math_test/DecibelsApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests

More fixing
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
Labels: dsp

Add approximations for converting between gain and dB (#410)
  bench/CMakeLists.txt
  bench/DecibelsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/DecibelsApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests, benchmarks

DeferredAction: make Timer a public base class
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
Labels: plugin-utils

ParameterAttachment: Small refactors
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils

ParameterAttachment: Small refactors (#411)
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils
