Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2022-06, with the labels that each got.

#219 Add benchmarks for polynomials
  bench/CMakeLists.txt
  bench/IIRFilterBench.cpp
  bench/PolynomialBench.cpp
Labels: benchmarks

#220 Add macros to check if classes have a given method
  .clang-tidy
  modules/common/chowdsp_core/DataStructures/chowdsp_AtomicHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_MetaHelpers.h
  modules/common/chowdsp_core/DataStructures/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/static_tests/CMakeLists.txt
  tests/static_tests/CorrectContainers_pass.cpp
  tests/static_tests/HasMemberMethodTest_pass.cpp
  tests/static_tests/HasStaticMethodTest_pass.cpp
Labels: plugin-utils, tests

#224 Make IIRFilter compatible with juce::dsp::ProcessorBase
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FirstOrderFiltersTest.cpp
Labels: dsp, tests

#225 InfoProvider: better flexibility for getWrapperTypeString()
  modules/gui/chowdsp_foleys/GuiItems/chowdsp_InfoItem.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
Labels: gui

#226 ParamUtils: add more helper functions for creating parameters
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

#223 Bilinear transform order fix
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
Labels: dsp, tests

#227 EQ: set up StandardEQParameters class
  examples/SimpleEQ/EQParams.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
Labels: dsp, examples

#229 Add support for parameter modulation in CLAP plugins
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupExamplePlugin.cmake
  examples/AutoWah/AutoWahPlugin.cpp
  examples/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.cpp
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: documentation, dsp, plugin-utils, tests, ci-pipeline, examples

#230 FIRFilter: improvements and fixes
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  tests/dsp_tests/chowdsp_filters_test/FIRFilterTest.cpp
Labels: dsp, tests

#232 Add parameter modulation to examples, and add example plugin for ForwardingParameter
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  examples/README.md
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/plugin/chowdsp_clap_extensions/ParameterExtensions/chowdsp_ModParamMixin.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests, examples

#233 Fix sneaky crash in parameter forwarding test
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests

#234 Remove optional dependency on custom fork of juce_dsp
  cmake/test/SetupBenchmark.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/AutoWah/CMakeLists.txt
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ModalSpringReverb/CMakeLists.txt
  examples/SignalGenerator/CMakeLists.txt
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleReverb/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/gui_tests/chowdsp_foleys_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/live_gui_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: dsp, gui, tests, examples

#235 Set up manager class for forwarding parameters
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

#236 Update State Variable Filter with different filter shapes
  examples/SimpleEQ/PrototypeEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/StateVariableFilterTest.cpp
Labels: dsp, tests, examples

#237 Add more options to preset menu
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComp.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets/Backend/chowdsp_Preset.h
  tests/gui_tests/chowdsp_gui_test/PresetsCompTest.cpp
Labels: gui, plugin-utils, tests
