Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2022-09, with the labels that each got.

#296 Get DSP libraries building with Teensy toolchain
  .github/workflows/build-teensy.yml
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_TargetPlatform.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDDecibels.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDLogic.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SampleTypeHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
Labels: dsp, ci-pipeline

#298 Move Polygonal Oscillator to experimental namespace
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.h
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
Labels: dsp, tests, examples

#299 Fixing flaky waveshapers test on Windows
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
Labels: dsp

#300 Prepare for version 1.2.0
  CHANGELOG.md
  CMakeLists.txt
  doxygen/Doxyfile
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_listeners/chowdsp_listeners.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
  sonar-project.properties
Labels: documentation, dsp, gui, plugin-utils

#301 Some small fixes
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
Labels: dsp

#303 Fixes for ForwardingTestPlugin
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
Labels: dsp, examples

#304 Set up benchmarks for chowdsp::Buffer
  bench/BufferBench.cpp
  bench/CMakeLists.txt
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
Labels: dsp, benchmarks

#305 Tweaks to chowdsp::Gain, and JUCE7-style ParamUtils::loadParameterPointer
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_Gain.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
Labels: dsp, plugin-utils, tests, examples
