Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2022-12, with the labels that each got.

#338 BufferMath: add applyFunction and applyFunctionSIMD methods
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

#339 Make state listener add functions [[nodiscard]]
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
Labels: plugin-utils, tests

#340 Add helper functions for copying data back and forth between SIMD and scalar audio buffers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_SIMDBufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
Labels: dsp, tests

#341 Add helper method for converting from std::string_view to juce::String
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_InfoProvider.cpp
  modules/gui/chowdsp_gui/InfoUtils/chowdsp_SystemInfo.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
Labels: gui, plugin-utils

#342 Host Context Provider addition
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_HostContextProvider.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/gui/chowdsp_gui/chowdsp_gui.h
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/test_utils/DummyPlugin.h
Labels: gui, tests

#343 Move chowdsp::experimental::ConfigFile to chowdsp::TweaksFile with improvements
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_ConfigFile.h
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.cpp
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/ConfigFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: plugin-utils, tests

#344 Add helper for concatenating string_views
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
Labels: tests

#345 PluginState: force listeners to be ScopedCallbacks
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
Labels: plugin-utils

#346 TweaksFile: set up listener pattern
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_TweaksFile.h
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
Labels: plugin-utils, tests

#347 Remove redundant chowdsp:: namespace specifiers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_PitchShift.h
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_dsp_utils/Modal/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_BypassProcessor.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_TunerProcessor.h
  modules/dsp/chowdsp_dsp_utils/Resampling/chowdsp_VariableOversampling.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQBand.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ButterworthFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_SOSFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_FirstOrderFilters.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_SecondOrderFilters.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FractionalOrderFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroLattice.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_DattorroTankNetwork.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_Diffuser.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.cpp
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_FDN.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.h
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_Noise.h
  modules/dsp/chowdsp_sources/Other/chowdsp_RepitchedSource.cpp
  modules/dsp/chowdsp_sources/Other/chowdsp_RepitchedSource.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_ProgramAdapter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_AudioUIBackgroundTask.h
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.h
Labels: dsp, plugin-utils

#348 Set up parameters view UI helper
  examples/StatefulPlugin/CMakeLists.txt
  examples/StatefulPlugin/PluginEditor.cpp
  examples/StatefulPlugin/PluginEditor.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
Labels: gui, examples

#351 Refactor modal DSP classes into their own module
  .github/workflows/build-arm-mac.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ModalSpringReverb/CMakeLists.txt
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.cpp
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilter.h
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.cpp
  modules/dsp/chowdsp_modal_dsp/ModalFilters/chowdsp_ModalFilterBank.h
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.cpp
  modules/dsp/chowdsp_modal_dsp/chowdsp_modal_dsp.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterBankTest.cpp
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: documentation, dsp, tests, ci-pipeline, examples

#353 Add parameter types for time and ratio parameters
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: plugin-utils

#355 BufferMath: add implementations for out-of-place operations
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
Labels: dsp

#354 StringHelpers: tool for concatenating string_view objects at run-time
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
Labels: tests

#356 Tweaks to plugin state string types
  modules/common/chowdsp_core/DataStructures/chowdsp_StringHelpers.h
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_json/JSONUtils/chowdsp_StringAdapter.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterPath.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/common_tests/chowdsp_core_test/StringHelpersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterPathTest.cpp
  tests/static_tests/CMakeLists.txt
  tests/static_tests/HasMemberTest_pass.cpp
  tests/static_tests/HasStaticMemberTest_pass.cpp
Labels: plugin-utils, tests

#358 LevelDetector: add interfaces for processing with BufferView, and use ScopedValue where appropriate
  examples/AutoWah/AutoWahPlugin.cpp
  examples/AutoWah/AutoWahPlugin.h
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.cpp
  modules/dsp/chowdsp_dsp_utils/Processors/chowdsp_LevelDetector.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/LevelDetectorTest.cpp
Labels: dsp, tests, examples

#359 Big refactor for PluginState
  examples/ModalSpringReverb/ModalReverbPlugin.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.h
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_Serialization.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_ParametersView.h
  modules/gui/chowdsp_gui/chowdsp_gui.cpp
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_SynthBase.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_NonParamState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterListeners.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterStateSerializer.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParameterTypeHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateHelpers.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_StateValue.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachmentHelpers.h
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_SliderAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.cpp
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StatePluginInterfaceTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
Labels: dsp, gui, plugin-utils, tests, examples

#360 Add BufferMath::sumToMono and functions for getting from chowdsp buffers to JUCE buffers
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.h
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferConversionTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
Labels: dsp, tests

#362 Update ForwardingTestPlugin example to use new plugin state
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PlateReverb.h
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/PolygonalOscPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  examples/SimpleReverb/CMakeLists.txt
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_MatrixOps.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDAlignmentHelpers.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDAlignmentHelpersTest.cpp
Labels: dsp, plugin-utils, tests, examples

#363 Initial work for chowdsp_visualizers module
  CHANGELOG.md
  README.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/FilterPlots.cpp
  examples/SimpleEQ/FilterPlots.h
  examples/SimpleEQ/PluginEditor.cpp
  examples/SimpleEQ/PluginEditor.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_QValCalcs.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EQFilterPlots.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
  tests/test_utils/CodeQuality.cpp
Labels: documentation, dsp, gui, tests, examples

#364 Improve tests and such for time units
  modules/common/chowdsp_units/Units/chowdsp_TimeUnits.h
  tests/common_tests/chowdsp_units_test/TimeUnitsTest.cpp
Labels: tests

#365 Update Catch2 and migrate more tests to use it
  cmake/AddDiagnosticInfo.cmake
  cmake/CPM.cmake
  cmake/test/SetupCatchTest.cmake
  cmake/test/SetupJuceTest.cmake
  tests/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/JSONTest.cpp
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/SerializationTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/LookupTableTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/RebufferProcessorTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/AudioTimerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/GainTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/PannerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/PitchShiftTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/TunerTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/ResamplerTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ButterQsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/FilterChainTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/JacobiEllipticTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolynomialsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterBankTest.cpp
  tests/dsp_tests/chowdsp_modal_dsp_test/ModalFilterTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSmoothedValueTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
  tests/dsp_tests/chowdsp_sources_test/PolygonalTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SawtoothTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SineTest.cpp
  tests/dsp_tests/chowdsp_sources_test/SquareTest.cpp
  tests/dsp_tests/chowdsp_sources_test/TriangleTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAFullWaveRectifierTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAATanhClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/WaveMultiplierTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_state_test/ParameterAttachmentsTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateListenersTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StatePluginInterfaceTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/StateSerializationTest.cpp
  tests/test_utils/CatchTestRunner.cpp
  tests/test_utils/CatchUtils.h
  tests/test_utils/catch2/catch2.hpp
Labels: tests
