Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2022-07, with the labels that each got.

#238 Added nonlinearities with integrated waveshaping (ADAA)
  .github/workflows/build-arm-mac.yml
  .github/workflows/run-tests.yml
  CHANGELOG.md
  cmake/AddJUCEModules.cmake
  cmake/test/SetupCodeQuality.cmake
  cmake/test/SetupStaticTests.cmake
  examples/SignalGenerator/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_math/Math/chowdsp_OtherMathOps.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polylogarithm.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/ADAATanhClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CodeQuality.cpp
Labels: dsp, tests, ci-pipeline, examples

#239 CI: upgrade CodeQL actions
  .github/workflows/run-tests.yml
Labels: ci-pipeline

#240 DataStructures: add a lookup table cache
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableCache.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_LookupTableTransform.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASoftClipperTest.cpp
Labels: dsp, plugin-utils, tests, examples

#231 Threads in global plugin settings
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.cpp
  modules/plugin/chowdsp_plugin_utils/Files/chowdsp_FileListener.h
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.cpp
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_GlobalPluginSettings.h
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
Labels: plugin-utils, tests

#241 CLAPProcessorExtensions: use direct event handling for parameter modulation
  cmake/test/SetupExamplePlugin.cmake
  examples/CMakeLists.txt
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.cpp
  modules/dsp/chowdsp_dsp_data_structures/DataStructures/chowdsp_SmoothedBufferValue.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAHardClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASoftClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.cpp
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPProcessorExtensions.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
Labels: dsp, plugin-utils, tests, examples

#243 Update example plugins to JUCE 7
  .github/workflows/bench.yml
  .github/workflows/build-arm-mac.yml
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  examples/AccessiblePlugin/AccessiblePlugin.cpp
  examples/AutoWah/AutoWahPlugin.cpp
  examples/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ModalSpringReverb/ModalReverbPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleReverb/SimpleReverbPlugin.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_StandardEQParameters.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParamUtils.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
Labels: dsp, plugin-utils, ci-pipeline, examples

#244 Update forwarding parameters to use version hints
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
Labels: plugin-utils, examples

#245 Set up testing for chowdsp_core, chowdsp_simd, and chowdsp_math without JUCE
  CMakeLists.txt
  bench/CMakeLists.txt
  bench/FIRFilterBench.cpp
  bench/IIRFilterBench.cpp
  cmake/SetupChowdspLib.cmake
  cmake/test/SetupCatchTest.cmake
  cmake/test/SetupJuceTest.cmake
  modules/common/chowdsp_core/JUCEHelpers/juce_CompilerWarnings.h
  modules/common/chowdsp_core/JUCEHelpers/juce_Decibels.h
  modules/common/chowdsp_core/JUCEHelpers/juce_ExtraDefinitions.h
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.cpp
  modules/common/chowdsp_core/JUCEHelpers/juce_FloatVectorOperations.h
  modules/common/chowdsp_core/JUCEHelpers/juce_MathsFunctions.h
  modules/common/chowdsp_core/JUCEHelpers/juce_SmoothedValue.h
  modules/common/chowdsp_core/JUCEHelpers/juce_TargetPlatform.h
  modules/common/chowdsp_core/Memory/chowdsp_MemoryAliasing.h
  modules/common/chowdsp_core/chowdsp_core.cpp
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/dsp/chowdsp_math/Math/chowdsp_FloatVectorOperations.cpp
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDSmoothedValue.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/AtomicHelpersTest.cpp
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/DoubleBufferTest.cpp
  tests/common_tests/chowdsp_core_test/MemoryAliasingTest.cpp
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_eq_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CombinatoricsTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/JacobiEllipticTest.cpp
  tests/dsp_tests/chowdsp_math_test/MatrixOpsTest.cpp
  tests/dsp_tests/chowdsp_math_test/OtherMathOpsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolylogarithmTest.cpp
  tests/dsp_tests/chowdsp_math_test/PolynomialsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
  tests/dsp_tests/chowdsp_reverb_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/SIMDSmoothedValueTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_foleys_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/music_tests/chowdsp_rhythm_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_presets_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/test_utils/CatchTestRunner.cpp
  tests/test_utils/CatchUtils.h
  tests/test_utils/JUCETestRunner.cpp
  tests/test_utils/catch2/catch2.hpp
Labels: dsp, tests, benchmarks

#246 Exclude JUCEHelpers from code coverage analysis
  .github/workflows/run-tests.yml
  modules/common/chowdsp_core/chowdsp_core.h
Labels: ci-pipeline

#247 More tweaking of code coverage flags
  .github/workflows/run-tests.yml
Labels: ci-pipeline

#249 Fix FIR filter when processing multiple channels
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
Labels: dsp

#251 Add multi-mode type to SVF
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_NthOrderFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
Labels: dsp, tests

#252 Prepare for version 1.1.0
  CHANGELOG.md
  doxygen/Doxyfile
  modules/common/chowdsp_core/Types/chowdsp_TypeTraits.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_json/chowdsp_json.h
  modules/common/chowdsp_reflection/chowdsp_reflection.h
  modules/common/chowdsp_serialization/Serialization/chowdsp_BaseSerializer.h
  modules/common/chowdsp_serialization/chowdsp_serialization.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_utils/chowdsp_dsp_utils.h
  modules/dsp/chowdsp_eq/chowdsp_eq.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_reverb/chowdsp_reverb.h
  modules/dsp/chowdsp_simd/chowdsp_simd.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  modules/gui/chowdsp_foleys/chowdsp_foleys.h
  modules/gui/chowdsp_gui/chowdsp_gui.h
  modules/music/chowdsp_rhythm/chowdsp_rhythm.h
  modules/plugin/chowdsp_clap_extensions/PluginExtensions/chowdsp_CLAPInfoExtensions.h
  modules/plugin/chowdsp_clap_extensions/chowdsp_clap_extensions.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
  modules/plugin/chowdsp_plugin_base/chowdsp_plugin_base.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  modules/plugin/chowdsp_presets/chowdsp_presets.h
  modules/plugin/chowdsp_version/chowdsp_version.h
Labels: documentation, dsp, gui, plugin-utils

#253 Add implementation of Kurt Werner's Generalized State Variable Filter
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

#254 Fix parameterization for Werner Filter example
  CHANGELOG.md
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
Labels: examples

#255 EQProcessor: fix processBlock arguments
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_EQProcessor.h
Labels: dsp

#257 Fix out-of-order preset swapping in preset manager
  modules/plugin/chowdsp_presets/Backend/chowdsp_PresetManager.cpp
Labels: plugin-utils

#258 Waveshapers: add interface for processing one sample at a time
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAAHardClipperTest.cpp
Labels: dsp, tests

#260 Waveshapers: Add west coast wavefolder implementation
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WestCoastWavefolder.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/WestCoastFolderTest.cpp
Labels: dsp, tests, examples

#261 Add sonar scan to code quality checks
  .github/workflows/code-quality.yml
  README.md
  sonar-project.properties
Labels: documentation, ci-pipeline

#262 Add multi-mode option for Werner filter
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/WernerFilterPlugin.h
  modules/common/chowdsp_core/JUCEHelpers/dsp/juce_FastMathApproximations.h
  modules/common/chowdsp_core/chowdsp_core.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/ConformalMapsTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
Labels: dsp, tests, examples

#263 CI pipeline updates and code-qual improvements
  .github/workflows/code-quality.yml
  .github/workflows/run-tests.yml
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.cpp
  modules/dsp/chowdsp_filters/Utils/chowdsp_CoefficientCalculators.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_ConformalMaps.h
  modules/dsp/chowdsp_filters/Utils/chowdsp_FilterChain.h
  modules/dsp/chowdsp_simd/SIMD/chowdsp_SIMDUtils.h
  sonar-project.properties
Labels: dsp, ci-pipeline

#264 Filters: make sure Accelerate is included before JUCE headers
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp

#265 Add wave mulitplier waveshaper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_math/Math/chowdsp_TanhIntegrals.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAATanhClipper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_WaveMultiplier.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
Labels: dsp, examples

#266 ForwardingParametersManager: add methods for setting/clearing groups of parameters
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/PluginEditor.cpp
  examples/ForwardingTestPlugin/PluginEditor.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ForwardingParametersManager.h
  modules/plugin/chowdsp_parameters/chowdsp_parameters.cpp
  modules/plugin/chowdsp_parameters/chowdsp_parameters.h
Labels: plugin-utils, examples

#274 Add ARP filter emulation
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  examples/ForwardingTestPlugin/ForwardingTestPlugin.h
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/ARPFilterPlugin.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples

#275 Add test for loading lookup tables asynchronously
  modules/dsp/chowdsp_dsp_data_structures/LookupTables/chowdsp_LookupTableTransform.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/LookupTableLoadingTest.cpp
Labels: dsp, tests

#276 Fixing issues caught by linter
  modules/common/chowdsp_core/DataStructures/chowdsp_TupleHelpers.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayInterpolation.h
  modules/dsp/chowdsp_dsp_utils/Sources/chowdsp_Noise.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_ChebyshevIIFilter.h
  modules/dsp/chowdsp_filters/HigherOrderFilters/chowdsp_EllipticFilter.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/gui/chowdsp_gui/Helpers/chowdsp_OpenGLHelper.cpp
  modules/gui/chowdsp_gui/Helpers/chowdsp_PopupMenuHelper.h
  modules/gui/chowdsp_gui/LookAndFeel/chowdsp_ChowLNF.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.cpp
  modules/gui/chowdsp_gui/PluginComponents/chowdsp_InfoComp.h
  sonar-project.properties
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/TupleHelpersTest.cpp
Labels: dsp, gui, tests

#277 Add wrapper for `moodycamel::ReaderWriterQueue`
  CHANGELOG.md
  README.md
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/LICENSE.md
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/atomicops.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/readerwriterqueue.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.cpp
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.cpp
  modules/dsp/chowdsp_filters/chowdsp_filters.h
  tests/dsp_tests/chowdsp_dsp_utils_test/resampling_tests/UpsampleDownsampleTest.cpp
Labels: documentation, dsp, tests

#278 Add "DeferredAction" utility class
  .clang-tidy
  .github/workflows/code-quality.yml
  cmake/test/SetupCodeQuality.cmake
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_dsp_data_structures/third_party/moodycamel/concurrentqueue.h
  modules/plugin/chowdsp_plugin_utils/Threads/chowdsp_DeferredMainThreadAction.h
  modules/plugin/chowdsp_plugin_utils/chowdsp_plugin_utils.h
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
Labels: dsp, plugin-utils, tests, ci-pipeline
