Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2023-03, with the labels that each got.

#408 Add WaveshaperPlot path
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.cpp
  modules/gui/chowdsp_visualizers/WaveshaperPlot/chowdsp_WaveshaperPlot.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/Images/waveshaper_plot.png
  tests/gui_tests/chowdsp_visualizers_test/WaveshaperPlotTest.cpp
Labels: gui, tests

#409 DelayLine: add free() and processBlock() methods
  modules/dsp/chowdsp_dsp_utils/Delay/BBD/chowdsp_BBDDelayWrapper.h
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.cpp
  modules/dsp/chowdsp_dsp_utils/Delay/chowdsp_DelayLine.h
  tests/dsp_tests/chowdsp_dsp_utils_test/BBDTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/BypassTest.cpp
Labels: dsp, tests

#410 Add approximations for converting between gain and dB
  bench/CMakeLists.txt
  bench/DecibelsBench.cpp
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  modules/dsp/chowdsp_math/chowdsp_math.h
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/DecibelsApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests, benchmarks

#411 ParameterAttachment: Small refactors
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ButtonAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ComboBoxAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.cpp
  modules/plugin/chowdsp_plugin_state/Frontend/chowdsp_ParameterAttachment.h
  modules/plugin/chowdsp_plugin_state/chowdsp_plugin_state.h
Labels: plugin-utils

#412 AdditiveOscillator: allow amplitude weights to be set with a span
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
Labels: dsp

#414 Presets: refactor save/load logic out of PresetManager
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginState.h
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_PluginStateImpl.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetSaverLoader.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.cpp
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
Labels: plugin-utils

#415 Extend Buffer Iterators With Sample First Iterator
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

#416 Add object for UI to audio pipeline
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_UIToAudioPipeline.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/UIToAudioPipelineTest.cpp
Labels: dsp, tests

#417 Add optional orders for math approximations
  modules/dsp/chowdsp_math/Math/chowdsp_DecibelsApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_LogApprox.h
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
  modules/dsp/chowdsp_math/Math/chowdsp_PowApprox.h
  tests/dsp_tests/chowdsp_math_test/LogApproxTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowApproxTest.cpp
Labels: dsp, tests

#418 Fixed asan error in Estrin's scheme implementation
  modules/dsp/chowdsp_math/Math/chowdsp_Polynomials.h
Labels: dsp

#419 Add LocalPointer type
  modules/common/chowdsp_core/DataStructures/chowdsp_LocalPointer.h
  modules/common/chowdsp_core/chowdsp_core.h
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/LocalPointerTest.cpp
Labels: tests
