Repository Chowdhury-DSP/chowdsp_utils, pull requests merged in 2023-02, with the labels that each got.

#383 BufferView: add constructor for 1d-array
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_filters_test/ModFilterWrapperTest.cpp
Labels: dsp, tests

#384 Making chowdsp::Buffer data more contiguous, and adding chowdsp::buffer_iters
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

#385 Add a visualizer helper for plotting the response of a generic filter
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_GenericFilterPlotter.h
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.cpp
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_SpectrumPlotBase.h
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.cpp
  modules/gui/chowdsp_visualizers/chowdsp_visualizers.h
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/EQFilterPlotsTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/EqualizerPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
Labels: gui, tests

#386 Using Catch generators for random numbers in unit tests
  tests/common_tests/chowdsp_core_test/DoubleBufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/LookupTableTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SIMDBufferCopyTest.cpp
  tests/dsp_tests/chowdsp_filters_test/NthOrderFilterTest.cpp
  tests/dsp_tests/chowdsp_filters_test/WernerFilterTest.cpp
  tests/dsp_tests/chowdsp_math_test/FloatVectorOperationsTest.cpp
  tests/dsp_tests/chowdsp_math_test/PowerTest.cpp
  tests/dsp_tests/chowdsp_simd_test/SIMDSpecialMathTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/SoftClipperTest.cpp
  tests/test_utils/CatchUtils.h
Labels: tests

#387 LNFAllocator: more optimized usage of unordered_map
  modules/plugin/chowdsp_plugin_utils/SharedUtils/chowdsp_LNFAllocator.h
Labels: plugin-utils

#388 ADAAWaveshaper: refactor to use OptionalPointer
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAAWaveshaper.h
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: dsp, tests

#389 LinearPhaseEQ: allow double-precision prototype EQ
  examples/SimpleEQ/CMakeLists.txt
  examples/SimpleEQ/PrototypeEQ.cpp
  examples/SimpleEQ/PrototypeEQ.h
  examples/SimpleEQ/SimpleEQPlugin.cpp
  examples/SimpleEQ/SimpleEQPlugin.h
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.cpp
  modules/dsp/chowdsp_eq/EQ/chowdsp_LinearPhaseEQ.h
  tests/dsp_tests/chowdsp_dsp_juce_test/LinearPhaseEQTest.cpp
Labels: dsp, tests, examples

#390 Add span-lite so that we can get buffer channels as a std::span
  modules/common/chowdsp_core/chowdsp_core.h
  modules/common/chowdsp_core/third_party/span-lite/.editorconfig
  modules/common/chowdsp_core/third_party/span-lite/.gitattributes
  modules/common/chowdsp_core/third_party/span-lite/.github/workflows/ci.yml
  modules/common/chowdsp_core/third_party/span-lite/.gitignore
  modules/common/chowdsp_core/third_party/span-lite/.tgitconfig
  modules/common/chowdsp_core/third_party/span-lite/CMakeLists.txt
  modules/common/chowdsp_core/third_party/span-lite/LICENSE.txt
  modules/common/chowdsp_core/third_party/span-lite/README.md
  modules/common/chowdsp_core/third_party/span-lite/appveyor.yml
  modules/common/chowdsp_core/third_party/span-lite/cmake/span-lite-config-version.cmake.in
  modules/common/chowdsp_core/third_party/span-lite/cmake/span-lite-config.cmake.in
  modules/common/chowdsp_core/third_party/span-lite/conanfile.py
  modules/common/chowdsp_core/third_party/span-lite/example/01-basic.cpp
  modules/common/chowdsp_core/third_party/span-lite/example/02-span.cpp
  modules/common/chowdsp_core/third_party/span-lite/example/CMakeLists.txt
  modules/common/chowdsp_core/third_party/span-lite/example/nonstd/span.tweak.hpp
  modules/common/chowdsp_core/third_party/span-lite/include/nonstd/span.hpp
  modules/common/chowdsp_core/third_party/span-lite/project/CodeBlocks/span-lite.cbp
  modules/common/chowdsp_core/third_party/span-lite/project/CodeBlocks/span-lite.workspace
  modules/common/chowdsp_core/third_party/span-lite/script/create-cov-rpt.py
  modules/common/chowdsp_core/third_party/span-lite/script/create-vcpkg.py
  modules/common/chowdsp_core/third_party/span-lite/script/update-version.py
  modules/common/chowdsp_core/third_party/span-lite/script/upload-conan.py
  modules/common/chowdsp_core/third_party/span-lite/test/CMakeLists.txt
  modules/common/chowdsp_core/third_party/span-lite/test/lest/lest_cpp03.hpp
  modules/common/chowdsp_core/third_party/span-lite/test/nonstd/span.tweak.hpp
  modules/common/chowdsp_core/third_party/span-lite/test/span-main.t.cpp
  modules/common/chowdsp_core/third_party/span-lite/test/span-main.t.hpp
  modules/common/chowdsp_core/third_party/span-lite/test/span.t.cpp
  modules/common/chowdsp_core/third_party/span-lite/test/t-all.bat
  modules/common/chowdsp_core/third_party/span-lite/test/t.bat
  modules/common/chowdsp_core/third_party/span-lite/test/tc-cl.bat
  modules/common/chowdsp_core/third_party/span-lite/test/tc.bat
  modules/common/chowdsp_core/third_party/span-lite/test/tg-all.bat
  modules/common/chowdsp_core/third_party/span-lite/test/tg.bat
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_Buffer.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferView.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.cpp
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_StaticBuffer.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_IIRFilter.h
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_ModFilterWrapper.cpp
  modules/dsp/chowdsp_filters/LowerOrderFilters/chowdsp_StateVariableFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ARPFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_FIRFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_WernerFilter.h
  modules/dsp/chowdsp_reverb/Reverb/chowdsp_ConvolutionDiffuser.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_PolygonalOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SawtoothWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SquareWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_TriangleWave.cpp
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_SoftClipper.h
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferSpanTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/BufferViewTest.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

#391 Consolidate test dependencies and continue migrating tests to Catch
  .github/workflows/auto-format.yml
  cmake/test/SetupCatchTest.cmake
  tests/common_tests/CMakeLists.txt
  tests/common_tests/chowdsp_core_test/CMakeLists.txt
  tests/common_tests/chowdsp_json_test/CMakeLists.txt
  tests/common_tests/chowdsp_serialization_test/CMakeLists.txt
  tests/common_tests/chowdsp_units_test/CMakeLists.txt
  tests/dsp_tests/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_data_structures_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_dsp_juce_test/FIRFilterTest.cpp
  tests/dsp_tests/chowdsp_dsp_utils_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_filters_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_math_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_modal_dsp_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_simd_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamModulationTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/ParamStringsTest.cpp
  tests/plugin_tests/chowdsp_parameters_test/RhythmParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioFileSaveLoadHelperTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/AudioUIBackgroundTaskTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/DeferredActionTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/FileListenerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/GlobalSettingsTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/LNFAllocatorTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/PluginLoggerTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/TweaksFileTest.cpp
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
  tests/test_utils/test_utils.h
Labels: tests, ci-pipeline

#392 Move presets_v2 code into a separate namespace
  examples/StatefulPlugin/PluginEditor.h
  examples/StatefulPlugin/StatefulPlugin.cpp
  examples/StatefulPlugin/StatefulPlugin.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.h
  modules/plugin/chowdsp_plugin_base/PluginBase/chowdsp_PluginBase.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsClipboardInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsNextPreviousInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsProgramAdapter.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsSettingsInterface.h
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsTextInterface.h
  modules/plugin/chowdsp_presets_v2/chowdsp_presets_v2.h
  tests/plugin_tests/chowdsp_presets_v2_test/ClipboardInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/FileInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/MenuInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/NextPreviousTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetManagerTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/PresetTreeTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/ProgramAdapterTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/SettingsInterfaceTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/TextInterfaceTest.cpp
Labels: gui, plugin-utils, tests, examples

#393 Updating CI pipelines
  .github/workflows/bench.yml
  .github/workflows/examples.yml
  .github/workflows/run-tests.yml
  .gitignore
  CMakeLists.txt
  cmake/test/SetupCatchTest.cmake
  codecov.yml
  modules/gui/chowdsp_visualizers/SpectrumPlots/chowdsp_EqualizerPlot.h
  tests/CMakeLists.txt
  tests/gui_tests/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/CMakeLists.txt
  tests/gui_tests/chowdsp_gui_test/HostContextProviderTest.cpp
  tests/gui_tests/chowdsp_gui_test/LongPressActionTest.cpp
  tests/gui_tests/chowdsp_gui_test/OpenGLHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/PopupMenuHelperTest.cpp
  tests/gui_tests/chowdsp_gui_test/WindowInPluginTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/CMakeLists.txt
  tests/gui_tests/chowdsp_visualizers_test/GenericFilterPlotTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/Images/eq_response_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/freq_grid_plot.png
  tests/gui_tests/chowdsp_visualizers_test/Images/generic_filter_plot.png
  tests/gui_tests/chowdsp_visualizers_test/SpectrumPlotBaseTest.cpp
  tests/gui_tests/chowdsp_visualizers_test/VizTestUtils.h
  tests/plugin_tests/CMakeLists.txt
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
  tests/plugin_tests/chowdsp_plugin_state_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_utils_test/UIStateTest.cpp
  tests/plugin_tests/chowdsp_presets_v2_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_version_test/CMakeLists.txt
  tests/test_utils/test_utils.h
Labels: gui, tests, ci-pipeline

#394 Make ParamHolder owning parameters optional, other OptionalPointer improvements
  modules/common/chowdsp_core/DataStructures/chowdsp_OptionalPointer.h
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.cpp
  modules/plugin/chowdsp_plugin_state/Backend/chowdsp_ParamHolder.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetState.cpp
  tests/common_tests/chowdsp_core_test/OptionalPointerTest.cpp
Labels: gui, plugin-utils, tests

#395 Bring back plugin base test
  .github/workflows/run-tests.yml
  codecov.yml
  tests/plugin_tests/chowdsp_plugin_base_test/CMakeLists.txt
  tests/plugin_tests/chowdsp_plugin_base_test/PluginBaseTest.cpp
  tests/plugin_tests/chowdsp_plugin_base_test/PluginDiagnosticInfoTest.cpp
Labels: tests, ci-pipeline

#396 Get ForwardingParameter working with new plugin state
  examples/ForwardingTestPlugin/CMakeLists.txt
  examples/ForwardingTestPlugin/ForwardingTestPlugin.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.cpp
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParameter.h
  modules/plugin/chowdsp_parameters/Forwarding/chowdsp_ForwardingParametersManager.h
  tests/plugin_tests/chowdsp_parameters_test/ForwardingParameterTest.cpp
Labels: plugin-utils, tests, examples

#397 Add soft sine waveshaper
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_waveshapers/Waveshapers/chowdsp_ADAASineClipper.h
  modules/dsp/chowdsp_waveshapers/chowdsp_waveshapers.h
  tests/dsp_tests/chowdsp_waveshapers_test/ADAASineClipperTest.cpp
  tests/dsp_tests/chowdsp_waveshapers_test/CMakeLists.txt
Labels: dsp, tests, examples

#398 Optimizations for chowdsp::SmoothedBufferValue::reset()
  modules/dsp/chowdsp_dsp_data_structures/Other/chowdsp_SmoothedBufferValue.cpp
  tests/dsp_tests/chowdsp_dsp_data_structures_test/SmoothedBufferValueTest.cpp
Labels: dsp, tests

#399 buffer_iters: add iterator for buffer in sub-blocks
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
Labels: dsp, tests

#400 Buffer iterator improvements and allow copying buffers across data types
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferHelpers.h
  modules/dsp/chowdsp_dsp_data_structures/Buffers/chowdsp_BufferIterators.h
  modules/dsp/chowdsp_dsp_data_structures/chowdsp_dsp_data_structures.h
  modules/dsp/chowdsp_math/Math/chowdsp_BufferMath.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferIteratorsTest.cpp
  tests/dsp_tests/chowdsp_dsp_juce_test/data_structures_tests/BufferMathTest.cpp
  tests/test_utils/CatchUtils.h
Labels: dsp, tests

#401 PresetManager: add function getUserPresetForState()
  modules/gui/chowdsp_gui/Presets/chowdsp_PresetsComponent.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_Preset.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.cpp
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetManager.h
  modules/plugin/chowdsp_presets_v2/Backend/chowdsp_PresetTree.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsFileInterface.cpp
  modules/plugin/chowdsp_presets_v2/Frontend/chowdsp_PresetsMenuInterface.cpp
Labels: gui, plugin-utils

#402 Fix EnumChoiceParameter::get()
  modules/plugin/chowdsp_parameters/ParamUtils/chowdsp_ParameterTypes.h
  tests/plugin_tests/chowdsp_parameters_test/ParamHelpersTest.cpp
Labels: plugin-utils, tests

#404 Adding additive oscillator
  CHANGELOG.md
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  examples/SignalGenerator/SignalGeneratorPlugin.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_SineWave.h
  modules/dsp/chowdsp_sources/chowdsp_sources.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
  tests/dsp_tests/chowdsp_sources_test/CMakeLists.txt
Labels: dsp, tests, examples

#405 Small improvements for AdditiveOscillator
  examples/SignalGenerator/SignalGeneratorPlugin.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.cpp
  modules/dsp/chowdsp_sources/Oscillators/chowdsp_AdditiveOscillator.h
  tests/dsp_tests/chowdsp_sources_test/AdditiveOscTest.cpp
Labels: dsp, tests, examples

#406 Added a 3-way crossover filter
  CHANGELOG.md
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.cpp
  examples/ForwardingTestPlugin/InternalPlugins/BandSplitPlugin.h
  modules/dsp/chowdsp_filters/Other/chowdsp_LinkwitzRileyFilter.h
  modules/dsp/chowdsp_filters/Other/chowdsp_ThreeWayCrossoverFilter.h
  modules/dsp/chowdsp_filters/chowdsp_filters.h
Labels: dsp, examples
